<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel contractor_master_view view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<div class="panel with-tabs panel-default form-tabs" data-itemtype="tabs" data-itemid="tabs" {$item_tabs} data-pageid="{$pageid}" data-page="contractor_master_view_view">
	<div class="panel-heading">
		<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section{$pageid}">
					Datos personales				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section1{$pageid}">
					Información de ubicación				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section3{$pageid}">
					Información financiera				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section6{$pageid}">
					Caracterización				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section2{$pageid}">
					Anexos				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section5{$pageid}">
					.				</a>
			</li>
									</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab_section{$pageid}"> 
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section" id="form_section_{$pageid}" data-makeup="small" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section_0} >
										

{BEGIN cellblock_section_c6}
<td
	{$cell_section_c6}
	class=" r-ori-vert"
	
			
			data-cellId="section_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN contractor_image_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="contractor_image" data-fieldname="contractor_image" data-before-same-field data-compact >
		{$contractor_image_value}	</div>
{END contractor_image_fieldblock}
											{BEGIN contractor_image_fieldblock}
	<div class="r-edit-tooltip" data-signal-error-for="contractor_image{$id}" data-itemtype="edit_field_tooltip" data-itemid="edit_field_tooltip" {$item_edit_field_tooltip} data-pageid="{$pageid}" data-field="contractor_image" data-fieldname="contractor_image" >
		<div data-helpfor="contractor_image" {$tooltipAttr contractor_master_view contractor_image } >
			<div class="text-muted">{$tooltip contractor_master_view contractor_image }</div>
		</div>
	</div>
{END contractor_image_fieldblock}
	
								</td>
			{END cellblock_section_c6}
			 
		
							

{BEGIN cellblock_section_c7}
<td
	{$cell_section_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section_c7}
								</tr>
	 
	 
														<tr {$row_section_1} >
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_type}  r-vertical-field" data-fieldname="contractor_type" data-signal-error-for="contractor_type{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="contractor_type" data-fieldname="contractor_type" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_type}">
		
		{BEGIN contractor_type_label}{$label contractor_master_view contractor_type }{END contractor_type_label}
	</label>
	<div class="" >
		{$contractor_type_value}	</div>

		</div>
		
</div>


{END contractor_type_fieldblock}
	
								</td>
			{END cellblock_section_c1}
			 
																

{BEGIN cellblock_section_c}
<td
	{$cell_section_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_doc_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_doc_id}  r-vertical-field" data-fieldname="contractor_doc_id" data-signal-error-for="contractor_doc_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="contractor_doc_id" data-fieldname="contractor_doc_id" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_doc_id}">
		
		{BEGIN contractor_doc_id_label}{$label contractor_master_view contractor_doc_id }{END contractor_doc_id_label}
	</label>
	<div class="" >
		{$contractor_doc_id_value}	</div>

		</div>
		
</div>


{END contractor_doc_id_fieldblock}
	
								</td>
			{END cellblock_section_c}
								</tr>
	 
	 
														<tr {$row_section_2} >
										

{BEGIN cellblock_section_c4}
<td
	{$cell_section_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_name}  r-vertical-field" data-fieldname="contractor_name" data-signal-error-for="contractor_name{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="contractor_name" data-fieldname="contractor_name" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_name}">
		
		{BEGIN contractor_name_label}{$label contractor_master_view contractor_name }{END contractor_name_label}
	</label>
	<div class="" >
		{$contractor_name_value}	</div>

		</div>
		
</div>


{END contractor_name_fieldblock}
	
								</td>
			{END cellblock_section_c4}
			 
																

{BEGIN cellblock_section_c5}
<td
	{$cell_section_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_lname_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_lname}  r-vertical-field" data-fieldname="contractor_lname" data-signal-error-for="contractor_lname{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="contractor_lname" data-fieldname="contractor_lname" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_lname}">
		
		{BEGIN contractor_lname_label}{$label contractor_master_view contractor_lname }{END contractor_lname_label}
	</label>
	<div class="" >
		{$contractor_lname_value}	</div>

		</div>
		
</div>


{END contractor_lname_fieldblock}
	
								</td>
			{END cellblock_section_c5}
								</tr>
	 
	 
														<tr {$row_section_3} >
										

{BEGIN cellblock_section_c2}
<td
	{$cell_section_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_email}  r-vertical-field" data-fieldname="contractor_email" data-signal-error-for="contractor_email{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="contractor_email" data-fieldname="contractor_email" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_email}">
		
		{BEGIN contractor_email_label}{$label contractor_master_view contractor_email }{END contractor_email_label}
	</label>
	<div class="" >
		{$contractor_email_value}	</div>

		</div>
		
</div>


{END contractor_email_fieldblock}
	
								</td>
			{END cellblock_section_c2}
			 
																

{BEGIN cellblock_section_c3}
<td
	{$cell_section_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_email_mincit_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_email_mincit}  r-vertical-field" data-fieldname="contractor_email_mincit" data-signal-error-for="contractor_email_mincit{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="contractor_email_mincit" data-fieldname="contractor_email_mincit" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_email_mincit}">
		
		{BEGIN contractor_email_mincit_label}{$label contractor_master_view contractor_email_mincit }{END contractor_email_mincit_label}
	</label>
	<div class="" >
		{$contractor_email_mincit_value}	</div>

		</div>
		
</div>


{END contractor_email_mincit_fieldblock}
	
								</td>
			{END cellblock_section_c3}
								</tr>
	 
	 
														<tr {$row_section_4} >
										

{BEGIN cellblock_section_c9}
<td
	{$cell_section_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ct_fecha_nacimiento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ct_fecha_nacimiento}  r-vertical-field" data-fieldname="ct_fecha_nacimiento" data-signal-error-for="ct_fecha_nacimiento{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field45" {$item_integrated_edit_field45} data-pageid="{$pageid}" data-field="ct_fecha_nacimiento" data-fieldname="ct_fecha_nacimiento" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_ct_fecha_nacimiento}">
		
		{BEGIN ct_fecha_nacimiento_label}{$label contractor_master_view ct_fecha_nacimiento }{END ct_fecha_nacimiento_label}
	</label>
	<div class="" >
		{$ct_fecha_nacimiento_value}	</div>

		</div>
		
</div>


{END ct_fecha_nacimiento_fieldblock}
	
								</td>
			{END cellblock_section_c9}
			 
																

{BEGIN cellblock_section_c10}
<td
	{$cell_section_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN dem_genero_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dem_genero}  r-vertical-field" data-fieldname="dem_genero" data-signal-error-for="dem_genero{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field43" {$item_integrated_edit_field43} data-pageid="{$pageid}" data-field="dem_genero" data-fieldname="dem_genero" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_dem_genero}">
		
		{BEGIN dem_genero_label}{$label contractor_master_view dem_genero }{END dem_genero_label}
	</label>
	<div class="" >
		{$dem_genero_value}	</div>

		</div>
		
</div>


{END dem_genero_fieldblock}
	
								</td>
			{END cellblock_section_c10}
								</tr>
	 
	 
														<tr {$row_section_5} >
										

{BEGIN cellblock_section_c11}
<td
	{$cell_section_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ct_nacionalidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ct_nacionalidad}  r-vertical-field" data-fieldname="ct_nacionalidad" data-signal-error-for="ct_nacionalidad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field46" {$item_integrated_edit_field46} data-pageid="{$pageid}" data-field="ct_nacionalidad" data-fieldname="ct_nacionalidad" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_ct_nacionalidad}">
		
		{BEGIN ct_nacionalidad_label}{$label contractor_master_view ct_nacionalidad }{END ct_nacionalidad_label}
	</label>
	<div class="" >
		{$ct_nacionalidad_value}	</div>

		</div>
		
</div>


{END ct_nacionalidad_fieldblock}
	
								</td>
			{END cellblock_section_c11}
			 
		
							

{BEGIN cellblock_section_c12}
<td
	{$cell_section_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section_c12}
								</tr>
	 
	 
														<tr {$row_section_6} >
										

{BEGIN cellblock_section_c8}
<td
	{$cell_section_c8}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="2"		data-cellId="section_c8" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN enlace_sigep_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_enlace_sigep}  r-vertical-field" data-fieldname="enlace_sigep" data-signal-error-for="enlace_sigep{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="enlace_sigep" data-fieldname="enlace_sigep" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_enlace_sigep}">
		
		{BEGIN enlace_sigep_label}{$label contractor_master_view enlace_sigep }{END enlace_sigep_label}
	</label>
	<div class="" >
		{$enlace_sigep_value}	</div>

		</div>
		
</div>


{END enlace_sigep_fieldblock}
	
								</td>
			{END cellblock_section_c8}
								</tr>
	 
	 
														<tr {$row_section_7} >
										

{BEGIN cellblock_section_c13}
<td
	{$cell_section_c13}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c13" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text" {$item_text} data-pageid="{$pageid}" data-small > 
	<div class="alert alert-info">
  <a href="https://www.funcionpublica.gov.co/web/sigep/hojas-de-vida" class="alert-link" target="_blank">Clic para ir a la página de función pública</a>
</div></span>
	
								</td>
			{END cellblock_section_c13}
			 
		
							

{BEGIN cellblock_section_c14}
<td
	{$cell_section_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c14" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section_c14}
								</tr>
			</tbody></table>
{END section_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section1{$pageid}"> 
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="small" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section1_0} >
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_address}  r-vertical-field" data-fieldname="contractor_address" data-signal-error-for="contractor_address{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="contractor_address" data-fieldname="contractor_address" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_address}">
		
		{BEGIN contractor_address_label}{$label contractor_master_view contractor_address }{END contractor_address_label}
	</label>
	<div class="" >
		{$contractor_address_value}	</div>

		</div>
		
</div>


{END contractor_address_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
			 
																

{BEGIN cellblock_section1_c}
<td
	{$cell_section1_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_city_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_city}  r-vertical-field" data-fieldname="contractor_city" data-signal-error-for="contractor_city{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="contractor_city" data-fieldname="contractor_city" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_city}">
		
		{BEGIN contractor_city_label}{$label contractor_master_view contractor_city }{END contractor_city_label}
	</label>
	<div class="" >
		{$contractor_city_value}	</div>

		</div>
		
</div>


{END contractor_city_fieldblock}
	
								</td>
			{END cellblock_section1_c}
								</tr>
	 
	 
														<tr {$row_section1_1} >
										

{BEGIN cellblock_section1_c6}
<td
	{$cell_section1_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_mobile_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_mobile}  r-vertical-field" data-fieldname="contractor_mobile" data-signal-error-for="contractor_mobile{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="contractor_mobile" data-fieldname="contractor_mobile" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_mobile}">
		
		{BEGIN contractor_mobile_label}{$label contractor_master_view contractor_mobile }{END contractor_mobile_label}
	</label>
	<div class="" >
		{$contractor_mobile_value}	</div>

		</div>
		
</div>


{END contractor_mobile_fieldblock}
	
								</td>
			{END cellblock_section1_c6}
			 
																

{BEGIN cellblock_section1_c7}
<td
	{$cell_section1_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_phone_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_phone}  r-vertical-field" data-fieldname="contractor_phone" data-signal-error-for="contractor_phone{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="contractor_phone" data-fieldname="contractor_phone" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_phone}">
		
		{BEGIN contractor_phone_label}{$label contractor_master_view contractor_phone }{END contractor_phone_label}
	</label>
	<div class="" >
		{$contractor_phone_value}	</div>

		</div>
		
</div>


{END contractor_phone_fieldblock}
	
								</td>
			{END cellblock_section1_c7}
								</tr>
	 
	 
														<tr {$row_section1_2} >
										

{BEGIN cellblock_section1_c8}
<td
	{$cell_section1_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_sup_jerarquico_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_sup_jerarquico}  r-vertical-field" data-fieldname="contractor_sup_jerarquico" data-signal-error-for="contractor_sup_jerarquico{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="contractor_sup_jerarquico" data-fieldname="contractor_sup_jerarquico" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_sup_jerarquico}">
		
		{BEGIN contractor_sup_jerarquico_label}{$label contractor_master_view contractor_sup_jerarquico }{END contractor_sup_jerarquico_label}
	</label>
	<div class="" >
		{$contractor_sup_jerarquico_value}	</div>

		</div>
		
</div>


{END contractor_sup_jerarquico_fieldblock}
	
								</td>
			{END cellblock_section1_c8}
			 
																

{BEGIN cellblock_section1_c9}
<td
	{$cell_section1_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_dependencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_dependencia}  r-vertical-field" data-fieldname="contractor_dependencia" data-signal-error-for="contractor_dependencia{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="contractor_dependencia" data-fieldname="contractor_dependencia" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_dependencia}">
		
		{BEGIN contractor_dependencia_label}{$label contractor_master_view contractor_dependencia }{END contractor_dependencia_label}
	</label>
	<div class="" >
		{$contractor_dependencia_value}	</div>

		</div>
		
</div>


{END contractor_dependencia_fieldblock}
	
								</td>
			{END cellblock_section1_c9}
								</tr>
	 
	 
														<tr {$row_section1_3} >
										

{BEGIN cellblock_section1_c4}
<td
	{$cell_section1_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ubica_extension_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ubica_extension}  r-vertical-field" data-fieldname="ubica_extension" data-signal-error-for="ubica_extension{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field42" {$item_integrated_edit_field42} data-pageid="{$pageid}" data-field="ubica_extension" data-fieldname="ubica_extension" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_ubica_extension}">
		
		{BEGIN ubica_extension_label}{$label contractor_master_view ubica_extension }{END ubica_extension_label}
	</label>
	<div class="" >
		{$ubica_extension_value}	</div>

		</div>
		
</div>


{END ubica_extension_fieldblock}
	
								</td>
			{END cellblock_section1_c4}
			 
		
							

{BEGIN cellblock_section1_c5}
<td
	{$cell_section1_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section1_c5}
								</tr>
			</tbody></table>
{END section1_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section3{$pageid}"> 
			{BEGIN section3_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section3" id="form_section3_{$pageid}" data-makeup="small" {$form_section3} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section3_0} >
										

{BEGIN cellblock_section3_c1}
<td
	{$cell_section3_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN bank_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_bank_name}  r-vertical-field" data-fieldname="bank_name" data-signal-error-for="bank_name{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="bank_name" data-fieldname="bank_name" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_bank_name}">
		
		{BEGIN bank_name_label}{$label contractor_master_view bank_name }{END bank_name_label}
	</label>
	<div class="" >
		{$bank_name_value}	</div>

		</div>
		
</div>


{END bank_name_fieldblock}
	
								</td>
			{END cellblock_section3_c1}
			 
																

{BEGIN cellblock_section3_c}
<td
	{$cell_section3_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN bank_cta_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_bank_cta_type}  r-vertical-field" data-fieldname="bank_cta_type" data-signal-error-for="bank_cta_type{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="bank_cta_type" data-fieldname="bank_cta_type" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_bank_cta_type}">
		
		{BEGIN bank_cta_type_label}{$label contractor_master_view bank_cta_type }{END bank_cta_type_label}
	</label>
	<div class="" >
		{$bank_cta_type_value}	</div>

		</div>
		
</div>


{END bank_cta_type_fieldblock}
	
								</td>
			{END cellblock_section3_c}
								</tr>
	 
	 
														<tr {$row_section3_1} >
										

{BEGIN cellblock_section3_c2}
<td
	{$cell_section3_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN bank_cta_number_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_bank_cta_number}  r-vertical-field" data-fieldname="bank_cta_number" data-signal-error-for="bank_cta_number{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="bank_cta_number" data-fieldname="bank_cta_number" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_bank_cta_number}">
		
		{BEGIN bank_cta_number_label}{$label contractor_master_view bank_cta_number }{END bank_cta_number_label}
	</label>
	<div class="" >
		{$bank_cta_number_value}	</div>

		</div>
		
</div>


{END bank_cta_number_fieldblock}
	
								</td>
			{END cellblock_section3_c2}
			 
																

{BEGIN cellblock_section3_c3}
<td
	{$cell_section3_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN iva_regimen_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_iva_regimen}  r-vertical-field" data-fieldname="iva_regimen" data-signal-error-for="iva_regimen{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="iva_regimen" data-fieldname="iva_regimen" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_iva_regimen}">
		
		{BEGIN iva_regimen_label}{$label contractor_master_view iva_regimen }{END iva_regimen_label}
	</label>
	<div class="" >
		{$iva_regimen_value}	</div>

		</div>
		
</div>


{END iva_regimen_fieldblock}
	
								</td>
			{END cellblock_section3_c3}
								</tr>
			</tbody></table>
{END section3_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section6{$pageid}"> 
			{BEGIN section6_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section6" id="form_section6_{$pageid}" data-makeup="small" {$form_section6} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section6_0} >
										

{BEGIN cellblock_section6_c6}
<td
	{$cell_section6_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section6_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN dem_profesion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dem_profesion}  r-vertical-field" data-fieldname="dem_profesion" data-signal-error-for="dem_profesion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="dem_profesion" data-fieldname="dem_profesion" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_dem_profesion}">
		
		{BEGIN dem_profesion_label}{$label contractor_master_view dem_profesion }{END dem_profesion_label}
	</label>
	<div class="" >
		{$dem_profesion_value}	</div>

		</div>
		
</div>


{END dem_profesion_fieldblock}
	
								</td>
			{END cellblock_section6_c6}
			 
																

{BEGIN cellblock_section6_c7}
<td
	{$cell_section6_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section6_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_dependientes_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_dependientes}  r-vertical-field" data-fieldname="contractor_dependientes" data-signal-error-for="contractor_dependientes{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-field="contractor_dependientes" data-fieldname="contractor_dependientes" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_dependientes}">
		
		{BEGIN contractor_dependientes_label}{$label contractor_master_view contractor_dependientes }{END contractor_dependientes_label}
	</label>
	<div class="" >
		{$contractor_dependientes_value}	</div>

		</div>
		
</div>


{END contractor_dependientes_fieldblock}
	
								</td>
			{END cellblock_section6_c7}
								</tr>
	 
	 
														<tr {$row_section6_1} >
										

{BEGIN cellblock_section6_c1}
<td
	{$cell_section6_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section6_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_eps_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_eps}  r-vertical-field" data-fieldname="contractor_eps" data-signal-error-for="contractor_eps{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field37" {$item_integrated_edit_field37} data-pageid="{$pageid}" data-field="contractor_eps" data-fieldname="contractor_eps" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_eps}">
		
		{BEGIN contractor_eps_label}{$label contractor_master_view contractor_eps }{END contractor_eps_label}
	</label>
	<div class="" >
		{$contractor_eps_value}	</div>

		</div>
		
</div>


{END contractor_eps_fieldblock}
	
								</td>
			{END cellblock_section6_c1}
			 
																

{BEGIN cellblock_section6_c}
<td
	{$cell_section6_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section6_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_fondopensiones_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_fondopensiones}  r-vertical-field" data-fieldname="contractor_fondopensiones" data-signal-error-for="contractor_fondopensiones{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field38" {$item_integrated_edit_field38} data-pageid="{$pageid}" data-field="contractor_fondopensiones" data-fieldname="contractor_fondopensiones" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_fondopensiones}">
		
		{BEGIN contractor_fondopensiones_label}{$label contractor_master_view contractor_fondopensiones }{END contractor_fondopensiones_label}
	</label>
	<div class="" >
		{$contractor_fondopensiones_value}	</div>

		</div>
		
</div>


{END contractor_fondopensiones_fieldblock}
	
								</td>
			{END cellblock_section6_c}
								</tr>
	 
	 
														<tr {$row_section6_2} >
										

{BEGIN cellblock_section6_c4}
<td
	{$cell_section6_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section6_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_cajacompensacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_cajacompensacion}  r-vertical-field" data-fieldname="contractor_cajacompensacion" data-signal-error-for="contractor_cajacompensacion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field39" {$item_integrated_edit_field39} data-pageid="{$pageid}" data-field="contractor_cajacompensacion" data-fieldname="contractor_cajacompensacion" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_cajacompensacion}">
		
		{BEGIN contractor_cajacompensacion_label}{$label contractor_master_view contractor_cajacompensacion }{END contractor_cajacompensacion_label}
	</label>
	<div class="" >
		{$contractor_cajacompensacion_value}	</div>

		</div>
		
</div>


{END contractor_cajacompensacion_fieldblock}
	
								</td>
			{END cellblock_section6_c4}
			 
																

{BEGIN cellblock_section6_c5}
<td
	{$cell_section6_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section6_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_arl_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_arl}  r-vertical-field" data-fieldname="contractor_arl" data-signal-error-for="contractor_arl{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field40" {$item_integrated_edit_field40} data-pageid="{$pageid}" data-field="contractor_arl" data-fieldname="contractor_arl" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_arl}">
		
		{BEGIN contractor_arl_label}{$label contractor_master_view contractor_arl }{END contractor_arl_label}
	</label>
	<div class="" >
		{$contractor_arl_value}	</div>

		</div>
		
</div>


{END contractor_arl_fieldblock}
	
								</td>
			{END cellblock_section6_c5}
								</tr>
	 
	 
														<tr {$row_section6_3} >
										

{BEGIN cellblock_section6_c2}
<td
	{$cell_section6_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section6_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN dem_discapacidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_dem_discapacidad}  r-vertical-field" data-fieldname="dem_discapacidad" data-signal-error-for="dem_discapacidad{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field50" {$item_integrated_edit_field50} data-pageid="{$pageid}" data-field="dem_discapacidad" data-fieldname="dem_discapacidad" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_dem_discapacidad}">
		
		{BEGIN dem_discapacidad_label}{$label contractor_master_view dem_discapacidad }{END dem_discapacidad_label}
	</label>
	<div class="" >
		{$dem_discapacidad_value}	</div>

		</div>
		
</div>


{END dem_discapacidad_fieldblock}
	
								</td>
			{END cellblock_section6_c2}
			 
																

{BEGIN cellblock_section6_c3}
<td
	{$cell_section6_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section6_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN emergencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_emergencia}  r-vertical-field" data-fieldname="emergencia" data-signal-error-for="emergencia{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field51" {$item_integrated_edit_field51} data-pageid="{$pageid}" data-field="emergencia" data-fieldname="emergencia" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_emergencia}">
		
		{BEGIN emergencia_label}{$label contractor_master_view emergencia }{END emergencia_label}
	</label>
	<div class="" >
		{$emergencia_value}	</div>

		</div>
		
</div>


{END emergencia_fieldblock}
	
								</td>
			{END cellblock_section6_c3}
								</tr>
			</tbody></table>
{END section6_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section2{$pageid}"> 
			{BEGIN section2_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section2" id="form_section2_{$pageid}" data-makeup="small" {$form_section2} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="3"
	>
	<tbody>
										<tr {$row_section2_0} >
										

{BEGIN cellblock_section2_c1}
<td
	{$cell_section2_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_medicinapre_file_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_medicinapre_file}  r-vertical-field" data-fieldname="contractor_medicinapre_file" data-signal-error-for="contractor_medicinapre_file{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field32" {$item_integrated_edit_field32} data-pageid="{$pageid}" data-field="contractor_medicinapre_file" data-fieldname="contractor_medicinapre_file" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_medicinapre_file}">
		
		{BEGIN contractor_medicinapre_file_label}{$label contractor_master_view contractor_medicinapre_file }{END contractor_medicinapre_file_label}
	</label>
	<div class="" >
		{$contractor_medicinapre_file_value}	</div>

		</div>
		
</div>


{END contractor_medicinapre_file_fieldblock}
	
								</td>
			{END cellblock_section2_c1}
			 
		
							

{BEGIN cellblock_section2_c}
<td
	{$cell_section2_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section2_c}
								</tr>
	 
	 
														<tr {$row_section2_1} >
										

{BEGIN cellblock_section2_c2}
<td
	{$cell_section2_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_decljur_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_decljur}  r-vertical-field" data-fieldname="contractor_decljur" data-signal-error-for="contractor_decljur{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field34" {$item_integrated_edit_field34} data-pageid="{$pageid}" data-field="contractor_decljur" data-fieldname="contractor_decljur" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_decljur}">
		
		{BEGIN contractor_decljur_label}{$label contractor_master_view contractor_decljur }{END contractor_decljur_label}
	</label>
	<div class="" >
		{$contractor_decljur_value}	</div>

		</div>
		
</div>


{END contractor_decljur_fieldblock}
	
								</td>
			{END cellblock_section2_c2}
			 
		
							

{BEGIN cellblock_section2_c3}
<td
	{$cell_section2_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c3" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section2_c3}
								</tr>
	 
	 
		
						<tr>
						

{BEGIN cellblock_section2_c4}
<td
	{$cell_section2_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section2_c4}
			 
		
							

{BEGIN cellblock_section2_c5}
<td
	{$cell_section2_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c5" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section2_c5}
								</tr>
			</tbody></table>
{END section2_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section5{$pageid}"> 
			{BEGIN section5_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section5" id="form_section5_{$pageid}" data-makeup="small" {$form_section5} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_section5_0} >
										

{BEGIN cellblock_section5_c1}
<td
	{$cell_section5_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_update_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_update}  r-vertical-field" data-fieldname="sys_update" data-signal-error-for="sys_update{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="sys_update" data-fieldname="sys_update" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_update}">
		
		{BEGIN sys_update_label}{$label contractor_master_view sys_update }{END sys_update_label}
	</label>
	<div class="" >
		{$sys_update_value}	</div>

		</div>
		
</div>


{END sys_update_fieldblock}
	
								</td>
			{END cellblock_section5_c1}
			 
																

{BEGIN cellblock_section5_c2}
<td
	{$cell_section5_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_user}  r-vertical-field" data-fieldname="sys_user" data-signal-error-for="sys_user{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="sys_user" data-fieldname="sys_user" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_user}">
		
		{BEGIN sys_user_label}{$label contractor_master_view sys_user }{END sys_user_label}
	</label>
	<div class="" >
		{$sys_user_value}	</div>

		</div>
		
</div>


{END sys_user_fieldblock}
	
								</td>
			{END cellblock_section5_c2}
			 
																

{BEGIN cellblock_section5_c}
<td
	{$cell_section5_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_date}  r-vertical-field" data-fieldname="sys_date" data-signal-error-for="sys_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="sys_date" data-fieldname="sys_date" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_date}">
		
		{BEGIN sys_date_label}{$label contractor_master_view sys_date }{END sys_date_label}
	</label>
	<div class="" >
		{$sys_date_value}	</div>

		</div>
		
</div>


{END sys_date_fieldblock}
	
								</td>
			{END cellblock_section5_c}
								</tr>
	 
	 
														<tr {$row_section5_1} >
										

{BEGIN cellblock_section5_c6}
<td
	{$cell_section5_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_level_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_level}  r-vertical-field" data-fieldname="sys_level" data-signal-error-for="sys_level{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="sys_level" data-fieldname="sys_level" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_level}">
		
		{BEGIN sys_level_label}{$label contractor_master_view sys_level }{END sys_level_label}
	</label>
	<div class="" >
		{$sys_level_value}	</div>

		</div>
		
</div>


{END sys_level_fieldblock}
	
								</td>
			{END cellblock_section5_c6}
			 
																

{BEGIN cellblock_section5_c7}
<td
	{$cell_section5_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_status_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_status}  r-vertical-field" data-fieldname="sys_status" data-signal-error-for="sys_status{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="sys_status" data-fieldname="sys_status" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_status}">
		
		{BEGIN sys_status_label}{$label contractor_master_view sys_status }{END sys_status_label}
	</label>
	<div class="" >
		{$sys_status_value}	</div>

		</div>
		
</div>


{END sys_status_fieldblock}
	
								</td>
			{END cellblock_section5_c7}
			 
		
							

{BEGIN cellblock_section5_c8}
<td
	{$cell_section5_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section5_c8}
								</tr>
	 
	 
														<tr {$row_section5_2} >
										

{BEGIN cellblock_section5_c3}
<td
	{$cell_section5_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN groupid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_groupid}  r-vertical-field" data-fieldname="groupid" data-signal-error-for="groupid{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="groupid" data-fieldname="groupid" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_groupid}">
		
		{BEGIN groupid_label}{$label contractor_master_view groupid }{END groupid_label}
	</label>
	<div class="" >
		{$groupid_value}	</div>

		</div>
		
</div>


{END groupid_fieldblock}
	
								</td>
			{END cellblock_section5_c3}
			 
																

{BEGIN cellblock_section5_c4}
<td
	{$cell_section5_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN active_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_active}  r-vertical-field" data-fieldname="active" data-signal-error-for="active{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="active" data-fieldname="active" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_active}">
		
		{BEGIN active_label}{$label contractor_master_view active }{END active_label}
	</label>
	<div class="" >
		{$active_value}	</div>

		</div>
		
</div>


{END active_fieldblock}
	
								</td>
			{END cellblock_section5_c4}
			 
																

{BEGIN cellblock_section5_c5}
<td
	{$cell_section5_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_id}  r-vertical-field" data-fieldname="contractor_id" data-signal-error-for="contractor_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field55" {$item_integrated_edit_field55} data-pageid="{$pageid}" data-field="contractor_id" data-fieldname="contractor_id" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_id}">
		
		{BEGIN contractor_id_label}{$label contractor_master_view contractor_id }{END contractor_id_label}
	</label>
	<div class="" >
		{$contractor_id_value}	</div>

		</div>
		
</div>


{END contractor_id_fieldblock}
	
								</td>
			{END cellblock_section5_c5}
								</tr>
			</tbody></table>
{END section5_block}
						</div>
				</div>
	</div>
</div>  											<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ct_fecha_nacimiento_mun_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ct_fecha_nacimiento_mun}  r-vertical-field" data-fieldname="ct_fecha_nacimiento_mun" data-signal-error-for="ct_fecha_nacimiento_mun{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="ct_fecha_nacimiento_mun" data-fieldname="ct_fecha_nacimiento_mun" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ct_fecha_nacimiento_mun}">
		
		{BEGIN ct_fecha_nacimiento_mun_label}{$label contractor_master_view ct_fecha_nacimiento_mun }{END ct_fecha_nacimiento_mun_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ct_fecha_nacimiento_mun_value}	</div>

		
</div>


{END ct_fecha_nacimiento_mun_fieldblock}
											
{BEGIN factura_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_factura}  r-vertical-field" data-fieldname="factura" data-signal-error-for="factura{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="factura" data-fieldname="factura" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_factura}">
		
		{BEGIN factura_label}{$label contractor_master_view factura }{END factura_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$factura_value}	</div>

		
</div>


{END factura_fieldblock}
											
{BEGIN actividad_economica_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_actividad_economica}  r-vertical-field" data-fieldname="actividad_economica" data-signal-error-for="actividad_economica{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="actividad_economica" data-fieldname="actividad_economica" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_actividad_economica}">
		
		{BEGIN actividad_economica_label}{$label contractor_master_view actividad_economica }{END actividad_economica_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$actividad_economica_value}	</div>

		
</div>


{END actividad_economica_fieldblock}
											
{BEGIN responsabilidades_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_responsabilidades}  r-vertical-field" data-fieldname="responsabilidades" data-signal-error-for="responsabilidades{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="responsabilidades" data-fieldname="responsabilidades" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_responsabilidades}">
		
		{BEGIN responsabilidades_label}{$label contractor_master_view responsabilidades }{END responsabilidades_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$responsabilidades_value}	</div>

		
</div>


{END responsabilidades_fieldblock}
											
{BEGIN reset_token_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_reset_token}  r-vertical-field" data-fieldname="reset_token" data-signal-error-for="reset_token{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="reset_token" data-fieldname="reset_token" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_reset_token}">
		
		{BEGIN reset_token_label}{$label contractor_master_view reset_token }{END reset_token_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$reset_token_value}	</div>

		
</div>


{END reset_token_fieldblock}
											
{BEGIN reset_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_reset_date}  r-vertical-field" data-fieldname="reset_date" data-signal-error-for="reset_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field33" {$item_integrated_edit_field33} data-pageid="{$pageid}" data-field="reset_date" data-fieldname="reset_date" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_reset_date}">
		
		{BEGIN reset_date_label}{$label contractor_master_view reset_date }{END reset_date_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$reset_date_value}	</div>

		
</div>


{END reset_date_fieldblock}
	
								</td>
			{END cellblock_grid_c}
								</tr>
	 
	 
		
						<tr>
						

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
