<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel contrato_attached search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_att_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_att}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_att{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_att" data-fieldname="id_att" >


	<label class="r-search-label control-label" for="{$labelfor_id_att}">
		{$label contrato_attached id_att }	</label>
	<div class="r-search-option">
		{$searchtype_id_att}
	</div>
	<div class="r-search-field">
		{$id_att_editcontrol}	</div>
	<div class="r-search-field">
		{$id_att_editcontrol1}
	</div>
	
</div>

{END id_att_fieldblock}
											
{BEGIN id_cont_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cont_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_cont_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_cont_fk" data-fieldname="id_cont_fk" >


	<label class="r-search-label control-label" for="{$labelfor_id_cont_fk}">
		{$label contrato_attached id_cont_fk }	</label>
	<div class="r-search-option">
		{$searchtype_id_cont_fk}
	</div>
	<div class="r-search-field">
		{$id_cont_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$id_cont_fk_editcontrol1}
	</div>
	
</div>

{END id_cont_fk_fieldblock}
											
{BEGIN cont_pre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_pre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_pre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="cont_pre" data-fieldname="cont_pre" >


	<label class="r-search-label control-label" for="{$labelfor_cont_pre}">
		{$label contrato_attached cont_pre }	</label>
	<div class="r-search-option">
		{$searchtype_cont_pre}
	</div>
	<div class="r-search-field">
		{$cont_pre_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_pre_editcontrol1}
	</div>
	
</div>

{END cont_pre_fieldblock}
											
{BEGIN cont_num_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_num}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_num{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="cont_num" data-fieldname="cont_num" >


	<label class="r-search-label control-label" for="{$labelfor_cont_num}">
		{$label contrato_attached cont_num }	</label>
	<div class="r-search-option">
		{$searchtype_cont_num}
	</div>
	<div class="r-search-field">
		{$cont_num_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_num_editcontrol1}
	</div>
	
</div>

{END cont_num_fieldblock}
											
{BEGIN cont_vigencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_vigencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_vigencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="cont_vigencia" data-fieldname="cont_vigencia" >


	<label class="r-search-label control-label" for="{$labelfor_cont_vigencia}">
		{$label contrato_attached cont_vigencia }	</label>
	<div class="r-search-option">
		{$searchtype_cont_vigencia}
	</div>
	<div class="r-search-field">
		{$cont_vigencia_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_vigencia_editcontrol1}
	</div>
	
</div>

{END cont_vigencia_fieldblock}
											
{BEGIN att_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_att_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="att_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="att_type" data-fieldname="att_type" >


	<label class="r-search-label control-label" for="{$labelfor_att_type}">
		{$label contrato_attached att_type }	</label>
	<div class="r-search-option">
		{$searchtype_att_type}
	</div>
	<div class="r-search-field">
		{$att_type_editcontrol}	</div>
	<div class="r-search-field">
		{$att_type_editcontrol1}
	</div>
	
</div>

{END att_type_fieldblock}
											
{BEGIN att_cod_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_att_cod}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="att_cod{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="att_cod" data-fieldname="att_cod" >


	<label class="r-search-label control-label" for="{$labelfor_att_cod}">
		{$label contrato_attached att_cod }	</label>
	<div class="r-search-option">
		{$searchtype_att_cod}
	</div>
	<div class="r-search-field">
		{$att_cod_editcontrol}	</div>
	<div class="r-search-field">
		{$att_cod_editcontrol1}
	</div>
	
</div>

{END att_cod_fieldblock}
											
{BEGIN att_file_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_att_file}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="att_file{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="att_file" data-fieldname="att_file" >


	<label class="r-search-label control-label" for="{$labelfor_att_file}">
		{$label contrato_attached att_file }	</label>
	<div class="r-search-option">
		{$searchtype_att_file}
	</div>
	<div class="r-search-field">
		{$att_file_editcontrol}	</div>
	<div class="r-search-field">
		{$att_file_editcontrol1}
	</div>
	
</div>

{END att_file_fieldblock}
											
{BEGIN sys_user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_user}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="sys_user" data-fieldname="sys_user" >


	<label class="r-search-label control-label" for="{$labelfor_sys_user}">
		{$label contrato_attached sys_user }	</label>
	<div class="r-search-option">
		{$searchtype_sys_user}
	</div>
	<div class="r-search-field">
		{$sys_user_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_user_editcontrol1}
	</div>
	
</div>

{END sys_user_fieldblock}
											
{BEGIN sys_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="sys_date" data-fieldname="sys_date" >


	<label class="r-search-label control-label" for="{$labelfor_sys_date}">
		{$label contrato_attached sys_date }	</label>
	<div class="r-search-option">
		{$searchtype_sys_date}
	</div>
	<div class="r-search-field">
		{$sys_date_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_date_editcontrol1}
	</div>
	
</div>

{END sys_date_fieldblock}
											
{BEGIN sys_time_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_time}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_time{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="sys_time" data-fieldname="sys_time" >


	<label class="r-search-label control-label" for="{$labelfor_sys_time}">
		{$label contrato_attached sys_time }	</label>
	<div class="r-search-option">
		{$searchtype_sys_time}
	</div>
	<div class="r-search-field">
		{$sys_time_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_time_editcontrol1}
	</div>
	
</div>

{END sys_time_fieldblock}
											
{BEGIN sys_stat_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_stat}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_stat{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="sys_stat" data-fieldname="sys_stat" >


	<label class="r-search-label control-label" for="{$labelfor_sys_stat}">
		{$label contrato_attached sys_stat }	</label>
	<div class="r-search-option">
		{$searchtype_sys_stat}
	</div>
	<div class="r-search-field">
		{$sys_stat_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_stat_editcontrol1}
	</div>
	
</div>

{END sys_stat_fieldblock}
											
{BEGIN nom_doc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nom_doc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nom_doc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="nom_doc" data-fieldname="nom_doc" >


	<label class="r-search-label control-label" for="{$labelfor_nom_doc}">
		{$label contrato_attached nom_doc }	</label>
	<div class="r-search-option">
		{$searchtype_nom_doc}
	</div>
	<div class="r-search-field">
		{$nom_doc_editcontrol}	</div>
	<div class="r-search-field">
		{$nom_doc_editcontrol1}
	</div>
	
</div>

{END nom_doc_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
