<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel contrato add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN prenumero_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_prenumero}  r-vertical-field" 
	data-signal-error-for="prenumero{$id}" {$required_attr_prenumero}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="prenumero" data-fieldname="prenumero" >

	<label class="r-edit-label control-label" for="{$labelfor_prenumero}">
		{BEGIN prenumero_label}{$label contrato prenumero }{END prenumero_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$prenumero_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="prenumero" {$tooltipAttr contrato prenumero } >
		<div class="text-muted" >
		{$tooltip contrato prenumero }		</div>
	</div>
</div>


{END prenumero_fieldblock}
											
{BEGIN numregistro_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_numregistro}  r-vertical-field" 
	data-signal-error-for="numregistro{$id}" {$required_attr_numregistro}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="numregistro" data-fieldname="numregistro" >

	<label class="r-edit-label control-label" for="{$labelfor_numregistro}">
		{BEGIN numregistro_label}{$label contrato numregistro }{END numregistro_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$numregistro_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="numregistro" {$tooltipAttr contrato numregistro } >
		<div class="text-muted" >
		{$tooltip contrato numregistro }		</div>
	</div>
</div>


{END numregistro_fieldblock}
											
{BEGIN pre_contnumero_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_pre_contnumero}  r-vertical-field" 
	data-signal-error-for="pre_contnumero{$id}" {$required_attr_pre_contnumero}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="pre_contnumero" data-fieldname="pre_contnumero" >

	<label class="r-edit-label control-label" for="{$labelfor_pre_contnumero}">
		{BEGIN pre_contnumero_label}{$label contrato pre_contnumero }{END pre_contnumero_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$pre_contnumero_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="pre_contnumero" {$tooltipAttr contrato pre_contnumero } >
		<div class="text-muted" >
		{$tooltip contrato pre_contnumero }		</div>
	</div>
</div>


{END pre_contnumero_fieldblock}
											
{BEGIN contnumero_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contnumero}  r-vertical-field" 
	data-signal-error-for="contnumero{$id}" {$required_attr_contnumero}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="contnumero" data-fieldname="contnumero" >

	<label class="r-edit-label control-label" for="{$labelfor_contnumero}">
		{BEGIN contnumero_label}{$label contrato contnumero }{END contnumero_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$contnumero_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="contnumero" {$tooltipAttr contrato contnumero } >
		<div class="text-muted" >
		{$tooltip contrato contnumero }		</div>
	</div>
</div>


{END contnumero_fieldblock}
											
{BEGIN cont_ano_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_ano}  r-vertical-field" 
	data-signal-error-for="cont_ano{$id}" {$required_attr_cont_ano}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="cont_ano" data-fieldname="cont_ano" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_ano}">
		{BEGIN cont_ano_label}{$label contrato cont_ano }{END cont_ano_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_ano_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_ano" {$tooltipAttr contrato cont_ano } >
		<div class="text-muted" >
		{$tooltip contrato cont_ano }		</div>
	</div>
</div>


{END cont_ano_fieldblock}
											
{BEGIN cont_codrubro_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_codrubro}  r-vertical-field" 
	data-signal-error-for="cont_codrubro{$id}" {$required_attr_cont_codrubro}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="cont_codrubro" data-fieldname="cont_codrubro" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_codrubro}">
		{BEGIN cont_codrubro_label}{$label contrato cont_codrubro }{END cont_codrubro_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_codrubro_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_codrubro" {$tooltipAttr contrato cont_codrubro } >
		<div class="text-muted" >
		{$tooltip contrato cont_codrubro }		</div>
	</div>
</div>


{END cont_codrubro_fieldblock}
											
{BEGIN cont_catalogo_presupuestal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_catalogo_presupuestal}  r-vertical-field" 
	data-signal-error-for="cont_catalogo_presupuestal{$id}" {$required_attr_cont_catalogo_presupuestal}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="cont_catalogo_presupuestal" data-fieldname="cont_catalogo_presupuestal" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_catalogo_presupuestal}">
		{BEGIN cont_catalogo_presupuestal_label}{$label contrato cont_catalogo_presupuestal }{END cont_catalogo_presupuestal_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_catalogo_presupuestal_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_catalogo_presupuestal" {$tooltipAttr contrato cont_catalogo_presupuestal } >
		<div class="text-muted" >
		{$tooltip contrato cont_catalogo_presupuestal }		</div>
	</div>
</div>


{END cont_catalogo_presupuestal_fieldblock}
											
{BEGIN cont_fecha_inicio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fecha_inicio}  r-vertical-field" 
	data-signal-error-for="cont_fecha_inicio{$id}" {$required_attr_cont_fecha_inicio}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="cont_fecha_inicio" data-fieldname="cont_fecha_inicio" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_fecha_inicio}">
		{BEGIN cont_fecha_inicio_label}{$label contrato cont_fecha_inicio }{END cont_fecha_inicio_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_fecha_inicio_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_fecha_inicio" {$tooltipAttr contrato cont_fecha_inicio } >
		<div class="text-muted" >
		{$tooltip contrato cont_fecha_inicio }		</div>
	</div>
</div>


{END cont_fecha_inicio_fieldblock}
											
{BEGIN cont_fechafinal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fechafinal}  r-vertical-field" 
	data-signal-error-for="cont_fechafinal{$id}" {$required_attr_cont_fechafinal}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="cont_fechafinal" data-fieldname="cont_fechafinal" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_fechafinal}">
		{BEGIN cont_fechafinal_label}{$label contrato cont_fechafinal }{END cont_fechafinal_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_fechafinal_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_fechafinal" {$tooltipAttr contrato cont_fechafinal } >
		<div class="text-muted" >
		{$tooltip contrato cont_fechafinal }		</div>
	</div>
</div>


{END cont_fechafinal_fieldblock}
											
{BEGIN cont_periodicidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_periodicidad}  r-vertical-field" 
	data-signal-error-for="cont_periodicidad{$id}" {$required_attr_cont_periodicidad}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="cont_periodicidad" data-fieldname="cont_periodicidad" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_periodicidad}">
		{BEGIN cont_periodicidad_label}{$label contrato cont_periodicidad }{END cont_periodicidad_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_periodicidad_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_periodicidad" {$tooltipAttr contrato cont_periodicidad } >
		<div class="text-muted" >
		{$tooltip contrato cont_periodicidad }		</div>
	</div>
</div>


{END cont_periodicidad_fieldblock}
											
{BEGIN cont_valorinicial_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valorinicial}  r-vertical-field" 
	data-signal-error-for="cont_valorinicial{$id}" {$required_attr_cont_valorinicial}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="cont_valorinicial" data-fieldname="cont_valorinicial" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_valorinicial}">
		{BEGIN cont_valorinicial_label}{$label contrato cont_valorinicial }{END cont_valorinicial_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_valorinicial_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_valorinicial" {$tooltipAttr contrato cont_valorinicial } >
		<div class="text-muted" >
		{$tooltip contrato cont_valorinicial }		</div>
	</div>
</div>


{END cont_valorinicial_fieldblock}
											
{BEGIN cont_valormensual_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valormensual}  r-vertical-field" 
	data-signal-error-for="cont_valormensual{$id}" {$required_attr_cont_valormensual}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="cont_valormensual" data-fieldname="cont_valormensual" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_valormensual}">
		{BEGIN cont_valormensual_label}{$label contrato cont_valormensual }{END cont_valormensual_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_valormensual_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_valormensual" {$tooltipAttr contrato cont_valormensual } >
		<div class="text-muted" >
		{$tooltip contrato cont_valormensual }		</div>
	</div>
</div>


{END cont_valormensual_fieldblock}
											
{BEGIN cont_objeto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_objeto}  r-vertical-field" 
	data-signal-error-for="cont_objeto{$id}" {$required_attr_cont_objeto}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field54" {$item_integrated_edit_field54} data-pageid="{$pageid}" data-field="cont_objeto" data-fieldname="cont_objeto" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_objeto}">
		{BEGIN cont_objeto_label}{$label contrato cont_objeto }{END cont_objeto_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_objeto_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_objeto" {$tooltipAttr contrato cont_objeto } >
		<div class="text-muted" >
		{$tooltip contrato cont_objeto }		</div>
	</div>
</div>


{END cont_objeto_fieldblock}
											
{BEGIN cont_obligaciones_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_obligaciones}  r-vertical-field" 
	data-signal-error-for="cont_obligaciones{$id}" {$required_attr_cont_obligaciones}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field55" {$item_integrated_edit_field55} data-pageid="{$pageid}" data-field="cont_obligaciones" data-fieldname="cont_obligaciones" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_obligaciones}">
		{BEGIN cont_obligaciones_label}{$label contrato cont_obligaciones }{END cont_obligaciones_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_obligaciones_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_obligaciones" {$tooltipAttr contrato cont_obligaciones } >
		<div class="text-muted" >
		{$tooltip contrato cont_obligaciones }		</div>
	</div>
</div>


{END cont_obligaciones_fieldblock}
											
{BEGIN cont_plazo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_plazo}  r-vertical-field" 
	data-signal-error-for="cont_plazo{$id}" {$required_attr_cont_plazo}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field56" {$item_integrated_edit_field56} data-pageid="{$pageid}" data-field="cont_plazo" data-fieldname="cont_plazo" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_plazo}">
		{BEGIN cont_plazo_label}{$label contrato cont_plazo }{END cont_plazo_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_plazo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_plazo" {$tooltipAttr contrato cont_plazo } >
		<div class="text-muted" >
		{$tooltip contrato cont_plazo }		</div>
	</div>
</div>


{END cont_plazo_fieldblock}
											
{BEGIN cont_secop_proceso_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_secop_proceso}  r-vertical-field" 
	data-signal-error-for="cont_secop_proceso{$id}" {$required_attr_cont_secop_proceso}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field59" {$item_integrated_edit_field59} data-pageid="{$pageid}" data-field="cont_secop_proceso" data-fieldname="cont_secop_proceso" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_secop_proceso}">
		{BEGIN cont_secop_proceso_label}{$label contrato cont_secop_proceso }{END cont_secop_proceso_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_secop_proceso_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_secop_proceso" {$tooltipAttr contrato cont_secop_proceso } >
		<div class="text-muted" >
		{$tooltip contrato cont_secop_proceso }		</div>
	</div>
</div>


{END cont_secop_proceso_fieldblock}
											
{BEGIN cont_secop_enlace_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_secop_enlace}  r-vertical-field" 
	data-signal-error-for="cont_secop_enlace{$id}" {$required_attr_cont_secop_enlace}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field60" {$item_integrated_edit_field60} data-pageid="{$pageid}" data-field="cont_secop_enlace" data-fieldname="cont_secop_enlace" >

	<label class="r-edit-label control-label" for="{$labelfor_cont_secop_enlace}">
		{BEGIN cont_secop_enlace_label}{$label contrato cont_secop_enlace }{END cont_secop_enlace_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$cont_secop_enlace_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_secop_enlace" {$tooltipAttr contrato cont_secop_enlace } >
		<div class="text-muted" >
		{$tooltip contrato cont_secop_enlace }		</div>
	</div>
</div>


{END cont_secop_enlace_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
