<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px"  class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expandir" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav menu-treelike" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline data-menu-top >
	{$item_separator}
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
		<span class="r-menu-collapsed">{$item_collicon}{$item_firstcap}</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Muestrame el menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Encubrir" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		Perfil del usuario		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Cambiar contraseña		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel contractor_master_jur view}</h2>
		</div>					</div>
			</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}




 
	 
												<div class="panel with-tabs panel-default form-tabs" data-itemtype="tabs" data-itemid="tabs" {$item_tabs} data-pageid="{$pageid}" data-page="contractor_master_jur_view">
	<div class="panel-heading">
		<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section4{$pageid}">
					Protección de datos				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section{$pageid}">
					Datos personales				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section1{$pageid}">
					Información de ubicación				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section2{$pageid}">
					Información DIAN				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section3{$pageid}">
					Información financiera				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section5{$pageid}">
									</a>
			</li>
									</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab_section4{$pageid}"> 
			{BEGIN section4_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section4" id="form_section4_{$pageid}" data-makeup="leftbar" {$form_section4} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section4_0} >
										

{BEGIN cellblock_section4_c}
<td
	{$cell_section4_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section4_c" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN terms_msj_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_terms_msj}  r-vertical-field" data-fieldname="terms_msj" data-signal-error-for="terms_msj{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field53" {$item_integrated_edit_field53} data-pageid="{$pageid}" data-field="terms_msj" data-fieldname="terms_msj" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_terms_msj}">
		
		{BEGIN terms_msj_label}{$label contractor_master_jur terms_msj }{END terms_msj_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$terms_msj_value}	</div>

		
</div>


{END terms_msj_fieldblock}
	
								</td>
			{END cellblock_section4_c}
								</tr>
	 
	 
														<tr {$row_section4_1} >
										

{BEGIN cellblock_section4_c1}
<td
	{$cell_section4_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section4_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN terms_acepta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_terms_acepta}  r-vertical-field" data-fieldname="terms_acepta" data-signal-error-for="terms_acepta{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field54" {$item_integrated_edit_field54} data-pageid="{$pageid}" data-field="terms_acepta" data-fieldname="terms_acepta" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_terms_acepta}">
		
		{BEGIN terms_acepta_label}{$label contractor_master_jur terms_acepta }{END terms_acepta_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$terms_acepta_value}	</div>

		
</div>


{END terms_acepta_fieldblock}
	
								</td>
			{END cellblock_section4_c1}
								</tr>
			</tbody></table>
{END section4_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section{$pageid}"> 
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section" id="form_section_{$pageid}" data-makeup="leftbar" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section_0} >
										

{BEGIN cellblock_section_c6}
<td
	{$cell_section_c6}
	class=" r-ori-vert"
	
			
			data-cellId="section_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN contractor_image_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="edit_field_label" {$item_edit_field_label} data-pageid="{$pageid}" data-field="contractor_image" data-fieldname="contractor_image" data-before-same-field data-compact>{BEGIN contractor_image_label}{$label contractor_master_jur contractor_image }{END contractor_image_label}</label>
{END contractor_image_fieldblock}
											{BEGIN contractor_image_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="contractor_image" data-fieldname="contractor_image" data-before-same-field data-compact >
		{$contractor_image_value}	</div>
{END contractor_image_fieldblock}
											{BEGIN contractor_image_fieldblock}
	<div class="r-edit-tooltip" data-signal-error-for="contractor_image{$id}" data-itemtype="edit_field_tooltip" data-itemid="edit_field_tooltip" {$item_edit_field_tooltip} data-pageid="{$pageid}" data-field="contractor_image" data-fieldname="contractor_image" >
		<div data-helpfor="contractor_image" {$tooltipAttr contractor_master_jur contractor_image } >
			<div class="text-muted">{$tooltip contractor_master_jur contractor_image }</div>
		</div>
	</div>
{END contractor_image_fieldblock}
	
								</td>
			{END cellblock_section_c6}
			 
																

{BEGIN cellblock_section_c7}
<td
	{$cell_section_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_type}  r-vertical-field" data-fieldname="contractor_type" data-signal-error-for="contractor_type{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="contractor_type" data-fieldname="contractor_type" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_type}">
		
		{BEGIN contractor_type_label}{$label contractor_master_jur contractor_type }{END contractor_type_label}
	</label>
	<div class="" >
		{$contractor_type_value}	</div>

		</div>
		
</div>


{END contractor_type_fieldblock}
	
								</td>
			{END cellblock_section_c7}
								</tr>
	 
	 
														<tr {$row_section_1} >
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_doc_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_doc_id}  r-vertical-field" data-fieldname="contractor_doc_id" data-signal-error-for="contractor_doc_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="contractor_doc_id" data-fieldname="contractor_doc_id" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_doc_id}">
		
		{BEGIN contractor_doc_id_label}{$label contractor_master_jur contractor_doc_id }{END contractor_doc_id_label}
	</label>
	<div class="" >
		{$contractor_doc_id_value}	</div>

		</div>
		
</div>


{END contractor_doc_id_fieldblock}
	
								</td>
			{END cellblock_section_c1}
			 
																

{BEGIN cellblock_section_c}
<td
	{$cell_section_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_doc_dv_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_doc_dv}  r-vertical-field" data-fieldname="contractor_doc_dv" data-signal-error-for="contractor_doc_dv{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="contractor_doc_dv" data-fieldname="contractor_doc_dv" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_doc_dv}">
		
		{BEGIN contractor_doc_dv_label}{$label contractor_master_jur contractor_doc_dv }{END contractor_doc_dv_label}
	</label>
	<div class="" >
		{$contractor_doc_dv_value}	</div>

		</div>
		
</div>


{END contractor_doc_dv_fieldblock}
	
								</td>
			{END cellblock_section_c}
								</tr>
	 
	 
														<tr {$row_section_2} >
										

{BEGIN cellblock_section_c4}
<td
	{$cell_section_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_name}  r-vertical-field" data-fieldname="contractor_name" data-signal-error-for="contractor_name{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="contractor_name" data-fieldname="contractor_name" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_name}">
		
		{BEGIN contractor_name_label}{$label contractor_master_jur contractor_name }{END contractor_name_label}
	</label>
	<div class="" >
		{$contractor_name_value}	</div>

		</div>
		
</div>


{END contractor_name_fieldblock}
	
								</td>
			{END cellblock_section_c4}
			 
																

{BEGIN cellblock_section_c5}
<td
	{$cell_section_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_lname_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_lname}  r-vertical-field" data-fieldname="contractor_lname" data-signal-error-for="contractor_lname{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="contractor_lname" data-fieldname="contractor_lname" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_lname}">
		
		{BEGIN contractor_lname_label}{$label contractor_master_jur contractor_lname }{END contractor_lname_label}
	</label>
	<div class="" >
		{$contractor_lname_value}	</div>

		</div>
		
</div>


{END contractor_lname_fieldblock}
	
								</td>
			{END cellblock_section_c5}
								</tr>
	 
	 
														<tr {$row_section_3} >
										

{BEGIN cellblock_section_c2}
<td
	{$cell_section_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_email}  r-vertical-field" data-fieldname="contractor_email" data-signal-error-for="contractor_email{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="contractor_email" data-fieldname="contractor_email" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_email}">
		
		{BEGIN contractor_email_label}{$label contractor_master_jur contractor_email }{END contractor_email_label}
	</label>
	<div class="" >
		{$contractor_email_value}	</div>

		</div>
		
</div>


{END contractor_email_fieldblock}
	
								</td>
			{END cellblock_section_c2}
			 
																

{BEGIN cellblock_section_c3}
<td
	{$cell_section_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_email_mincit_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_email_mincit}  r-vertical-field" data-fieldname="contractor_email_mincit" data-signal-error-for="contractor_email_mincit{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="contractor_email_mincit" data-fieldname="contractor_email_mincit" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_email_mincit}">
		
		{BEGIN contractor_email_mincit_label}{$label contractor_master_jur contractor_email_mincit }{END contractor_email_mincit_label}
	</label>
	<div class="" >
		{$contractor_email_mincit_value}	</div>

		</div>
		
</div>


{END contractor_email_mincit_fieldblock}
	
								</td>
			{END cellblock_section_c3}
								</tr>
			</tbody></table>
{END section_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section1{$pageid}"> 
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="leftbar" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section1_0} >
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_address}  r-vertical-field" data-fieldname="contractor_address" data-signal-error-for="contractor_address{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="contractor_address" data-fieldname="contractor_address" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_address}">
		
		{BEGIN contractor_address_label}{$label contractor_master_jur contractor_address }{END contractor_address_label}
	</label>
	<div class="" >
		{$contractor_address_value}	</div>

		</div>
		
</div>


{END contractor_address_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
			 
																

{BEGIN cellblock_section1_c}
<td
	{$cell_section1_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_city_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_city}  r-vertical-field" data-fieldname="contractor_city" data-signal-error-for="contractor_city{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="contractor_city" data-fieldname="contractor_city" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_city}">
		
		{BEGIN contractor_city_label}{$label contractor_master_jur contractor_city }{END contractor_city_label}
	</label>
	<div class="" >
		{$contractor_city_value}	</div>

		</div>
		
</div>


{END contractor_city_fieldblock}
	
								</td>
			{END cellblock_section1_c}
								</tr>
	 
	 
														<tr {$row_section1_1} >
										

{BEGIN cellblock_section1_c6}
<td
	{$cell_section1_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_mobile_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_mobile}  r-vertical-field" data-fieldname="contractor_mobile" data-signal-error-for="contractor_mobile{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="contractor_mobile" data-fieldname="contractor_mobile" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_mobile}">
		
		{BEGIN contractor_mobile_label}{$label contractor_master_jur contractor_mobile }{END contractor_mobile_label}
	</label>
	<div class="" >
		{$contractor_mobile_value}	</div>

		</div>
		
</div>


{END contractor_mobile_fieldblock}
	
								</td>
			{END cellblock_section1_c6}
			 
																

{BEGIN cellblock_section1_c7}
<td
	{$cell_section1_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_phone_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_phone}  r-vertical-field" data-fieldname="contractor_phone" data-signal-error-for="contractor_phone{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="contractor_phone" data-fieldname="contractor_phone" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_phone}">
		
		{BEGIN contractor_phone_label}{$label contractor_master_jur contractor_phone }{END contractor_phone_label}
	</label>
	<div class="" >
		{$contractor_phone_value}	</div>

		</div>
		
</div>


{END contractor_phone_fieldblock}
	
								</td>
			{END cellblock_section1_c7}
								</tr>
	 
	 
														<tr {$row_section1_2} >
										

{BEGIN cellblock_section1_c8}
<td
	{$cell_section1_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_sup_jerarquico_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_sup_jerarquico}  r-vertical-field" data-fieldname="contractor_sup_jerarquico" data-signal-error-for="contractor_sup_jerarquico{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="contractor_sup_jerarquico" data-fieldname="contractor_sup_jerarquico" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_sup_jerarquico}">
		
		{BEGIN contractor_sup_jerarquico_label}{$label contractor_master_jur contractor_sup_jerarquico }{END contractor_sup_jerarquico_label}
	</label>
	<div class="" >
		{$contractor_sup_jerarquico_value}	</div>

		</div>
		
</div>


{END contractor_sup_jerarquico_fieldblock}
	
								</td>
			{END cellblock_section1_c8}
			 
																

{BEGIN cellblock_section1_c9}
<td
	{$cell_section1_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section1_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_dependencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_dependencia}  r-vertical-field" data-fieldname="contractor_dependencia" data-signal-error-for="contractor_dependencia{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="contractor_dependencia" data-fieldname="contractor_dependencia" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_dependencia}">
		
		{BEGIN contractor_dependencia_label}{$label contractor_master_jur contractor_dependencia }{END contractor_dependencia_label}
	</label>
	<div class="" >
		{$contractor_dependencia_value}	</div>

		</div>
		
</div>


{END contractor_dependencia_fieldblock}
	
								</td>
			{END cellblock_section1_c9}
								</tr>
			</tbody></table>
{END section1_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section2{$pageid}"> 
			{BEGIN section2_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section2" id="form_section2_{$pageid}" data-makeup="leftbar" {$form_section2} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section2_0} >
										

{BEGIN cellblock_section2_c1}
<td
	{$cell_section2_c1}
	class=" r-ori-vert"
	
			
	ocolspan="2"		data-cellId="section2_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN actividad_economica_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="edit_field_label1" {$item_edit_field_label1} data-pageid="{$pageid}" data-field="actividad_economica" data-fieldname="actividad_economica" data-before-same-field data-compact>{BEGIN actividad_economica_label}{$label contractor_master_jur actividad_economica }{END actividad_economica_label}</label>
{END actividad_economica_fieldblock}
											{BEGIN actividad_economica_fieldblock}
	<div class="r-edit-tooltip" data-signal-error-for="actividad_economica{$id}" data-itemtype="edit_field_tooltip" data-itemid="edit_field_tooltip1" {$item_edit_field_tooltip1} data-pageid="{$pageid}" data-field="actividad_economica" data-fieldname="actividad_economica" data-before-same-field >
		<div data-helpfor="actividad_economica" {$tooltipAttr contractor_master_jur actividad_economica } >
			<div class="text-muted">{$tooltip contractor_master_jur actividad_economica }</div>
		</div>
	</div>
{END actividad_economica_fieldblock}
											{BEGIN actividad_economica_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="actividad_economica" data-fieldname="actividad_economica" data-compact >
		{$actividad_economica_value}	</div>
{END actividad_economica_fieldblock}
	
								</td>
			{END cellblock_section2_c1}
								</tr>
	 
	 
														<tr {$row_section2_1} >
										

{BEGIN cellblock_section2_c}
<td
	{$cell_section2_c}
	class=" r-ori-vert"
	
			
	ocolspan="2"		data-cellId="section2_c" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN responsabilidades_fieldblock}
	<label class="control-label r-view-label" data-itemtype="edit_field_label" data-itemid="edit_field_label2" {$item_edit_field_label2} data-pageid="{$pageid}" data-field="responsabilidades" data-fieldname="responsabilidades" data-before-same-field data-compact>{BEGIN responsabilidades_label}{$label contractor_master_jur responsabilidades }{END responsabilidades_label}</label>
{END responsabilidades_fieldblock}
											{BEGIN responsabilidades_fieldblock}
	<div class="r-edit-tooltip" data-signal-error-for="responsabilidades{$id}" data-itemtype="edit_field_tooltip" data-itemid="edit_field_tooltip2" {$item_edit_field_tooltip2} data-pageid="{$pageid}" data-field="responsabilidades" data-fieldname="responsabilidades" data-before-same-field >
		<div data-helpfor="responsabilidades" {$tooltipAttr contractor_master_jur responsabilidades } >
			<div class="text-muted">{$tooltip contractor_master_jur responsabilidades }</div>
		</div>
	</div>
{END responsabilidades_fieldblock}
											{BEGIN responsabilidades_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="responsabilidades" data-fieldname="responsabilidades" data-compact >
		{$responsabilidades_value}	</div>
{END responsabilidades_fieldblock}
	
								</td>
			{END cellblock_section2_c}
								</tr>
	 
	 
														<tr {$row_section2_2} >
										

{BEGIN cellblock_section2_c2}
<td
	{$cell_section2_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN factura_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_factura}  r-vertical-field" data-fieldname="factura" data-signal-error-for="factura{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="factura" data-fieldname="factura" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_factura}">
		
		{BEGIN factura_label}{$label contractor_master_jur factura }{END factura_label}
	</label>
	<div class="" >
		{$factura_value}	</div>

		</div>
		
</div>


{END factura_fieldblock}
	
								</td>
			{END cellblock_section2_c2}
			 
																

{BEGIN cellblock_section2_c3}
<td
	{$cell_section2_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN iva_regimen_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_iva_regimen}  r-vertical-field" data-fieldname="iva_regimen" data-signal-error-for="iva_regimen{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="iva_regimen" data-fieldname="iva_regimen" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_iva_regimen}">
		
		{BEGIN iva_regimen_label}{$label contractor_master_jur iva_regimen }{END iva_regimen_label}
	</label>
	<div class="" >
		{$iva_regimen_value}	</div>

		</div>
		
</div>


{END iva_regimen_fieldblock}
	
								</td>
			{END cellblock_section2_c3}
								</tr>
			</tbody></table>
{END section2_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section3{$pageid}"> 
			{BEGIN section3_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section3" id="form_section3_{$pageid}" data-makeup="leftbar" {$form_section3} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section3_0} >
										

{BEGIN cellblock_section3_c1}
<td
	{$cell_section3_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN bank_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_bank_name}  r-vertical-field" data-fieldname="bank_name" data-signal-error-for="bank_name{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="bank_name" data-fieldname="bank_name" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_bank_name}">
		
		{BEGIN bank_name_label}{$label contractor_master_jur bank_name }{END bank_name_label}
	</label>
	<div class="" >
		{$bank_name_value}	</div>

		</div>
		
</div>


{END bank_name_fieldblock}
	
								</td>
			{END cellblock_section3_c1}
			 
																

{BEGIN cellblock_section3_c}
<td
	{$cell_section3_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN bank_cta_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_bank_cta_type}  r-vertical-field" data-fieldname="bank_cta_type" data-signal-error-for="bank_cta_type{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="bank_cta_type" data-fieldname="bank_cta_type" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_bank_cta_type}">
		
		{BEGIN bank_cta_type_label}{$label contractor_master_jur bank_cta_type }{END bank_cta_type_label}
	</label>
	<div class="" >
		{$bank_cta_type_value}	</div>

		</div>
		
</div>


{END bank_cta_type_fieldblock}
	
								</td>
			{END cellblock_section3_c}
								</tr>
	 
	 
														<tr {$row_section3_1} >
										

{BEGIN cellblock_section3_c2}
<td
	{$cell_section3_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN bank_cta_number_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_bank_cta_number}  r-vertical-field" data-fieldname="bank_cta_number" data-signal-error-for="bank_cta_number{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="bank_cta_number" data-fieldname="bank_cta_number" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_bank_cta_number}">
		
		{BEGIN bank_cta_number_label}{$label contractor_master_jur bank_cta_number }{END bank_cta_number_label}
	</label>
	<div class="" >
		{$bank_cta_number_value}	</div>

		</div>
		
</div>


{END bank_cta_number_fieldblock}
	
								</td>
			{END cellblock_section3_c2}
			 
		
							

{BEGIN cellblock_section3_c3}
<td
	{$cell_section3_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section3_c3}
								</tr>
	 
	 
		
						<tr>
						

{BEGIN cellblock_section3_c4}
<td
	{$cell_section3_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section3_c4}
			 
		
							

{BEGIN cellblock_section3_c5}
<td
	{$cell_section3_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section3_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section3_c5}
								</tr>
			</tbody></table>
{END section3_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section5{$pageid}"> 
			{BEGIN section5_block}




 
	 
												<table 
	data-body-align="left"
	data-location="section5" id="form_section5_{$pageid}" data-makeup="leftbar" {$form_section5} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_section5_0} >
										

{BEGIN cellblock_section5_c1}
<td
	{$cell_section5_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_update_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_update}  r-vertical-field" data-fieldname="sys_update" data-signal-error-for="sys_update{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="sys_update" data-fieldname="sys_update" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_update}">
		
		{BEGIN sys_update_label}{$label contractor_master_jur sys_update }{END sys_update_label}
	</label>
	<div class="" >
		{$sys_update_value}	</div>

		</div>
		
</div>


{END sys_update_fieldblock}
	
								</td>
			{END cellblock_section5_c1}
			 
																

{BEGIN cellblock_section5_c2}
<td
	{$cell_section5_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_user}  r-vertical-field" data-fieldname="sys_user" data-signal-error-for="sys_user{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="sys_user" data-fieldname="sys_user" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_user}">
		
		{BEGIN sys_user_label}{$label contractor_master_jur sys_user }{END sys_user_label}
	</label>
	<div class="" >
		{$sys_user_value}	</div>

		</div>
		
</div>


{END sys_user_fieldblock}
	
								</td>
			{END cellblock_section5_c2}
			 
																

{BEGIN cellblock_section5_c}
<td
	{$cell_section5_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_date}  r-vertical-field" data-fieldname="sys_date" data-signal-error-for="sys_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="sys_date" data-fieldname="sys_date" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_date}">
		
		{BEGIN sys_date_label}{$label contractor_master_jur sys_date }{END sys_date_label}
	</label>
	<div class="" >
		{$sys_date_value}	</div>

		</div>
		
</div>


{END sys_date_fieldblock}
	
								</td>
			{END cellblock_section5_c}
								</tr>
	 
	 
														<tr {$row_section5_1} >
										

{BEGIN cellblock_section5_c6}
<td
	{$cell_section5_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_level_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_level}  r-vertical-field" data-fieldname="sys_level" data-signal-error-for="sys_level{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="sys_level" data-fieldname="sys_level" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_level}">
		
		{BEGIN sys_level_label}{$label contractor_master_jur sys_level }{END sys_level_label}
	</label>
	<div class="" >
		{$sys_level_value}	</div>

		</div>
		
</div>


{END sys_level_fieldblock}
	
								</td>
			{END cellblock_section5_c6}
			 
																

{BEGIN cellblock_section5_c7}
<td
	{$cell_section5_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_status_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_status}  r-vertical-field" data-fieldname="sys_status" data-signal-error-for="sys_status{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="sys_status" data-fieldname="sys_status" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_status}">
		
		{BEGIN sys_status_label}{$label contractor_master_jur sys_status }{END sys_status_label}
	</label>
	<div class="" >
		{$sys_status_value}	</div>

		</div>
		
</div>


{END sys_status_fieldblock}
	
								</td>
			{END cellblock_section5_c7}
			 
		
							

{BEGIN cellblock_section5_c8}
<td
	{$cell_section5_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section5_c8}
								</tr>
	 
	 
														<tr {$row_section5_2} >
										

{BEGIN cellblock_section5_c3}
<td
	{$cell_section5_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN groupid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_groupid}  r-vertical-field" data-fieldname="groupid" data-signal-error-for="groupid{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="groupid" data-fieldname="groupid" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_groupid}">
		
		{BEGIN groupid_label}{$label contractor_master_jur groupid }{END groupid_label}
	</label>
	<div class="" >
		{$groupid_value}	</div>

		</div>
		
</div>


{END groupid_fieldblock}
	
								</td>
			{END cellblock_section5_c3}
			 
																

{BEGIN cellblock_section5_c4}
<td
	{$cell_section5_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN active_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_active}  r-vertical-field" data-fieldname="active" data-signal-error-for="active{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="active" data-fieldname="active" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_active}">
		
		{BEGIN active_label}{$label contractor_master_jur active }{END active_label}
	</label>
	<div class="" >
		{$active_value}	</div>

		</div>
		
</div>


{END active_fieldblock}
	
								</td>
			{END cellblock_section5_c4}
			 
																

{BEGIN cellblock_section5_c5}
<td
	{$cell_section5_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section5_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractor_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_id}  r-vertical-field" data-fieldname="contractor_id" data-signal-error-for="contractor_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field55" {$item_integrated_edit_field55} data-pageid="{$pageid}" data-field="contractor_id" data-fieldname="contractor_id" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_contractor_id}">
		
		{BEGIN contractor_id_label}{$label contractor_master_jur contractor_id }{END contractor_id_label}
	</label>
	<div class="" >
		{$contractor_id_value}	</div>

		</div>
		
</div>


{END contractor_id_fieldblock}
	
								</td>
			{END cellblock_section5_c5}
								</tr>
			</tbody></table>
{END section5_block}
						</div>
				</div>
	</div>
</div>  	
				{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	
">
		 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
		</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	
">
		 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="contractor_master_jur_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
