<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel hoja_ruta_2020_trpn_jur view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<span data-itemtype="text" data-itemid="text1" {$item_text1} data-pageid="{$pageid}" data-small > 
	<div class="alert alert-info" role="alert">
 Recuerde enviar la solicitud de pago a JORGE ELIECER MORA NARVAEZ, en la central de cuentas </div></span>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<div class="panel with-tabs panel-default form-tabs" data-itemtype="tabs" data-itemid="tabs" {$item_tabs} data-pageid="{$pageid}" data-page="hoja_ruta_2020_trpn_jur_view">
	<div class="panel-heading">
		<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section{$pageid}">
					Gestionar pago				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section1{$pageid}">
									</a>
			</li>
									</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab_section{$pageid}"> 
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section" id="form_section_{$pageid}" data-makeup="small" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section_0} >
										

{BEGIN cellblock_section_c15}
<td
	{$cell_section_c15}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="2"		data-cellId="section_c15" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="text" data-itemid="text" {$item_text} data-pageid="{$pageid}" data-small > 
	<div class="alert alert-info" role="alert">
 Recuerde enviar la solicitud de pago a JORGE ELIECER MORA NARVAEZ, en la central de cuentas </div></span>
	
								</td>
			{END cellblock_section_c15}
								</tr>
	 
	 
														<tr {$row_section_1} >
										

{BEGIN cellblock_section_c14}
<td
	{$cell_section_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c14" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN hr_nit_contra_ta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hr_nit_contra_ta}  r-vertical-field" data-fieldname="hr_nit_contra_ta" data-signal-error-for="hr_nit_contra_ta{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="hr_nit_contra_ta" data-fieldname="hr_nit_contra_ta" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_hr_nit_contra_ta}">
		
		{BEGIN hr_nit_contra_ta_label}{$label hoja_ruta_2020_trpn_jur hr_nit_contra_ta }{END hr_nit_contra_ta_label}
	</label>
	<div class="" >
		{$hr_nit_contra_ta_value}	</div>

		</div>
		
</div>


{END hr_nit_contra_ta_fieldblock}
	
								</td>
			{END cellblock_section_c14}
			 
																

{BEGIN cellblock_section_c16}
<td
	{$cell_section_c16}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c16" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN hr_concepto_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hr_concepto_id}  r-vertical-field" data-fieldname="hr_concepto_id" data-signal-error-for="hr_concepto_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="hr_concepto_id" data-fieldname="hr_concepto_id" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_hr_concepto_id}">
		
		{BEGIN hr_concepto_id_label}{$label hoja_ruta_2020_trpn_jur hr_concepto_id }{END hr_concepto_id_label}
	</label>
	<div class="" >
		{$hr_concepto_id_value}	</div>

		</div>
		
</div>


{END hr_concepto_id_fieldblock}
	
								</td>
			{END cellblock_section_c16}
								</tr>
	 
	 
														<tr {$row_section_2} >
										

{BEGIN cellblock_section_c2}
<td
	{$cell_section_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_cont_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cont_fk}  r-vertical-field" data-fieldname="id_cont_fk" data-signal-error-for="id_cont_fk{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="id_cont_fk" data-fieldname="id_cont_fk" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_id_cont_fk}">
		
		{BEGIN id_cont_fk_label}{$label hoja_ruta_2020_trpn_jur id_cont_fk }{END id_cont_fk_label}
	</label>
	<div class="" >
		{$id_cont_fk_value}	</div>

		</div>
		
</div>


{END id_cont_fk_fieldblock}
	
								</td>
			{END cellblock_section_c2}
			 
																

{BEGIN cellblock_section_c3}
<td
	{$cell_section_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_informe_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_informe_fk}  r-vertical-field" data-fieldname="id_informe_fk" data-signal-error-for="id_informe_fk{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="id_informe_fk" data-fieldname="id_informe_fk" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_id_informe_fk}">
		
		{BEGIN id_informe_fk_label}{$label hoja_ruta_2020_trpn_jur id_informe_fk }{END id_informe_fk_label}
	</label>
	<div class="" >
		{$id_informe_fk_value}	</div>

		</div>
		
</div>


{END id_informe_fk_fieldblock}
	
								</td>
			{END cellblock_section_c3}
								</tr>
	 
	 
														<tr {$row_section_3} >
										

{BEGIN cellblock_section_c6}
<td
	{$cell_section_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN hr_asunto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hr_asunto}  r-vertical-field" data-fieldname="hr_asunto" data-signal-error-for="hr_asunto{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="hr_asunto" data-fieldname="hr_asunto" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_hr_asunto}">
		
		{BEGIN hr_asunto_label}{$label hoja_ruta_2020_trpn_jur hr_asunto }{END hr_asunto_label}
	</label>
	<div class="" >
		{$hr_asunto_value}	</div>

		</div>
		
</div>


{END hr_asunto_fieldblock}
	
								</td>
			{END cellblock_section_c6}
			 
																

{BEGIN cellblock_section_c7}
<td
	{$cell_section_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN hr_valor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hr_valor}  r-vertical-field" data-fieldname="hr_valor" data-signal-error-for="hr_valor{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="hr_valor" data-fieldname="hr_valor" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_hr_valor}">
		
		{BEGIN hr_valor_label}{$label hoja_ruta_2020_trpn_jur hr_valor }{END hr_valor_label}
	</label>
	<div class="" >
		{$hr_valor_value}	</div>

		</div>
		
</div>


{END hr_valor_fieldblock}
	
								</td>
			{END cellblock_section_c7}
								</tr>
	 
	 
														<tr {$row_section_4} >
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_user}  r-vertical-field" data-fieldname="sys_user" data-signal-error-for="sys_user{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="sys_user" data-fieldname="sys_user" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_user}">
		
		{BEGIN sys_user_label}{$label hoja_ruta_2020_trpn_jur sys_user }{END sys_user_label}
	</label>
	<div class="" >
		{$sys_user_value}	</div>

		</div>
		
</div>


{END sys_user_fieldblock}
	
								</td>
			{END cellblock_section_c1}
			 
																

{BEGIN cellblock_section_c}
<td
	{$cell_section_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN not_mail_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_not_mail}  r-vertical-field" data-fieldname="not_mail" data-signal-error-for="not_mail{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="not_mail" data-fieldname="not_mail" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_not_mail}">
		
		{BEGIN not_mail_label}{$label hoja_ruta_2020_trpn_jur not_mail }{END not_mail_label}
	</label>
	<div class="" >
		{$not_mail_value}	</div>

		</div>
		
</div>


{END not_mail_fieldblock}
	
								</td>
			{END cellblock_section_c}
								</tr>
	 
	 
														<tr {$row_section_5} >
										

{BEGIN cellblock_section_c12}
<td
	{$cell_section_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN evento_type_id_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_evento_type_id_fk}  r-vertical-field" data-fieldname="evento_type_id_fk" data-signal-error-for="evento_type_id_fk{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="evento_type_id_fk" data-fieldname="evento_type_id_fk" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_evento_type_id_fk}">
		
		{BEGIN evento_type_id_fk_label}{$label hoja_ruta_2020_trpn_jur evento_type_id_fk }{END evento_type_id_fk_label}
	</label>
	<div class="" >
		{$evento_type_id_fk_value}	</div>

		</div>
		
</div>


{END evento_type_id_fk_fieldblock}
	
								</td>
			{END cellblock_section_c12}
			 
																

{BEGIN cellblock_section_c13}
<td
	{$cell_section_c13}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c13" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN tercero_email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_tercero_email}  r-vertical-field" data-fieldname="tercero_email" data-signal-error-for="tercero_email{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="tercero_email" data-fieldname="tercero_email" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_tercero_email}">
		
		{BEGIN tercero_email_label}{$label hoja_ruta_2020_trpn_jur tercero_email }{END tercero_email_label}
	</label>
	<div class="" >
		{$tercero_email_value}	</div>

		</div>
		
</div>


{END tercero_email_fieldblock}
	
								</td>
			{END cellblock_section_c13}
								</tr>
			</tbody></table>
{END section_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section1{$pageid}"> 
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="small" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section1_0} >
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN hr_fechaingreso_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hr_fechaingreso}  r-vertical-field" data-fieldname="hr_fechaingreso" data-signal-error-for="hr_fechaingreso{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="hr_fechaingreso" data-fieldname="hr_fechaingreso" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_hr_fechaingreso}">
		
		{BEGIN hr_fechaingreso_label}{$label hoja_ruta_2020_trpn_jur hr_fechaingreso }{END hr_fechaingreso_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$hr_fechaingreso_value}	</div>

		
</div>


{END hr_fechaingreso_fieldblock}
											
{BEGIN sys_fecha_reg_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_fecha_reg}  r-vertical-field" data-fieldname="sys_fecha_reg" data-signal-error-for="sys_fecha_reg{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="sys_fecha_reg" data-fieldname="sys_fecha_reg" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_sys_fecha_reg}">
		
		{BEGIN sys_fecha_reg_label}{$label hoja_ruta_2020_trpn_jur sys_fecha_reg }{END sys_fecha_reg_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$sys_fecha_reg_value}	</div>

		
</div>


{END sys_fecha_reg_fieldblock}
											
{BEGIN last_act_user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_last_act_user}  r-vertical-field" data-fieldname="last_act_user" data-signal-error-for="last_act_user{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-field="last_act_user" data-fieldname="last_act_user" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_last_act_user}">
		
		{BEGIN last_act_user_label}{$label hoja_ruta_2020_trpn_jur last_act_user }{END last_act_user_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$last_act_user_value}	</div>

		
</div>


{END last_act_user_fieldblock}
											
{BEGIN user_from_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_user_from}  r-vertical-field" data-fieldname="user_from" data-signal-error-for="user_from{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="user_from" data-fieldname="user_from" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_user_from}">
		
		{BEGIN user_from_label}{$label hoja_ruta_2020_trpn_jur user_from }{END user_from_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$user_from_value}	</div>

		
</div>


{END user_from_fieldblock}
											
{BEGIN hr_anio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hr_anio}  r-vertical-field" data-fieldname="hr_anio" data-signal-error-for="hr_anio{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="hr_anio" data-fieldname="hr_anio" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_hr_anio}">
		
		{BEGIN hr_anio_label}{$label hoja_ruta_2020_trpn_jur hr_anio }{END hr_anio_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$hr_anio_value}	</div>

		
</div>


{END hr_anio_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
								</tr>
			</tbody></table>
{END section1_block}
						</div>
				</div>
	</div>
</div>  											<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN supervisor_email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_supervisor_email}  r-vertical-field" data-fieldname="supervisor_email" data-signal-error-for="supervisor_email{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="supervisor_email" data-fieldname="supervisor_email" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_supervisor_email}">
		
		{BEGIN supervisor_email_label}{$label hoja_ruta_2020_trpn_jur supervisor_email }{END supervisor_email_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$supervisor_email_value}	</div>

		
</div>


{END supervisor_email_fieldblock}
											
{BEGIN uej_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_uej}  r-vertical-field" data-fieldname="uej" data-signal-error-for="uej{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="uej" data-fieldname="uej" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_uej}">
		
		{BEGIN uej_label}{$label hoja_ruta_2020_trpn_jur uej }{END uej_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$uej_value}	</div>

		
</div>


{END uej_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="hoja_ruta_2020_trpn_jur_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
