<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel hoja_ruta_2020_trpn_jur search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN hr_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hr_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="hr_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="hr_id" data-fieldname="hr_id" >


	<label class="r-search-label control-label" for="{$labelfor_hr_id}">
		{$label hoja_ruta_2020_trpn_jur hr_id }	</label>
	<div class="r-search-option">
		{$searchtype_hr_id}
	</div>
	<div class="r-search-field">
		{$hr_id_editcontrol}	</div>
	<div class="r-search-field">
		{$hr_id_editcontrol1}
	</div>
	
</div>

{END hr_id_fieldblock}
											
{BEGIN id_cont_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cont_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_cont_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="id_cont_fk" data-fieldname="id_cont_fk" >


	<label class="r-search-label control-label" for="{$labelfor_id_cont_fk}">
		{$label hoja_ruta_2020_trpn_jur id_cont_fk }	</label>
	<div class="r-search-option">
		{$searchtype_id_cont_fk}
	</div>
	<div class="r-search-field">
		{$id_cont_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$id_cont_fk_editcontrol1}
	</div>
	
</div>

{END id_cont_fk_fieldblock}
											
{BEGIN id_informe_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_informe_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_informe_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="id_informe_fk" data-fieldname="id_informe_fk" >


	<label class="r-search-label control-label" for="{$labelfor_id_informe_fk}">
		{$label hoja_ruta_2020_trpn_jur id_informe_fk }	</label>
	<div class="r-search-option">
		{$searchtype_id_informe_fk}
	</div>
	<div class="r-search-field">
		{$id_informe_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$id_informe_fk_editcontrol1}
	</div>
	
</div>

{END id_informe_fk_fieldblock}
											
{BEGIN hr_concepto_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hr_concepto_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="hr_concepto_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="hr_concepto_id" data-fieldname="hr_concepto_id" >


	<label class="r-search-label control-label" for="{$labelfor_hr_concepto_id}">
		{$label hoja_ruta_2020_trpn_jur hr_concepto_id }	</label>
	<div class="r-search-option">
		{$searchtype_hr_concepto_id}
	</div>
	<div class="r-search-field">
		{$hr_concepto_id_editcontrol}	</div>
	<div class="r-search-field">
		{$hr_concepto_id_editcontrol1}
	</div>
	
</div>

{END hr_concepto_id_fieldblock}
											
{BEGIN hr_anio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hr_anio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="hr_anio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="hr_anio" data-fieldname="hr_anio" >


	<label class="r-search-label control-label" for="{$labelfor_hr_anio}">
		{$label hoja_ruta_2020_trpn_jur hr_anio }	</label>
	<div class="r-search-option">
		{$searchtype_hr_anio}
	</div>
	<div class="r-search-field">
		{$hr_anio_editcontrol}	</div>
	<div class="r-search-field">
		{$hr_anio_editcontrol1}
	</div>
	
</div>

{END hr_anio_fieldblock}
											
{BEGIN hr_nit_contra_ta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hr_nit_contra_ta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="hr_nit_contra_ta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="hr_nit_contra_ta" data-fieldname="hr_nit_contra_ta" >


	<label class="r-search-label control-label" for="{$labelfor_hr_nit_contra_ta}">
		{$label hoja_ruta_2020_trpn_jur hr_nit_contra_ta }	</label>
	<div class="r-search-option">
		{$searchtype_hr_nit_contra_ta}
	</div>
	<div class="r-search-field">
		{$hr_nit_contra_ta_editcontrol}	</div>
	<div class="r-search-field">
		{$hr_nit_contra_ta_editcontrol1}
	</div>
	
</div>

{END hr_nit_contra_ta_fieldblock}
											
{BEGIN hr_asunto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hr_asunto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="hr_asunto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="hr_asunto" data-fieldname="hr_asunto" >


	<label class="r-search-label control-label" for="{$labelfor_hr_asunto}">
		{$label hoja_ruta_2020_trpn_jur hr_asunto }	</label>
	<div class="r-search-option">
		{$searchtype_hr_asunto}
	</div>
	<div class="r-search-field">
		{$hr_asunto_editcontrol}	</div>
	<div class="r-search-field">
		{$hr_asunto_editcontrol1}
	</div>
	
</div>

{END hr_asunto_fieldblock}
											
{BEGIN hr_valor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hr_valor}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="hr_valor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="hr_valor" data-fieldname="hr_valor" >


	<label class="r-search-label control-label" for="{$labelfor_hr_valor}">
		{$label hoja_ruta_2020_trpn_jur hr_valor }	</label>
	<div class="r-search-option">
		{$searchtype_hr_valor}
	</div>
	<div class="r-search-field">
		{$hr_valor_editcontrol}	</div>
	<div class="r-search-field">
		{$hr_valor_editcontrol1}
	</div>
	
</div>

{END hr_valor_fieldblock}
											
{BEGIN hr_fechaingreso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hr_fechaingreso}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="hr_fechaingreso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="hr_fechaingreso" data-fieldname="hr_fechaingreso" >


	<label class="r-search-label control-label" for="{$labelfor_hr_fechaingreso}">
		{$label hoja_ruta_2020_trpn_jur hr_fechaingreso }	</label>
	<div class="r-search-option">
		{$searchtype_hr_fechaingreso}
	</div>
	<div class="r-search-field">
		{$hr_fechaingreso_editcontrol}	</div>
	<div class="r-search-field">
		{$hr_fechaingreso_editcontrol1}
	</div>
	
</div>

{END hr_fechaingreso_fieldblock}
											
{BEGIN sys_user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_user}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="sys_user" data-fieldname="sys_user" >


	<label class="r-search-label control-label" for="{$labelfor_sys_user}">
		{$label hoja_ruta_2020_trpn_jur sys_user }	</label>
	<div class="r-search-option">
		{$searchtype_sys_user}
	</div>
	<div class="r-search-field">
		{$sys_user_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_user_editcontrol1}
	</div>
	
</div>

{END sys_user_fieldblock}
											
{BEGIN sys_fecha_reg_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_fecha_reg}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_fecha_reg{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="sys_fecha_reg" data-fieldname="sys_fecha_reg" >


	<label class="r-search-label control-label" for="{$labelfor_sys_fecha_reg}">
		{$label hoja_ruta_2020_trpn_jur sys_fecha_reg }	</label>
	<div class="r-search-option">
		{$searchtype_sys_fecha_reg}
	</div>
	<div class="r-search-field">
		{$sys_fecha_reg_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_fecha_reg_editcontrol1}
	</div>
	
</div>

{END sys_fecha_reg_fieldblock}
											
{BEGIN not_mail_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_not_mail}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="not_mail{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="not_mail" data-fieldname="not_mail" >


	<label class="r-search-label control-label" for="{$labelfor_not_mail}">
		{$label hoja_ruta_2020_trpn_jur not_mail }	</label>
	<div class="r-search-option">
		{$searchtype_not_mail}
	</div>
	<div class="r-search-field">
		{$not_mail_editcontrol}	</div>
	<div class="r-search-field">
		{$not_mail_editcontrol1}
	</div>
	
</div>

{END not_mail_fieldblock}
											
{BEGIN evento_type_id_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_evento_type_id_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="evento_type_id_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="evento_type_id_fk" data-fieldname="evento_type_id_fk" >


	<label class="r-search-label control-label" for="{$labelfor_evento_type_id_fk}">
		{$label hoja_ruta_2020_trpn_jur evento_type_id_fk }	</label>
	<div class="r-search-option">
		{$searchtype_evento_type_id_fk}
	</div>
	<div class="r-search-field">
		{$evento_type_id_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$evento_type_id_fk_editcontrol1}
	</div>
	
</div>

{END evento_type_id_fk_fieldblock}
											
{BEGIN user_from_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_user_from}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="user_from{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="user_from" data-fieldname="user_from" >


	<label class="r-search-label control-label" for="{$labelfor_user_from}">
		{$label hoja_ruta_2020_trpn_jur user_from }	</label>
	<div class="r-search-option">
		{$searchtype_user_from}
	</div>
	<div class="r-search-field">
		{$user_from_editcontrol}	</div>
	<div class="r-search-field">
		{$user_from_editcontrol1}
	</div>
	
</div>

{END user_from_fieldblock}
											
{BEGIN tercero_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tercero_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tercero_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="tercero_email" data-fieldname="tercero_email" >


	<label class="r-search-label control-label" for="{$labelfor_tercero_email}">
		{$label hoja_ruta_2020_trpn_jur tercero_email }	</label>
	<div class="r-search-option">
		{$searchtype_tercero_email}
	</div>
	<div class="r-search-field">
		{$tercero_email_editcontrol}	</div>
	<div class="r-search-field">
		{$tercero_email_editcontrol1}
	</div>
	
</div>

{END tercero_email_fieldblock}
											
{BEGIN last_act_user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_last_act_user}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="last_act_user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="last_act_user" data-fieldname="last_act_user" >


	<label class="r-search-label control-label" for="{$labelfor_last_act_user}">
		{$label hoja_ruta_2020_trpn_jur last_act_user }	</label>
	<div class="r-search-option">
		{$searchtype_last_act_user}
	</div>
	<div class="r-search-field">
		{$last_act_user_editcontrol}	</div>
	<div class="r-search-field">
		{$last_act_user_editcontrol1}
	</div>
	
</div>

{END last_act_user_fieldblock}
											
{BEGIN etapa_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_etapa}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="etapa{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="etapa" data-fieldname="etapa" >


	<label class="r-search-label control-label" for="{$labelfor_etapa}">
		{$label hoja_ruta_2020_trpn_jur etapa }	</label>
	<div class="r-search-option">
		{$searchtype_etapa}
	</div>
	<div class="r-search-field">
		{$etapa_editcontrol}	</div>
	<div class="r-search-field">
		{$etapa_editcontrol1}
	</div>
	
</div>

{END etapa_fieldblock}
											
{BEGIN cxc_id_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_id_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cxc_id_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="cxc_id_fk" data-fieldname="cxc_id_fk" >


	<label class="r-search-label control-label" for="{$labelfor_cxc_id_fk}">
		{$label hoja_ruta_2020_trpn_jur cxc_id_fk }	</label>
	<div class="r-search-option">
		{$searchtype_cxc_id_fk}
	</div>
	<div class="r-search-field">
		{$cxc_id_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$cxc_id_fk_editcontrol1}
	</div>
	
</div>

{END cxc_id_fk_fieldblock}
											
{BEGIN sysdate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sysdate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sysdate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="sysdate" data-fieldname="sysdate" >


	<label class="r-search-label control-label" for="{$labelfor_sysdate}">
		{$label hoja_ruta_2020_trpn_jur sysdate }	</label>
	<div class="r-search-option">
		{$searchtype_sysdate}
	</div>
	<div class="r-search-field">
		{$sysdate_editcontrol}	</div>
	<div class="r-search-field">
		{$sysdate_editcontrol1}
	</div>
	
</div>

{END sysdate_fieldblock}
											
{BEGIN supervisor_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_supervisor_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="supervisor_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="supervisor_email" data-fieldname="supervisor_email" >


	<label class="r-search-label control-label" for="{$labelfor_supervisor_email}">
		{$label hoja_ruta_2020_trpn_jur supervisor_email }	</label>
	<div class="r-search-option">
		{$searchtype_supervisor_email}
	</div>
	<div class="r-search-field">
		{$supervisor_email_editcontrol}	</div>
	<div class="r-search-field">
		{$supervisor_email_editcontrol1}
	</div>
	
</div>

{END supervisor_email_fieldblock}
											
{BEGIN uej_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_uej}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="uej{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="uej" data-fieldname="uej" >


	<label class="r-search-label control-label" for="{$labelfor_uej}">
		{$label hoja_ruta_2020_trpn_jur uej }	</label>
	<div class="r-search-option">
		{$searchtype_uej}
	</div>
	<div class="r-search-field">
		{$uej_editcontrol}	</div>
	<div class="r-search-field">
		{$uej_editcontrol1}
	</div>
	
</div>

{END uej_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
