<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel informe_intersup_anexos_contratista_o search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_anexo_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_anexo_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_anexo_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="inf_anexo_id" data-fieldname="inf_anexo_id" >


	<label class="r-search-label control-label" for="{$labelfor_inf_anexo_id}">
		{$label informe_intersup_anexos_contratista_o inf_anexo_id }	</label>
	<div class="r-search-option">
		{$searchtype_inf_anexo_id}
	</div>
	<div class="r-search-field">
		{$inf_anexo_id_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_anexo_id_editcontrol1}
	</div>
	
</div>

{END inf_anexo_id_fieldblock}
											
{BEGIN inf_id_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_id_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_id_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="inf_id_fk" data-fieldname="inf_id_fk" >


	<label class="r-search-label control-label" for="{$labelfor_inf_id_fk}">
		{$label informe_intersup_anexos_contratista_o inf_id_fk }	</label>
	<div class="r-search-option">
		{$searchtype_inf_id_fk}
	</div>
	<div class="r-search-field">
		{$inf_id_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_id_fk_editcontrol1}
	</div>
	
</div>

{END inf_id_fk_fieldblock}
											
{BEGIN id_cont_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cont_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_cont_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="id_cont_fk" data-fieldname="id_cont_fk" >


	<label class="r-search-label control-label" for="{$labelfor_id_cont_fk}">
		{$label informe_intersup_anexos_contratista_o id_cont_fk }	</label>
	<div class="r-search-option">
		{$searchtype_id_cont_fk}
	</div>
	<div class="r-search-field">
		{$id_cont_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$id_cont_fk_editcontrol1}
	</div>
	
</div>

{END id_cont_fk_fieldblock}
											
{BEGIN anexo_titulo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_anexo_titulo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="anexo_titulo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="anexo_titulo" data-fieldname="anexo_titulo" >


	<label class="r-search-label control-label" for="{$labelfor_anexo_titulo}">
		{$label informe_intersup_anexos_contratista_o anexo_titulo }	</label>
	<div class="r-search-option">
		{$searchtype_anexo_titulo}
	</div>
	<div class="r-search-field">
		{$anexo_titulo_editcontrol}	</div>
	<div class="r-search-field">
		{$anexo_titulo_editcontrol1}
	</div>
	
</div>

{END anexo_titulo_fieldblock}
											
{BEGIN anexo_file_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_anexo_file}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="anexo_file{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="anexo_file" data-fieldname="anexo_file" >


	<label class="r-search-label control-label" for="{$labelfor_anexo_file}">
		{$label informe_intersup_anexos_contratista_o anexo_file }	</label>
	<div class="r-search-option">
		{$searchtype_anexo_file}
	</div>
	<div class="r-search-field">
		{$anexo_file_editcontrol}	</div>
	<div class="r-search-field">
		{$anexo_file_editcontrol1}
	</div>
	
</div>

{END anexo_file_fieldblock}
											
{BEGIN anexo_fecha_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_anexo_fecha}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="anexo_fecha{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="anexo_fecha" data-fieldname="anexo_fecha" >


	<label class="r-search-label control-label" for="{$labelfor_anexo_fecha}">
		{$label informe_intersup_anexos_contratista_o anexo_fecha }	</label>
	<div class="r-search-option">
		{$searchtype_anexo_fecha}
	</div>
	<div class="r-search-field">
		{$anexo_fecha_editcontrol}	</div>
	<div class="r-search-field">
		{$anexo_fecha_editcontrol1}
	</div>
	
</div>

{END anexo_fecha_fieldblock}
											
{BEGIN anexo_hora_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_anexo_hora}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="anexo_hora{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="anexo_hora" data-fieldname="anexo_hora" >


	<label class="r-search-label control-label" for="{$labelfor_anexo_hora}">
		{$label informe_intersup_anexos_contratista_o anexo_hora }	</label>
	<div class="r-search-option">
		{$searchtype_anexo_hora}
	</div>
	<div class="r-search-field">
		{$anexo_hora_editcontrol}	</div>
	<div class="r-search-field">
		{$anexo_hora_editcontrol1}
	</div>
	
</div>

{END anexo_hora_fieldblock}
											
{BEGIN anexo_usuario_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_anexo_usuario}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="anexo_usuario{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="anexo_usuario" data-fieldname="anexo_usuario" >


	<label class="r-search-label control-label" for="{$labelfor_anexo_usuario}">
		{$label informe_intersup_anexos_contratista_o anexo_usuario }	</label>
	<div class="r-search-option">
		{$searchtype_anexo_usuario}
	</div>
	<div class="r-search-field">
		{$anexo_usuario_editcontrol}	</div>
	<div class="r-search-field">
		{$anexo_usuario_editcontrol1}
	</div>
	
</div>

{END anexo_usuario_fieldblock}
											
{BEGIN ctrl_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ctrl}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ctrl{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="ctrl" data-fieldname="ctrl" >


	<label class="r-search-label control-label" for="{$labelfor_ctrl}">
		{$label informe_intersup_anexos_contratista_o ctrl }	</label>
	<div class="r-search-option">
		{$searchtype_ctrl}
	</div>
	<div class="r-search-field">
		{$ctrl_editcontrol}	</div>
	<div class="r-search-field">
		{$ctrl_editcontrol1}
	</div>
	
</div>

{END ctrl_fieldblock}
											
{BEGIN anexo_file_sup_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_anexo_file_sup}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="anexo_file_sup{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="anexo_file_sup" data-fieldname="anexo_file_sup" >


	<label class="r-search-label control-label" for="{$labelfor_anexo_file_sup}">
		{$label informe_intersup_anexos_contratista_o anexo_file_sup }	</label>
	<div class="r-search-option">
		{$searchtype_anexo_file_sup}
	</div>
	<div class="r-search-field">
		{$anexo_file_sup_editcontrol}	</div>
	<div class="r-search-field">
		{$anexo_file_sup_editcontrol1}
	</div>
	
</div>

{END anexo_file_sup_fieldblock}
											
{BEGIN anexo_grupo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_anexo_grupo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="anexo_grupo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="anexo_grupo" data-fieldname="anexo_grupo" >


	<label class="r-search-label control-label" for="{$labelfor_anexo_grupo}">
		{$label informe_intersup_anexos_contratista_o anexo_grupo }	</label>
	<div class="r-search-option">
		{$searchtype_anexo_grupo}
	</div>
	<div class="r-search-field">
		{$anexo_grupo_editcontrol}	</div>
	<div class="r-search-field">
		{$anexo_grupo_editcontrol1}
	</div>
	
</div>

{END anexo_grupo_fieldblock}
											
{BEGIN anexo_hash_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_anexo_hash}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="anexo_hash{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="anexo_hash" data-fieldname="anexo_hash" >


	<label class="r-search-label control-label" for="{$labelfor_anexo_hash}">
		{$label informe_intersup_anexos_contratista_o anexo_hash }	</label>
	<div class="r-search-option">
		{$searchtype_anexo_hash}
	</div>
	<div class="r-search-field">
		{$anexo_hash_editcontrol}	</div>
	<div class="r-search-field">
		{$anexo_hash_editcontrol1}
	</div>
	
</div>

{END anexo_hash_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
