<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="2"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel informe_intersup_cxc view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="2"
	data-v-margin="0"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<div class="panel with-tabs panel-default form-tabs" data-itemtype="tabs" data-itemid="tabs" {$item_tabs} data-pageid="{$pageid}" data-page="informe_intersup_cxc_view">
	<div class="panel-heading">
		<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section{$pageid}">
					Solicitud				</a>
			</li>
										<li role="presentation" class="">
				<a aria-controls="settings" role="tab" data-toggle="tab" href="#tab_section2{$pageid}">
									</a>
			</li>
									</ul>
	</div>
	<div class="panel-body">
		<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="tab_section{$pageid}"> 
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section" id="form_section_{$pageid}" data-makeup="small" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_section_0} >
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_id_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_id_fk}  r-vertical-field" data-fieldname="inf_id_fk" data-signal-error-for="inf_id_fk{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="inf_id_fk" data-fieldname="inf_id_fk" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_inf_id_fk}">
		
		{BEGIN inf_id_fk_label}{$label informe_intersup_cxc inf_id_fk }{END inf_id_fk_label}
	</label>
	<div class="" >
		{$inf_id_fk_value}	</div>

		</div>
		
</div>


{END inf_id_fk_fieldblock}
	
								</td>
			{END cellblock_section_c1}
			 
																

{BEGIN cellblock_section_c2}
<td
	{$cell_section_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_cont_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cont}  r-vertical-field" data-fieldname="id_cont" data-signal-error-for="id_cont{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field38" {$item_integrated_edit_field38} data-pageid="{$pageid}" data-field="id_cont" data-fieldname="id_cont" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_id_cont}">
		
		{BEGIN id_cont_label}{$label informe_intersup_cxc id_cont }{END id_cont_label}
	</label>
	<div class="" >
		{$id_cont_value}	</div>

		</div>
		
</div>


{END id_cont_fieldblock}
	
								</td>
			{END cellblock_section_c2}
			 
		
							

{BEGIN cellblock_section_c}
<td
	{$cell_section_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section_c}
								</tr>
	 
	 
														<tr {$row_section_1} >
										

{BEGIN cellblock_section_c3}
<td
	{$cell_section_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_hash_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_hash_fk}  r-vertical-field" data-fieldname="inf_hash_fk" data-signal-error-for="inf_hash_fk{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="inf_hash_fk" data-fieldname="inf_hash_fk" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_inf_hash_fk}">
		
		{BEGIN inf_hash_fk_label}{$label informe_intersup_cxc inf_hash_fk }{END inf_hash_fk_label}
	</label>
	<div class="" >
		{$inf_hash_fk_value}	</div>

		</div>
		
</div>


{END inf_hash_fk_fieldblock}
	
								</td>
			{END cellblock_section_c3}
			 
																

{BEGIN cellblock_section_c4}
<td
	{$cell_section_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cxc_numdoc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_numdoc}  r-vertical-field" data-fieldname="cxc_numdoc" data-signal-error-for="cxc_numdoc{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="cxc_numdoc" data-fieldname="cxc_numdoc" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cxc_numdoc}">
		
		{BEGIN cxc_numdoc_label}{$label informe_intersup_cxc cxc_numdoc }{END cxc_numdoc_label}
	</label>
	<div class="" >
		{$cxc_numdoc_value}	</div>

		</div>
		
</div>


{END cxc_numdoc_fieldblock}
	
								</td>
			{END cellblock_section_c4}
			 
																

{BEGIN cellblock_section_c5}
<td
	{$cell_section_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cxc_razonsocial_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_razonsocial}  r-vertical-field" data-fieldname="cxc_razonsocial" data-signal-error-for="cxc_razonsocial{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="cxc_razonsocial" data-fieldname="cxc_razonsocial" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cxc_razonsocial}">
		
		{BEGIN cxc_razonsocial_label}{$label informe_intersup_cxc cxc_razonsocial }{END cxc_razonsocial_label}
	</label>
	<div class="" >
		{$cxc_razonsocial_value}	</div>

		</div>
		
</div>


{END cxc_razonsocial_fieldblock}
	
								</td>
			{END cellblock_section_c5}
								</tr>
	 
	 
														<tr {$row_section_2} >
										

{BEGIN cellblock_section_c6}
<td
	{$cell_section_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cxc_periodoi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_periodoi}  r-vertical-field" data-fieldname="cxc_periodoi" data-signal-error-for="cxc_periodoi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="cxc_periodoi" data-fieldname="cxc_periodoi" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cxc_periodoi}">
		
		{BEGIN cxc_periodoi_label}{$label informe_intersup_cxc cxc_periodoi }{END cxc_periodoi_label}
	</label>
	<div class="" >
		{$cxc_periodoi_value}	</div>

		</div>
		
</div>


{END cxc_periodoi_fieldblock}
	
								</td>
			{END cellblock_section_c6}
			 
																

{BEGIN cellblock_section_c7}
<td
	{$cell_section_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cxc_periodof_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_periodof}  r-vertical-field" data-fieldname="cxc_periodof" data-signal-error-for="cxc_periodof{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="cxc_periodof" data-fieldname="cxc_periodof" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cxc_periodof}">
		
		{BEGIN cxc_periodof_label}{$label informe_intersup_cxc cxc_periodof }{END cxc_periodof_label}
	</label>
	<div class="" >
		{$cxc_periodof_value}	</div>

		</div>
		
</div>


{END cxc_periodof_fieldblock}
	
								</td>
			{END cellblock_section_c7}
			 
																

{BEGIN cellblock_section_c8}
<td
	{$cell_section_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_factura_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_factura}  r-vertical-field" data-fieldname="cont_factura" data-signal-error-for="cont_factura{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field51" {$item_integrated_edit_field51} data-pageid="{$pageid}" data-field="cont_factura" data-fieldname="cont_factura" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_factura}">
		
		{BEGIN cont_factura_label}{$label informe_intersup_cxc cont_factura }{END cont_factura_label}
	</label>
	<div class="" >
		{$cont_factura_value}	</div>

		</div>
		
</div>


{END cont_factura_fieldblock}
	
								</td>
			{END cellblock_section_c8}
								</tr>
	 
	 
														<tr {$row_section_3} >
										

{BEGIN cellblock_section_c18}
<td
	{$cell_section_c18}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c18" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_consecutivo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_consecutivo}  r-vertical-field" data-fieldname="id_consecutivo" data-signal-error-for="id_consecutivo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field40" {$item_integrated_edit_field40} data-pageid="{$pageid}" data-field="id_consecutivo" data-fieldname="id_consecutivo" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_id_consecutivo}">
		
		{BEGIN id_consecutivo_label}{$label informe_intersup_cxc id_consecutivo }{END id_consecutivo_label}
	</label>
	<div class="" >
		{$id_consecutivo_value}	</div>

		</div>
		
</div>


{END id_consecutivo_fieldblock}
	
								</td>
			{END cellblock_section_c18}
			 
																

{BEGIN cellblock_section_c19}
<td
	{$cell_section_c19}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c19" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_mes_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_mes}  r-vertical-field" data-fieldname="inf_mes" data-signal-error-for="inf_mes{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="inf_mes" data-fieldname="inf_mes" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_inf_mes}">
		
		{BEGIN inf_mes_label}{$label informe_intersup_cxc inf_mes }{END inf_mes_label}
	</label>
	<div class="" >
		{$inf_mes_value}	</div>

		</div>
		
</div>


{END inf_mes_fieldblock}
	
								</td>
			{END cellblock_section_c19}
			 
																

{BEGIN cellblock_section_c20}
<td
	{$cell_section_c20}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c20" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_tipopago_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_tipopago}  r-vertical-field" data-fieldname="inf_tipopago" data-signal-error-for="inf_tipopago{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="inf_tipopago" data-fieldname="inf_tipopago" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_inf_tipopago}">
		
		{BEGIN inf_tipopago_label}{$label informe_intersup_cxc inf_tipopago }{END inf_tipopago_label}
	</label>
	<div class="" >
		{$inf_tipopago_value}	</div>

		</div>
		
</div>


{END inf_tipopago_fieldblock}
	
								</td>
			{END cellblock_section_c20}
								</tr>
	 
	 
														<tr {$row_section_4} >
										

{BEGIN cellblock_section_c9}
<td
	{$cell_section_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cxc_valor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_valor}  r-vertical-field" data-fieldname="cxc_valor" data-signal-error-for="cxc_valor{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="cxc_valor" data-fieldname="cxc_valor" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cxc_valor}">
		
		{BEGIN cxc_valor_label}{$label informe_intersup_cxc cxc_valor }{END cxc_valor_label}
	</label>
	<div class="" >
		{$cxc_valor_value}	</div>

		</div>
		
</div>


{END cxc_valor_fieldblock}
	
								</td>
			{END cellblock_section_c9}
			 
		
							

{BEGIN cellblock_section_c10}
<td
	{$cell_section_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section_c10}
			 
		
							

{BEGIN cellblock_section_c11}
<td
	{$cell_section_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section_c11}
								</tr>
	 
	 
														<tr {$row_section_5} >
										

{BEGIN cellblock_section_c12}
<td
	{$cell_section_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_banco_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_banco}  r-vertical-field" data-fieldname="cont_banco" data-signal-error-for="cont_banco{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field48" {$item_integrated_edit_field48} data-pageid="{$pageid}" data-field="cont_banco" data-fieldname="cont_banco" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_banco}">
		
		{BEGIN cont_banco_label}{$label informe_intersup_cxc cont_banco }{END cont_banco_label}
	</label>
	<div class="" >
		{$cont_banco_value}	</div>

		</div>
		
</div>


{END cont_banco_fieldblock}
	
								</td>
			{END cellblock_section_c12}
			 
																

{BEGIN cellblock_section_c13}
<td
	{$cell_section_c13}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c13" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_cuentatipo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_cuentatipo}  r-vertical-field" data-fieldname="cont_cuentatipo" data-signal-error-for="cont_cuentatipo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field49" {$item_integrated_edit_field49} data-pageid="{$pageid}" data-field="cont_cuentatipo" data-fieldname="cont_cuentatipo" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_cuentatipo}">
		
		{BEGIN cont_cuentatipo_label}{$label informe_intersup_cxc cont_cuentatipo }{END cont_cuentatipo_label}
	</label>
	<div class="" >
		{$cont_cuentatipo_value}	</div>

		</div>
		
</div>


{END cont_cuentatipo_fieldblock}
	
								</td>
			{END cellblock_section_c13}
			 
																

{BEGIN cellblock_section_c14}
<td
	{$cell_section_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section_c14" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_cuentanumero_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_cuentanumero}  r-vertical-field" data-fieldname="cont_cuentanumero" data-signal-error-for="cont_cuentanumero{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field50" {$item_integrated_edit_field50} data-pageid="{$pageid}" data-field="cont_cuentanumero" data-fieldname="cont_cuentanumero" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_cuentanumero}">
		
		{BEGIN cont_cuentanumero_label}{$label informe_intersup_cxc cont_cuentanumero }{END cont_cuentanumero_label}
	</label>
	<div class="" >
		{$cont_cuentanumero_value}	</div>

		</div>
		
</div>


{END cont_cuentanumero_fieldblock}
	
								</td>
			{END cellblock_section_c14}
								</tr>
			</tbody></table>
{END section_block}
						</div>
					<div role="tabpanel" class="tab-pane " id="tab_section2{$pageid}"> 
			{BEGIN section2_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section2" id="form_section2_{$pageid}" data-makeup="small" {$form_section2} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_section2_0} >
										

{BEGIN cellblock_section2_c1}
<td
	{$cell_section2_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_user}  r-vertical-field" data-fieldname="sys_user" data-signal-error-for="sys_user{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="sys_user" data-fieldname="sys_user" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_user}">
		
		{BEGIN sys_user_label}{$label informe_intersup_cxc sys_user }{END sys_user_label}
	</label>
	<div class="" >
		{$sys_user_value}	</div>

		</div>
		
</div>


{END sys_user_fieldblock}
	
								</td>
			{END cellblock_section2_c1}
			 
																

{BEGIN cellblock_section2_c2}
<td
	{$cell_section2_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_fecha_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_fecha}  r-vertical-field" data-fieldname="sys_fecha" data-signal-error-for="sys_fecha{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="sys_fecha" data-fieldname="sys_fecha" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_fecha}">
		
		{BEGIN sys_fecha_label}{$label informe_intersup_cxc sys_fecha }{END sys_fecha_label}
	</label>
	<div class="" >
		{$sys_fecha_value}	</div>

		</div>
		
</div>


{END sys_fecha_fieldblock}
	
								</td>
			{END cellblock_section2_c2}
			 
																

{BEGIN cellblock_section2_c}
<td
	{$cell_section2_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cxc_cont_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_cont}  r-vertical-field" data-fieldname="cxc_cont" data-signal-error-for="cxc_cont{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="cxc_cont" data-fieldname="cxc_cont" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cxc_cont}">
		
		{BEGIN cxc_cont_label}{$label informe_intersup_cxc cxc_cont }{END cxc_cont_label}
	</label>
	<div class="" >
		{$cxc_cont_value}	</div>

		</div>
		
</div>


{END cxc_cont_fieldblock}
	
								</td>
			{END cellblock_section2_c}
								</tr>
	 
	 
														<tr {$row_section2_1} >
										

{BEGIN cellblock_section2_c6}
<td
	{$cell_section2_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cxc_anio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_anio}  r-vertical-field" data-fieldname="cxc_anio" data-signal-error-for="cxc_anio{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="cxc_anio" data-fieldname="cxc_anio" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cxc_anio}">
		
		{BEGIN cxc_anio_label}{$label informe_intersup_cxc cxc_anio }{END cxc_anio_label}
	</label>
	<div class="" >
		{$cxc_anio_value}	</div>

		</div>
		
</div>


{END cxc_anio_fieldblock}
	
								</td>
			{END cellblock_section2_c6}
			 
																

{BEGIN cellblock_section2_c7}
<td
	{$cell_section2_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cxc_tipocontrato_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_tipocontrato}  r-vertical-field" data-fieldname="cxc_tipocontrato" data-signal-error-for="cxc_tipocontrato{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="cxc_tipocontrato" data-fieldname="cxc_tipocontrato" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cxc_tipocontrato}">
		
		{BEGIN cxc_tipocontrato_label}{$label informe_intersup_cxc cxc_tipocontrato }{END cxc_tipocontrato_label}
	</label>
	<div class="" >
		{$cxc_tipocontrato_value}	</div>

		</div>
		
</div>


{END cxc_tipocontrato_fieldblock}
	
								</td>
			{END cellblock_section2_c7}
			 
		
							

{BEGIN cellblock_section2_c8}
<td
	{$cell_section2_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section2_c8}
								</tr>
	 
	 
														<tr {$row_section2_2} >
										

{BEGIN cellblock_section2_c3}
<td
	{$cell_section2_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_fechai_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fechai}  r-vertical-field" data-fieldname="cont_fechai" data-signal-error-for="cont_fechai{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="cont_fechai" data-fieldname="cont_fechai" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_fechai}">
		
		{BEGIN cont_fechai_label}{$label informe_intersup_cxc cont_fechai }{END cont_fechai_label}
	</label>
	<div class="" >
		{$cont_fechai_value}	</div>

		</div>
		
</div>


{END cont_fechai_fieldblock}
	
								</td>
			{END cellblock_section2_c3}
			 
																

{BEGIN cellblock_section2_c4}
<td
	{$cell_section2_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_fechaf_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fechaf}  r-vertical-field" data-fieldname="cont_fechaf" data-signal-error-for="cont_fechaf{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="cont_fechaf" data-fieldname="cont_fechaf" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_fechaf}">
		
		{BEGIN cont_fechaf_label}{$label informe_intersup_cxc cont_fechaf }{END cont_fechaf_label}
	</label>
	<div class="" >
		{$cont_fechaf_value}	</div>

		</div>
		
</div>


{END cont_fechaf_fieldblock}
	
								</td>
			{END cellblock_section2_c4}
			 
																

{BEGIN cellblock_section2_c5}
<td
	{$cell_section2_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cxc_fechaelab_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_fechaelab}  r-vertical-field" data-fieldname="cxc_fechaelab" data-signal-error-for="cxc_fechaelab{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="cxc_fechaelab" data-fieldname="cxc_fechaelab" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cxc_fechaelab}">
		
		{BEGIN cxc_fechaelab_label}{$label informe_intersup_cxc cxc_fechaelab }{END cxc_fechaelab_label}
	</label>
	<div class="" >
		{$cxc_fechaelab_value}	</div>

		</div>
		
</div>


{END cxc_fechaelab_fieldblock}
	
								</td>
			{END cellblock_section2_c5}
								</tr>
	 
	 
														<tr {$row_section2_3} >
										

{BEGIN cellblock_section2_c12}
<td
	{$cell_section2_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_uej_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_uej}  r-vertical-field" data-fieldname="cont_uej" data-signal-error-for="cont_uej{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field44" {$item_integrated_edit_field44} data-pageid="{$pageid}" data-field="cont_uej" data-fieldname="cont_uej" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_uej}">
		
		{BEGIN cont_uej_label}{$label informe_intersup_cxc cont_uej }{END cont_uej_label}
	</label>
	<div class="" >
		{$cont_uej_value}	</div>

		</div>
		
</div>


{END cont_uej_fieldblock}
	
								</td>
			{END cellblock_section2_c12}
			 
																

{BEGIN cellblock_section2_c13}
<td
	{$cell_section2_c13}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c13" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_rubro_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_rubro}  r-vertical-field" data-fieldname="cont_rubro" data-signal-error-for="cont_rubro{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field43" {$item_integrated_edit_field43} data-pageid="{$pageid}" data-field="cont_rubro" data-fieldname="cont_rubro" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_rubro}">
		
		{BEGIN cont_rubro_label}{$label informe_intersup_cxc cont_rubro }{END cont_rubro_label}
	</label>
	<div class="" >
		{$cont_rubro_value}	</div>

		</div>
		
</div>


{END cont_rubro_fieldblock}
	
								</td>
			{END cellblock_section2_c13}
			 
																

{BEGIN cellblock_section2_c14}
<td
	{$cell_section2_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c14" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_uso_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_uso}  r-vertical-field" data-fieldname="cont_uso" data-signal-error-for="cont_uso{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field45" {$item_integrated_edit_field45} data-pageid="{$pageid}" data-field="cont_uso" data-fieldname="cont_uso" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_uso}">
		
		{BEGIN cont_uso_label}{$label informe_intersup_cxc cont_uso }{END cont_uso_label}
	</label>
	<div class="" >
		{$cont_uso_value}	</div>

		</div>
		
</div>


{END cont_uso_fieldblock}
	
								</td>
			{END cellblock_section2_c14}
								</tr>
	 
	 
														<tr {$row_section2_4} >
										

{BEGIN cellblock_section2_c9}
<td
	{$cell_section2_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_rp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_rp}  r-vertical-field" data-fieldname="cont_rp" data-signal-error-for="cont_rp{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field42" {$item_integrated_edit_field42} data-pageid="{$pageid}" data-field="cont_rp" data-fieldname="cont_rp" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_rp}">
		
		{BEGIN cont_rp_label}{$label informe_intersup_cxc cont_rp }{END cont_rp_label}
	</label>
	<div class="" >
		{$cont_rp_value}	</div>

		</div>
		
</div>


{END cont_rp_fieldblock}
	
								</td>
			{END cellblock_section2_c9}
			 
																

{BEGIN cellblock_section2_c10}
<td
	{$cell_section2_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_cdp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_cdp}  r-vertical-field" data-fieldname="cont_cdp" data-signal-error-for="cont_cdp{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field41" {$item_integrated_edit_field41} data-pageid="{$pageid}" data-field="cont_cdp" data-fieldname="cont_cdp" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_cdp}">
		
		{BEGIN cont_cdp_label}{$label informe_intersup_cxc cont_cdp }{END cont_cdp_label}
	</label>
	<div class="" >
		{$cont_cdp_value}	</div>

		</div>
		
</div>


{END cont_cdp_fieldblock}
	
								</td>
			{END cellblock_section2_c10}
			 
		
							

{BEGIN cellblock_section2_c11}
<td
	{$cell_section2_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section2_c11}
								</tr>
	 
	 
														<tr {$row_section2_5} >
										

{BEGIN cellblock_section2_c15}
<td
	{$cell_section2_c15}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c15" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_valorcontrato_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valorcontrato}  r-vertical-field" data-fieldname="cont_valorcontrato" data-signal-error-for="cont_valorcontrato{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field46" {$item_integrated_edit_field46} data-pageid="{$pageid}" data-field="cont_valorcontrato" data-fieldname="cont_valorcontrato" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_valorcontrato}">
		
		{BEGIN cont_valorcontrato_label}{$label informe_intersup_cxc cont_valorcontrato }{END cont_valorcontrato_label}
	</label>
	<div class="" >
		{$cont_valorcontrato_value}	</div>

		</div>
		
</div>


{END cont_valorcontrato_fieldblock}
	
								</td>
			{END cellblock_section2_c15}
			 
																

{BEGIN cellblock_section2_c16}
<td
	{$cell_section2_c16}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c16" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cont_pagomensual_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_pagomensual}  r-vertical-field" data-fieldname="cont_pagomensual" data-signal-error-for="cont_pagomensual{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field47" {$item_integrated_edit_field47} data-pageid="{$pageid}" data-field="cont_pagomensual" data-fieldname="cont_pagomensual" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cont_pagomensual}">
		
		{BEGIN cont_pagomensual_label}{$label informe_intersup_cxc cont_pagomensual }{END cont_pagomensual_label}
	</label>
	<div class="" >
		{$cont_pagomensual_value}	</div>

		</div>
		
</div>


{END cont_pagomensual_fieldblock}
	
								</td>
			{END cellblock_section2_c16}
			 
		
							

{BEGIN cellblock_section2_c17}
<td
	{$cell_section2_c17}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c17" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section2_c17}
								</tr>
	 
	 
														<tr {$row_section2_6} >
										

{BEGIN cellblock_section2_c18}
<td
	{$cell_section2_c18}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c18" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sup_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sup_name}  r-vertical-field" data-fieldname="sup_name" data-signal-error-for="sup_name{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="sup_name" data-fieldname="sup_name" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sup_name}">
		
		{BEGIN sup_name_label}{$label informe_intersup_cxc sup_name }{END sup_name_label}
	</label>
	<div class="" >
		{$sup_name_value}	</div>

		</div>
		
</div>


{END sup_name_fieldblock}
	
								</td>
			{END cellblock_section2_c18}
			 
																

{BEGIN cellblock_section2_c19}
<td
	{$cell_section2_c19}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c19" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sup_cargo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sup_cargo}  r-vertical-field" data-fieldname="sup_cargo" data-signal-error-for="sup_cargo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="sup_cargo" data-fieldname="sup_cargo" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sup_cargo}">
		
		{BEGIN sup_cargo_label}{$label informe_intersup_cxc sup_cargo }{END sup_cargo_label}
	</label>
	<div class="" >
		{$sup_cargo_value}	</div>

		</div>
		
</div>


{END sup_cargo_fieldblock}
	
								</td>
			{END cellblock_section2_c19}
			 
																

{BEGIN cellblock_section2_c20}
<td
	{$cell_section2_c20}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c20" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sup_dep_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sup_dep}  r-vertical-field" data-fieldname="sup_dep" data-signal-error-for="sup_dep{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="sup_dep" data-fieldname="sup_dep" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sup_dep}">
		
		{BEGIN sup_dep_label}{$label informe_intersup_cxc sup_dep }{END sup_dep_label}
	</label>
	<div class="" >
		{$sup_dep_value}	</div>

		</div>
		
</div>


{END sup_dep_fieldblock}
	
								</td>
			{END cellblock_section2_c20}
								</tr>
	 
	 
														<tr {$row_section2_7} >
										

{BEGIN cellblock_section2_c21}
<td
	{$cell_section2_c21}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c21" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_status_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_status}  r-vertical-field" data-fieldname="sys_status" data-signal-error-for="sys_status{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="sys_status" data-fieldname="sys_status" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_sys_status}">
		
		{BEGIN sys_status_label}{$label informe_intersup_cxc sys_status }{END sys_status_label}
	</label>
	<div class="" >
		{$sys_status_value}	</div>

		</div>
		
</div>


{END sys_status_fieldblock}
	
								</td>
			{END cellblock_section2_c21}
			 
																

{BEGIN cellblock_section2_c22}
<td
	{$cell_section2_c22}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c22" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN de_pre_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_de_pre}  r-vertical-field" data-fieldname="de_pre" data-signal-error-for="de_pre{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="de_pre" data-fieldname="de_pre" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_de_pre}">
		
		{BEGIN de_pre_label}{$label informe_intersup_cxc de_pre }{END de_pre_label}
	</label>
	<div class="" >
		{$de_pre_value}	</div>

		</div>
		
</div>


{END de_pre_fieldblock}
	
								</td>
			{END cellblock_section2_c22}
			 
		
							

{BEGIN cellblock_section2_c23}
<td
	{$cell_section2_c23}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c23" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section2_c23}
								</tr>
	 
	 
														<tr {$row_section2_8} >
										

{BEGIN cellblock_section2_c27}
<td
	{$cell_section2_c27}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c27" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cxc_fondopenvol_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_fondopenvol}  r-vertical-field" data-fieldname="cxc_fondopenvol" data-signal-error-for="cxc_fondopenvol{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="cxc_fondopenvol" data-fieldname="cxc_fondopenvol" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cxc_fondopenvol}">
		
		{BEGIN cxc_fondopenvol_label}{$label informe_intersup_cxc cxc_fondopenvol }{END cxc_fondopenvol_label}
	</label>
	<div class="" >
		{$cxc_fondopenvol_value}	</div>

		</div>
		
</div>


{END cxc_fondopenvol_fieldblock}
	
								</td>
			{END cellblock_section2_c27}
			 
																

{BEGIN cellblock_section2_c28}
<td
	{$cell_section2_c28}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c28" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cxc_pagoafc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_pagoafc}  r-vertical-field" data-fieldname="cxc_pagoafc" data-signal-error-for="cxc_pagoafc{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="cxc_pagoafc" data-fieldname="cxc_pagoafc" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cxc_pagoafc}">
		
		{BEGIN cxc_pagoafc_label}{$label informe_intersup_cxc cxc_pagoafc }{END cxc_pagoafc_label}
	</label>
	<div class="" >
		{$cxc_pagoafc_value}	</div>

		</div>
		
</div>


{END cxc_pagoafc_fieldblock}
	
								</td>
			{END cellblock_section2_c28}
			 
		
							

{BEGIN cellblock_section2_c29}
<td
	{$cell_section2_c29}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c29" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_section2_c29}
								</tr>
	 
	 
														<tr {$row_section2_9} >
										

{BEGIN cellblock_section2_c24}
<td
	{$cell_section2_c24}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c24" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cxc_planilla_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_planilla}  r-vertical-field" data-fieldname="cxc_planilla" data-signal-error-for="cxc_planilla{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="cxc_planilla" data-fieldname="cxc_planilla" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cxc_planilla}">
		
		{BEGIN cxc_planilla_label}{$label informe_intersup_cxc cxc_planilla }{END cxc_planilla_label}
	</label>
	<div class="" >
		{$cxc_planilla_value}	</div>

		</div>
		
</div>


{END cxc_planilla_fieldblock}
	
								</td>
			{END cellblock_section2_c24}
			 
																

{BEGIN cellblock_section2_c25}
<td
	{$cell_section2_c25}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c25" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cxc_planillavalor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_planillavalor}  r-vertical-field" data-fieldname="cxc_planillavalor" data-signal-error-for="cxc_planillavalor{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="cxc_planillavalor" data-fieldname="cxc_planillavalor" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cxc_planillavalor}">
		
		{BEGIN cxc_planillavalor_label}{$label informe_intersup_cxc cxc_planillavalor }{END cxc_planillavalor_label}
	</label>
	<div class="" >
		{$cxc_planillavalor_value}	</div>

		</div>
		
</div>


{END cxc_planillavalor_fieldblock}
	
								</td>
			{END cellblock_section2_c25}
			 
																

{BEGIN cellblock_section2_c26}
<td
	{$cell_section2_c26}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="section2_c26" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cxc_planillafecha_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cxc_planillafecha}  r-vertical-field" data-fieldname="cxc_planillafecha" data-signal-error-for="cxc_planillafecha{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="cxc_planillafecha" data-fieldname="cxc_planillafecha" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_cxc_planillafecha}">
		
		{BEGIN cxc_planillafecha_label}{$label informe_intersup_cxc cxc_planillafecha }{END cxc_planillafecha_label}
	</label>
	<div class="" >
		{$cxc_planillafecha_value}	</div>

		</div>
		
</div>


{END cxc_planillafecha_fieldblock}
	
								</td>
			{END cellblock_section2_c26}
								</tr>
			</tbody></table>
{END section2_block}
						</div>
				</div>
	</div>
</div>  	
				{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="2"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="informe_intersup_cxc_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
