<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel informe_intersup_contratista search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="inf_id" data-fieldname="inf_id" >


	<label class="r-search-label control-label" for="{$labelfor_inf_id}">
		{$label informe_intersup_contratista inf_id }	</label>
	<div class="r-search-option">
		{$searchtype_inf_id}
	</div>
	<div class="r-search-field">
		{$inf_id_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_id_editcontrol1}
	</div>
	
</div>

{END inf_id_fieldblock}
											
{BEGIN id_cont_fk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cont_fk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_cont_fk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_cont_fk" data-fieldname="id_cont_fk" >


	<label class="r-search-label control-label" for="{$labelfor_id_cont_fk}">
		{$label informe_intersup_contratista id_cont_fk }	</label>
	<div class="r-search-option">
		{$searchtype_id_cont_fk}
	</div>
	<div class="r-search-field">
		{$id_cont_fk_editcontrol}	</div>
	<div class="r-search-field">
		{$id_cont_fk_editcontrol1}
	</div>
	
</div>

{END id_cont_fk_fieldblock}
											
{BEGIN inf_consecutivo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_consecutivo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_consecutivo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="inf_consecutivo" data-fieldname="inf_consecutivo" >


	<label class="r-search-label control-label" for="{$labelfor_inf_consecutivo}">
		{$label informe_intersup_contratista inf_consecutivo }	</label>
	<div class="r-search-option">
		{$searchtype_inf_consecutivo}
	</div>
	<div class="r-search-field">
		{$inf_consecutivo_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_consecutivo_editcontrol1}
	</div>
	
</div>

{END inf_consecutivo_fieldblock}
											
{BEGIN inf_hash_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_hash}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_hash{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="inf_hash" data-fieldname="inf_hash" >


	<label class="r-search-label control-label" for="{$labelfor_inf_hash}">
		{$label informe_intersup_contratista inf_hash }	</label>
	<div class="r-search-option">
		{$searchtype_inf_hash}
	</div>
	<div class="r-search-field">
		{$inf_hash_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_hash_editcontrol1}
	</div>
	
</div>

{END inf_hash_fieldblock}
											
{BEGIN inf_estado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_estado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_estado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="inf_estado" data-fieldname="inf_estado" >


	<label class="r-search-label control-label" for="{$labelfor_inf_estado}">
		{$label informe_intersup_contratista inf_estado }	</label>
	<div class="r-search-option">
		{$searchtype_inf_estado}
	</div>
	<div class="r-search-field">
		{$inf_estado_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_estado_editcontrol1}
	</div>
	
</div>

{END inf_estado_fieldblock}
											
{BEGIN inf_fechapresenta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fechapresenta}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_fechapresenta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="inf_fechapresenta" data-fieldname="inf_fechapresenta" >


	<label class="r-search-label control-label" for="{$labelfor_inf_fechapresenta}">
		{$label informe_intersup_contratista inf_fechapresenta }	</label>
	<div class="r-search-option">
		{$searchtype_inf_fechapresenta}
	</div>
	<div class="r-search-field">
		{$inf_fechapresenta_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_fechapresenta_editcontrol1}
	</div>
	
</div>

{END inf_fechapresenta_fieldblock}
											
{BEGIN inf_periodicidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_periodicidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_periodicidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="inf_periodicidad" data-fieldname="inf_periodicidad" >


	<label class="r-search-label control-label" for="{$labelfor_inf_periodicidad}">
		{$label informe_intersup_contratista inf_periodicidad }	</label>
	<div class="r-search-option">
		{$searchtype_inf_periodicidad}
	</div>
	<div class="r-search-field">
		{$inf_periodicidad_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_periodicidad_editcontrol1}
	</div>
	
</div>

{END inf_periodicidad_fieldblock}
											
{BEGIN inf_fecharep_i_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fecharep_i}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_fecharep_i{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="inf_fecharep_i" data-fieldname="inf_fecharep_i" >


	<label class="r-search-label control-label" for="{$labelfor_inf_fecharep_i}">
		{$label informe_intersup_contratista inf_fecharep_i }	</label>
	<div class="r-search-option">
		{$searchtype_inf_fecharep_i}
	</div>
	<div class="r-search-field">
		{$inf_fecharep_i_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_fecharep_i_editcontrol1}
	</div>
	
</div>

{END inf_fecharep_i_fieldblock}
											
{BEGIN inf_fecharep_f_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fecharep_f}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_fecharep_f{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="inf_fecharep_f" data-fieldname="inf_fecharep_f" >


	<label class="r-search-label control-label" for="{$labelfor_inf_fecharep_f}">
		{$label informe_intersup_contratista inf_fecharep_f }	</label>
	<div class="r-search-option">
		{$searchtype_inf_fecharep_f}
	</div>
	<div class="r-search-field">
		{$inf_fecharep_f_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_fecharep_f_editcontrol1}
	</div>
	
</div>

{END inf_fecharep_f_fieldblock}
											
{BEGIN inf_numerocontrato_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_numerocontrato}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_numerocontrato{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="inf_numerocontrato" data-fieldname="inf_numerocontrato" >


	<label class="r-search-label control-label" for="{$labelfor_inf_numerocontrato}">
		{$label informe_intersup_contratista inf_numerocontrato }	</label>
	<div class="r-search-option">
		{$searchtype_inf_numerocontrato}
	</div>
	<div class="r-search-field">
		{$inf_numerocontrato_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_numerocontrato_editcontrol1}
	</div>
	
</div>

{END inf_numerocontrato_fieldblock}
											
{BEGIN inf_anio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_anio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_anio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="inf_anio" data-fieldname="inf_anio" >


	<label class="r-search-label control-label" for="{$labelfor_inf_anio}">
		{$label informe_intersup_contratista inf_anio }	</label>
	<div class="r-search-option">
		{$searchtype_inf_anio}
	</div>
	<div class="r-search-field">
		{$inf_anio_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_anio_editcontrol1}
	</div>
	
</div>

{END inf_anio_fieldblock}
											
{BEGIN inf_prenum_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_prenum}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_prenum{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="inf_prenum" data-fieldname="inf_prenum" >


	<label class="r-search-label control-label" for="{$labelfor_inf_prenum}">
		{$label informe_intersup_contratista inf_prenum }	</label>
	<div class="r-search-option">
		{$searchtype_inf_prenum}
	</div>
	<div class="r-search-field">
		{$inf_prenum_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_prenum_editcontrol1}
	</div>
	
</div>

{END inf_prenum_fieldblock}
											
{BEGIN inf_doccontratista_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_doccontratista}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_doccontratista{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="inf_doccontratista" data-fieldname="inf_doccontratista" >


	<label class="r-search-label control-label" for="{$labelfor_inf_doccontratista}">
		{$label informe_intersup_contratista inf_doccontratista }	</label>
	<div class="r-search-option">
		{$searchtype_inf_doccontratista}
	</div>
	<div class="r-search-field">
		{$inf_doccontratista_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_doccontratista_editcontrol1}
	</div>
	
</div>

{END inf_doccontratista_fieldblock}
											
{BEGIN inf_nombrecontratista_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_nombrecontratista}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_nombrecontratista{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="inf_nombrecontratista" data-fieldname="inf_nombrecontratista" >


	<label class="r-search-label control-label" for="{$labelfor_inf_nombrecontratista}">
		{$label informe_intersup_contratista inf_nombrecontratista }	</label>
	<div class="r-search-option">
		{$searchtype_inf_nombrecontratista}
	</div>
	<div class="r-search-field">
		{$inf_nombrecontratista_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_nombrecontratista_editcontrol1}
	</div>
	
</div>

{END inf_nombrecontratista_fieldblock}
											
{BEGIN inf_valorcontrato_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_valorcontrato}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_valorcontrato{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="inf_valorcontrato" data-fieldname="inf_valorcontrato" >


	<label class="r-search-label control-label" for="{$labelfor_inf_valorcontrato}">
		{$label informe_intersup_contratista inf_valorcontrato }	</label>
	<div class="r-search-option">
		{$searchtype_inf_valorcontrato}
	</div>
	<div class="r-search-field">
		{$inf_valorcontrato_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_valorcontrato_editcontrol1}
	</div>
	
</div>

{END inf_valorcontrato_fieldblock}
											
{BEGIN inf_adicionreduc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_adicionreduc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_adicionreduc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="inf_adicionreduc" data-fieldname="inf_adicionreduc" >


	<label class="r-search-label control-label" for="{$labelfor_inf_adicionreduc}">
		{$label informe_intersup_contratista inf_adicionreduc }	</label>
	<div class="r-search-option">
		{$searchtype_inf_adicionreduc}
	</div>
	<div class="r-search-field">
		{$inf_adicionreduc_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_adicionreduc_editcontrol1}
	</div>
	
</div>

{END inf_adicionreduc_fieldblock}
											
{BEGIN inf_cdp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_cdp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_cdp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="inf_cdp" data-fieldname="inf_cdp" >


	<label class="r-search-label control-label" for="{$labelfor_inf_cdp}">
		{$label informe_intersup_contratista inf_cdp }	</label>
	<div class="r-search-option">
		{$searchtype_inf_cdp}
	</div>
	<div class="r-search-field">
		{$inf_cdp_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_cdp_editcontrol1}
	</div>
	
</div>

{END inf_cdp_fieldblock}
											
{BEGIN inf_rp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_rp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_rp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="inf_rp" data-fieldname="inf_rp" >


	<label class="r-search-label control-label" for="{$labelfor_inf_rp}">
		{$label informe_intersup_contratista inf_rp }	</label>
	<div class="r-search-option">
		{$searchtype_inf_rp}
	</div>
	<div class="r-search-field">
		{$inf_rp_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_rp_editcontrol1}
	</div>
	
</div>

{END inf_rp_fieldblock}
											
{BEGIN inf_rubrocode_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_rubrocode}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_rubrocode{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="inf_rubrocode" data-fieldname="inf_rubrocode" >


	<label class="r-search-label control-label" for="{$labelfor_inf_rubrocode}">
		{$label informe_intersup_contratista inf_rubrocode }	</label>
	<div class="r-search-option">
		{$searchtype_inf_rubrocode}
	</div>
	<div class="r-search-field">
		{$inf_rubrocode_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_rubrocode_editcontrol1}
	</div>
	
</div>

{END inf_rubrocode_fieldblock}
											
{BEGIN inf_rubroname_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_rubroname}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_rubroname{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="inf_rubroname" data-fieldname="inf_rubroname" >


	<label class="r-search-label control-label" for="{$labelfor_inf_rubroname}">
		{$label informe_intersup_contratista inf_rubroname }	</label>
	<div class="r-search-option">
		{$searchtype_inf_rubroname}
	</div>
	<div class="r-search-field">
		{$inf_rubroname_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_rubroname_editcontrol1}
	</div>
	
</div>

{END inf_rubroname_fieldblock}
											
{BEGIN inf_objeto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_objeto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_objeto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="inf_objeto" data-fieldname="inf_objeto" >


	<label class="r-search-label control-label" for="{$labelfor_inf_objeto}">
		{$label informe_intersup_contratista inf_objeto }	</label>
	<div class="r-search-option">
		{$searchtype_inf_objeto}
	</div>
	<div class="r-search-field">
		{$inf_objeto_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_objeto_editcontrol1}
	</div>
	
</div>

{END inf_objeto_fieldblock}
											
{BEGIN inf_fechasuscripcion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fechasuscripcion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_fechasuscripcion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="inf_fechasuscripcion" data-fieldname="inf_fechasuscripcion" >


	<label class="r-search-label control-label" for="{$labelfor_inf_fechasuscripcion}">
		{$label informe_intersup_contratista inf_fechasuscripcion }	</label>
	<div class="r-search-option">
		{$searchtype_inf_fechasuscripcion}
	</div>
	<div class="r-search-field">
		{$inf_fechasuscripcion_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_fechasuscripcion_editcontrol1}
	</div>
	
</div>

{END inf_fechasuscripcion_fieldblock}
											
{BEGIN inf_fechacont_i_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fechacont_i}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_fechacont_i{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="inf_fechacont_i" data-fieldname="inf_fechacont_i" >


	<label class="r-search-label control-label" for="{$labelfor_inf_fechacont_i}">
		{$label informe_intersup_contratista inf_fechacont_i }	</label>
	<div class="r-search-option">
		{$searchtype_inf_fechacont_i}
	</div>
	<div class="r-search-field">
		{$inf_fechacont_i_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_fechacont_i_editcontrol1}
	</div>
	
</div>

{END inf_fechacont_i_fieldblock}
											
{BEGIN inf_fechacont_f_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fechacont_f}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_fechacont_f{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="inf_fechacont_f" data-fieldname="inf_fechacont_f" >


	<label class="r-search-label control-label" for="{$labelfor_inf_fechacont_f}">
		{$label informe_intersup_contratista inf_fechacont_f }	</label>
	<div class="r-search-option">
		{$searchtype_inf_fechacont_f}
	</div>
	<div class="r-search-field">
		{$inf_fechacont_f_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_fechacont_f_editcontrol1}
	</div>
	
</div>

{END inf_fechacont_f_fieldblock}
											
{BEGIN inf_plazo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_plazo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_plazo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="inf_plazo" data-fieldname="inf_plazo" >


	<label class="r-search-label control-label" for="{$labelfor_inf_plazo}">
		{$label informe_intersup_contratista inf_plazo }	</label>
	<div class="r-search-option">
		{$searchtype_inf_plazo}
	</div>
	<div class="r-search-field">
		{$inf_plazo_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_plazo_editcontrol1}
	</div>
	
</div>

{END inf_plazo_fieldblock}
											
{BEGIN inf_vigencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_vigencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_vigencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="inf_vigencia" data-fieldname="inf_vigencia" >


	<label class="r-search-label control-label" for="{$labelfor_inf_vigencia}">
		{$label informe_intersup_contratista inf_vigencia }	</label>
	<div class="r-search-option">
		{$searchtype_inf_vigencia}
	</div>
	<div class="r-search-field">
		{$inf_vigencia_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_vigencia_editcontrol1}
	</div>
	
</div>

{END inf_vigencia_fieldblock}
											
{BEGIN inf_modificacionesplazo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_modificacionesplazo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_modificacionesplazo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="inf_modificacionesplazo" data-fieldname="inf_modificacionesplazo" >


	<label class="r-search-label control-label" for="{$labelfor_inf_modificacionesplazo}">
		{$label informe_intersup_contratista inf_modificacionesplazo }	</label>
	<div class="r-search-option">
		{$searchtype_inf_modificacionesplazo}
	</div>
	<div class="r-search-field">
		{$inf_modificacionesplazo_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_modificacionesplazo_editcontrol1}
	</div>
	
</div>

{END inf_modificacionesplazo_fieldblock}
											
{BEGIN inf_intersup_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_intersup}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_intersup{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="inf_intersup" data-fieldname="inf_intersup" >


	<label class="r-search-label control-label" for="{$labelfor_inf_intersup}">
		{$label informe_intersup_contratista inf_intersup }	</label>
	<div class="r-search-option">
		{$searchtype_inf_intersup}
	</div>
	<div class="r-search-field">
		{$inf_intersup_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_intersup_editcontrol1}
	</div>
	
</div>

{END inf_intersup_fieldblock}
											
{BEGIN inf_nombre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_nombre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_nombre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="inf_nombre" data-fieldname="inf_nombre" >


	<label class="r-search-label control-label" for="{$labelfor_inf_nombre}">
		{$label informe_intersup_contratista inf_nombre }	</label>
	<div class="r-search-option">
		{$searchtype_inf_nombre}
	</div>
	<div class="r-search-field">
		{$inf_nombre_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_nombre_editcontrol1}
	</div>
	
</div>

{END inf_nombre_fieldblock}
											
{BEGIN inf_cargo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_cargo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_cargo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="inf_cargo" data-fieldname="inf_cargo" >


	<label class="r-search-label control-label" for="{$labelfor_inf_cargo}">
		{$label informe_intersup_contratista inf_cargo }	</label>
	<div class="r-search-option">
		{$searchtype_inf_cargo}
	</div>
	<div class="r-search-field">
		{$inf_cargo_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_cargo_editcontrol1}
	</div>
	
</div>

{END inf_cargo_fieldblock}
											
{BEGIN inf_dependencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_dependencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_dependencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="inf_dependencia" data-fieldname="inf_dependencia" >


	<label class="r-search-label control-label" for="{$labelfor_inf_dependencia}">
		{$label informe_intersup_contratista inf_dependencia }	</label>
	<div class="r-search-option">
		{$searchtype_inf_dependencia}
	</div>
	<div class="r-search-field">
		{$inf_dependencia_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_dependencia_editcontrol1}
	</div>
	
</div>

{END inf_dependencia_fieldblock}
											
{BEGIN inf_avgejecucion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_avgejecucion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_avgejecucion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="inf_avgejecucion" data-fieldname="inf_avgejecucion" >


	<label class="r-search-label control-label" for="{$labelfor_inf_avgejecucion}">
		{$label informe_intersup_contratista inf_avgejecucion }	</label>
	<div class="r-search-option">
		{$searchtype_inf_avgejecucion}
	</div>
	<div class="r-search-field">
		{$inf_avgejecucion_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_avgejecucion_editcontrol1}
	</div>
	
</div>

{END inf_avgejecucion_fieldblock}
											
{BEGIN inf_actividades_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_actividades}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_actividades{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="inf_actividades" data-fieldname="inf_actividades" >


	<label class="r-search-label control-label" for="{$labelfor_inf_actividades}">
		{$label informe_intersup_contratista inf_actividades }	</label>
	<div class="r-search-option">
		{$searchtype_inf_actividades}
	</div>
	<div class="r-search-field">
		{$inf_actividades_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_actividades_editcontrol1}
	</div>
	
</div>

{END inf_actividades_fieldblock}
											
{BEGIN inf_declarainconf_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_declarainconf}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_declarainconf{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="inf_declarainconf" data-fieldname="inf_declarainconf" >


	<label class="r-search-label control-label" for="{$labelfor_inf_declarainconf}">
		{$label informe_intersup_contratista inf_declarainconf }	</label>
	<div class="r-search-option">
		{$searchtype_inf_declarainconf}
	</div>
	<div class="r-search-field">
		{$inf_declarainconf_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_declarainconf_editcontrol1}
	</div>
	
</div>

{END inf_declarainconf_fieldblock}
											
{BEGIN inf_declarainconf_obs_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_declarainconf_obs}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_declarainconf_obs{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="inf_declarainconf_obs" data-fieldname="inf_declarainconf_obs" >


	<label class="r-search-label control-label" for="{$labelfor_inf_declarainconf_obs}">
		{$label informe_intersup_contratista inf_declarainconf_obs }	</label>
	<div class="r-search-option">
		{$searchtype_inf_declarainconf_obs}
	</div>
	<div class="r-search-field">
		{$inf_declarainconf_obs_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_declarainconf_obs_editcontrol1}
	</div>
	
</div>

{END inf_declarainconf_obs_fieldblock}
											
{BEGIN inf_incumplimiento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_incumplimiento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_incumplimiento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="inf_incumplimiento" data-fieldname="inf_incumplimiento" >


	<label class="r-search-label control-label" for="{$labelfor_inf_incumplimiento}">
		{$label informe_intersup_contratista inf_incumplimiento }	</label>
	<div class="r-search-option">
		{$searchtype_inf_incumplimiento}
	</div>
	<div class="r-search-field">
		{$inf_incumplimiento_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_incumplimiento_editcontrol1}
	</div>
	
</div>

{END inf_incumplimiento_fieldblock}
											
{BEGIN inf_incumplimiento_obs_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_incumplimiento_obs}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_incumplimiento_obs{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="inf_incumplimiento_obs" data-fieldname="inf_incumplimiento_obs" >


	<label class="r-search-label control-label" for="{$labelfor_inf_incumplimiento_obs}">
		{$label informe_intersup_contratista inf_incumplimiento_obs }	</label>
	<div class="r-search-option">
		{$searchtype_inf_incumplimiento_obs}
	</div>
	<div class="r-search-field">
		{$inf_incumplimiento_obs_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_incumplimiento_obs_editcontrol1}
	</div>
	
</div>

{END inf_incumplimiento_obs_fieldblock}
											
{BEGIN inf_otrosaspectostecnicos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_otrosaspectostecnicos}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_otrosaspectostecnicos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="inf_otrosaspectostecnicos" data-fieldname="inf_otrosaspectostecnicos" >


	<label class="r-search-label control-label" for="{$labelfor_inf_otrosaspectostecnicos}">
		{$label informe_intersup_contratista inf_otrosaspectostecnicos }	</label>
	<div class="r-search-option">
		{$searchtype_inf_otrosaspectostecnicos}
	</div>
	<div class="r-search-field">
		{$inf_otrosaspectostecnicos_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_otrosaspectostecnicos_editcontrol1}
	</div>
	
</div>

{END inf_otrosaspectostecnicos_fieldblock}
											
{BEGIN inf_recomyobserva_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_recomyobserva}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_recomyobserva{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="inf_recomyobserva" data-fieldname="inf_recomyobserva" >


	<label class="r-search-label control-label" for="{$labelfor_inf_recomyobserva}">
		{$label informe_intersup_contratista inf_recomyobserva }	</label>
	<div class="r-search-option">
		{$searchtype_inf_recomyobserva}
	</div>
	<div class="r-search-field">
		{$inf_recomyobserva_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_recomyobserva_editcontrol1}
	</div>
	
</div>

{END inf_recomyobserva_fieldblock}
											
{BEGIN sign_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field39" {$item_integrated_search_field39} data-pageid="{$pageid}" data-field="sign_date" data-fieldname="sign_date" >


	<label class="r-search-label control-label" for="{$labelfor_sign_date}">
		{$label informe_intersup_contratista sign_date }	</label>
	<div class="r-search-option">
		{$searchtype_sign_date}
	</div>
	<div class="r-search-field">
		{$sign_date_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_date_editcontrol1}
	</div>
	
</div>

{END sign_date_fieldblock}
											
{BEGIN sign_hash_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_hash}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_hash{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field40" {$item_integrated_search_field40} data-pageid="{$pageid}" data-field="sign_hash" data-fieldname="sign_hash" >


	<label class="r-search-label control-label" for="{$labelfor_sign_hash}">
		{$label informe_intersup_contratista sign_hash }	</label>
	<div class="r-search-option">
		{$searchtype_sign_hash}
	</div>
	<div class="r-search-field">
		{$sign_hash_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_hash_editcontrol1}
	</div>
	
</div>

{END sign_hash_fieldblock}
											
{BEGIN sign_file_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_file}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_file{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field41" {$item_integrated_search_field41} data-pageid="{$pageid}" data-field="sign_file" data-fieldname="sign_file" >


	<label class="r-search-label control-label" for="{$labelfor_sign_file}">
		{$label informe_intersup_contratista sign_file }	</label>
	<div class="r-search-option">
		{$searchtype_sign_file}
	</div>
	<div class="r-search-field">
		{$sign_file_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_file_editcontrol1}
	</div>
	
</div>

{END sign_file_fieldblock}
											
{BEGIN sign_mailnot_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_mailnot}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_mailnot{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field42" {$item_integrated_search_field42} data-pageid="{$pageid}" data-field="sign_mailnot" data-fieldname="sign_mailnot" >


	<label class="r-search-label control-label" for="{$labelfor_sign_mailnot}">
		{$label informe_intersup_contratista sign_mailnot }	</label>
	<div class="r-search-option">
		{$searchtype_sign_mailnot}
	</div>
	<div class="r-search-field">
		{$sign_mailnot_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_mailnot_editcontrol1}
	</div>
	
</div>

{END sign_mailnot_fieldblock}
											
{BEGIN file_verifica_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_file_verifica}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="file_verifica{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field43" {$item_integrated_search_field43} data-pageid="{$pageid}" data-field="file_verifica" data-fieldname="file_verifica" >


	<label class="r-search-label control-label" for="{$labelfor_file_verifica}">
		{$label informe_intersup_contratista file_verifica }	</label>
	<div class="r-search-option">
		{$searchtype_file_verifica}
	</div>
	<div class="r-search-field">
		{$file_verifica_editcontrol}	</div>
	<div class="r-search-field">
		{$file_verifica_editcontrol1}
	</div>
	
</div>

{END file_verifica_fieldblock}
											
{BEGIN sign_verificacert_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_verificacert}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_verificacert{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field44" {$item_integrated_search_field44} data-pageid="{$pageid}" data-field="sign_verificacert" data-fieldname="sign_verificacert" >


	<label class="r-search-label control-label" for="{$labelfor_sign_verificacert}">
		{$label informe_intersup_contratista sign_verificacert }	</label>
	<div class="r-search-option">
		{$searchtype_sign_verificacert}
	</div>
	<div class="r-search-field">
		{$sign_verificacert_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_verificacert_editcontrol1}
	</div>
	
</div>

{END sign_verificacert_fieldblock}
											
{BEGIN cert_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cert_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cert_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field45" {$item_integrated_search_field45} data-pageid="{$pageid}" data-field="cert_date" data-fieldname="cert_date" >


	<label class="r-search-label control-label" for="{$labelfor_cert_date}">
		{$label informe_intersup_contratista cert_date }	</label>
	<div class="r-search-option">
		{$searchtype_cert_date}
	</div>
	<div class="r-search-field">
		{$cert_date_editcontrol}	</div>
	<div class="r-search-field">
		{$cert_date_editcontrol1}
	</div>
	
</div>

{END cert_date_fieldblock}
											
{BEGIN cert_file_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cert_file}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cert_file{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field46" {$item_integrated_search_field46} data-pageid="{$pageid}" data-field="cert_file" data-fieldname="cert_file" >


	<label class="r-search-label control-label" for="{$labelfor_cert_file}">
		{$label informe_intersup_contratista cert_file }	</label>
	<div class="r-search-option">
		{$searchtype_cert_file}
	</div>
	<div class="r-search-field">
		{$cert_file_editcontrol}	</div>
	<div class="r-search-field">
		{$cert_file_editcontrol1}
	</div>
	
</div>

{END cert_file_fieldblock}
											
{BEGIN cert_mail_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cert_mail}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cert_mail{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field47" {$item_integrated_search_field47} data-pageid="{$pageid}" data-field="cert_mail" data-fieldname="cert_mail" >


	<label class="r-search-label control-label" for="{$labelfor_cert_mail}">
		{$label informe_intersup_contratista cert_mail }	</label>
	<div class="r-search-option">
		{$searchtype_cert_mail}
	</div>
	<div class="r-search-field">
		{$cert_mail_editcontrol}	</div>
	<div class="r-search-field">
		{$cert_mail_editcontrol1}
	</div>
	
</div>

{END cert_mail_fieldblock}
											
{BEGIN cert_compare_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cert_compare}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cert_compare{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field48" {$item_integrated_search_field48} data-pageid="{$pageid}" data-field="cert_compare" data-fieldname="cert_compare" >


	<label class="r-search-label control-label" for="{$labelfor_cert_compare}">
		{$label informe_intersup_contratista cert_compare }	</label>
	<div class="r-search-option">
		{$searchtype_cert_compare}
	</div>
	<div class="r-search-field">
		{$cert_compare_editcontrol}	</div>
	<div class="r-search-field">
		{$cert_compare_editcontrol1}
	</div>
	
</div>

{END cert_compare_fieldblock}
											
{BEGIN inf_ultimopago_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_ultimopago}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_ultimopago{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field49" {$item_integrated_search_field49} data-pageid="{$pageid}" data-field="inf_ultimopago" data-fieldname="inf_ultimopago" >


	<label class="r-search-label control-label" for="{$labelfor_inf_ultimopago}">
		{$label informe_intersup_contratista inf_ultimopago }	</label>
	<div class="r-search-option">
		{$searchtype_inf_ultimopago}
	</div>
	<div class="r-search-field">
		{$inf_ultimopago_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_ultimopago_editcontrol1}
	</div>
	
</div>

{END inf_ultimopago_fieldblock}
											
{BEGIN sys_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sys_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field50" {$item_integrated_search_field50} data-pageid="{$pageid}" data-field="sys_date" data-fieldname="sys_date" >


	<label class="r-search-label control-label" for="{$labelfor_sys_date}">
		{$label informe_intersup_contratista sys_date }	</label>
	<div class="r-search-option">
		{$searchtype_sys_date}
	</div>
	<div class="r-search-field">
		{$sys_date_editcontrol}	</div>
	<div class="r-search-field">
		{$sys_date_editcontrol1}
	</div>
	
</div>

{END sys_date_fieldblock}
											
{BEGIN inf_mail_a_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_mail_a}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_mail_a{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field51" {$item_integrated_search_field51} data-pageid="{$pageid}" data-field="inf_mail_a" data-fieldname="inf_mail_a" >


	<label class="r-search-label control-label" for="{$labelfor_inf_mail_a}">
		{$label informe_intersup_contratista inf_mail_a }	</label>
	<div class="r-search-option">
		{$searchtype_inf_mail_a}
	</div>
	<div class="r-search-field">
		{$inf_mail_a_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_mail_a_editcontrol1}
	</div>
	
</div>

{END inf_mail_a_fieldblock}
											
{BEGIN inf_mail_b_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_mail_b}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_mail_b{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field52" {$item_integrated_search_field52} data-pageid="{$pageid}" data-field="inf_mail_b" data-fieldname="inf_mail_b" >


	<label class="r-search-label control-label" for="{$labelfor_inf_mail_b}">
		{$label informe_intersup_contratista inf_mail_b }	</label>
	<div class="r-search-option">
		{$searchtype_inf_mail_b}
	</div>
	<div class="r-search-field">
		{$inf_mail_b_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_mail_b_editcontrol1}
	</div>
	
</div>

{END inf_mail_b_fieldblock}
											
{BEGIN url_secop_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_url_secop}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="url_secop{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field53" {$item_integrated_search_field53} data-pageid="{$pageid}" data-field="url_secop" data-fieldname="url_secop" >


	<label class="r-search-label control-label" for="{$labelfor_url_secop}">
		{$label informe_intersup_contratista url_secop }	</label>
	<div class="r-search-option">
		{$searchtype_url_secop}
	</div>
	<div class="r-search-field">
		{$url_secop_editcontrol}	</div>
	<div class="r-search-field">
		{$url_secop_editcontrol1}
	</div>
	
</div>

{END url_secop_fieldblock}
											
{BEGIN num_poliza_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_num_poliza}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="num_poliza{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field54" {$item_integrated_search_field54} data-pageid="{$pageid}" data-field="num_poliza" data-fieldname="num_poliza" >


	<label class="r-search-label control-label" for="{$labelfor_num_poliza}">
		{$label informe_intersup_contratista num_poliza }	</label>
	<div class="r-search-option">
		{$searchtype_num_poliza}
	</div>
	<div class="r-search-field">
		{$num_poliza_editcontrol}	</div>
	<div class="r-search-field">
		{$num_poliza_editcontrol1}
	</div>
	
</div>

{END num_poliza_fieldblock}
											
{BEGIN mun_ejec_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mun_ejec}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mun_ejec{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field55" {$item_integrated_search_field55} data-pageid="{$pageid}" data-field="mun_ejec" data-fieldname="mun_ejec" >


	<label class="r-search-label control-label" for="{$labelfor_mun_ejec}">
		{$label informe_intersup_contratista mun_ejec }	</label>
	<div class="r-search-option">
		{$searchtype_mun_ejec}
	</div>
	<div class="r-search-field">
		{$mun_ejec_editcontrol}	</div>
	<div class="r-search-field">
		{$mun_ejec_editcontrol1}
	</div>
	
</div>

{END mun_ejec_fieldblock}
											
{BEGIN cont_cesion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_cesion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_cesion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field56" {$item_integrated_search_field56} data-pageid="{$pageid}" data-field="cont_cesion" data-fieldname="cont_cesion" >


	<label class="r-search-label control-label" for="{$labelfor_cont_cesion}">
		{$label informe_intersup_contratista cont_cesion }	</label>
	<div class="r-search-option">
		{$searchtype_cont_cesion}
	</div>
	<div class="r-search-field">
		{$cont_cesion_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_cesion_editcontrol1}
	</div>
	
</div>

{END cont_cesion_fieldblock}
											
{BEGIN cont_modifica_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_modifica}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_modifica{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field57" {$item_integrated_search_field57} data-pageid="{$pageid}" data-field="cont_modifica" data-fieldname="cont_modifica" >


	<label class="r-search-label control-label" for="{$labelfor_cont_modifica}">
		{$label informe_intersup_contratista cont_modifica }	</label>
	<div class="r-search-option">
		{$searchtype_cont_modifica}
	</div>
	<div class="r-search-field">
		{$cont_modifica_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_modifica_editcontrol1}
	</div>
	
</div>

{END cont_modifica_fieldblock}
											
{BEGIN qty_inf_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_qty_inf}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="qty_inf{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field58" {$item_integrated_search_field58} data-pageid="{$pageid}" data-field="qty_inf" data-fieldname="qty_inf" >


	<label class="r-search-label control-label" for="{$labelfor_qty_inf}">
		{$label informe_intersup_contratista qty_inf }	</label>
	<div class="r-search-option">
		{$searchtype_qty_inf}
	</div>
	<div class="r-search-field">
		{$qty_inf_editcontrol}	</div>
	<div class="r-search-field">
		{$qty_inf_editcontrol1}
	</div>
	
</div>

{END qty_inf_fieldblock}
											
{BEGIN qty_inf_compare_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_qty_inf_compare}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="qty_inf_compare{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field59" {$item_integrated_search_field59} data-pageid="{$pageid}" data-field="qty_inf_compare" data-fieldname="qty_inf_compare" >


	<label class="r-search-label control-label" for="{$labelfor_qty_inf_compare}">
		{$label informe_intersup_contratista qty_inf_compare }	</label>
	<div class="r-search-option">
		{$searchtype_qty_inf_compare}
	</div>
	<div class="r-search-field">
		{$qty_inf_compare_editcontrol}	</div>
	<div class="r-search-field">
		{$qty_inf_compare_editcontrol1}
	</div>
	
</div>

{END qty_inf_compare_fieldblock}
											
{BEGIN qty_inf_verifica_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_qty_inf_verifica}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="qty_inf_verifica{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field60" {$item_integrated_search_field60} data-pageid="{$pageid}" data-field="qty_inf_verifica" data-fieldname="qty_inf_verifica" >


	<label class="r-search-label control-label" for="{$labelfor_qty_inf_verifica}">
		{$label informe_intersup_contratista qty_inf_verifica }	</label>
	<div class="r-search-option">
		{$searchtype_qty_inf_verifica}
	</div>
	<div class="r-search-field">
		{$qty_inf_verifica_editcontrol}	</div>
	<div class="r-search-field">
		{$qty_inf_verifica_editcontrol1}
	</div>
	
</div>

{END qty_inf_verifica_fieldblock}
											
{BEGIN inf_usopresupuestal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_usopresupuestal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_usopresupuestal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field61" {$item_integrated_search_field61} data-pageid="{$pageid}" data-field="inf_usopresupuestal" data-fieldname="inf_usopresupuestal" >


	<label class="r-search-label control-label" for="{$labelfor_inf_usopresupuestal}">
		{$label informe_intersup_contratista inf_usopresupuestal }	</label>
	<div class="r-search-option">
		{$searchtype_inf_usopresupuestal}
	</div>
	<div class="r-search-field">
		{$inf_usopresupuestal_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_usopresupuestal_editcontrol1}
	</div>
	
</div>

{END inf_usopresupuestal_fieldblock}
											
{BEGIN cert_process_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cert_process}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cert_process{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field62" {$item_integrated_search_field62} data-pageid="{$pageid}" data-field="cert_process" data-fieldname="cert_process" >


	<label class="r-search-label control-label" for="{$labelfor_cert_process}">
		{$label informe_intersup_contratista cert_process }	</label>
	<div class="r-search-option">
		{$searchtype_cert_process}
	</div>
	<div class="r-search-field">
		{$cert_process_editcontrol}	</div>
	<div class="r-search-field">
		{$cert_process_editcontrol1}
	</div>
	
</div>

{END cert_process_fieldblock}
											
{BEGIN cert_modalidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cert_modalidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cert_modalidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field63" {$item_integrated_search_field63} data-pageid="{$pageid}" data-field="cert_modalidad" data-fieldname="cert_modalidad" >


	<label class="r-search-label control-label" for="{$labelfor_cert_modalidad}">
		{$label informe_intersup_contratista cert_modalidad }	</label>
	<div class="r-search-option">
		{$searchtype_cert_modalidad}
	</div>
	<div class="r-search-field">
		{$cert_modalidad_editcontrol}	</div>
	<div class="r-search-field">
		{$cert_modalidad_editcontrol1}
	</div>
	
</div>

{END cert_modalidad_fieldblock}
											
{BEGIN cert_mes_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cert_mes}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cert_mes{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field64" {$item_integrated_search_field64} data-pageid="{$pageid}" data-field="cert_mes" data-fieldname="cert_mes" >


	<label class="r-search-label control-label" for="{$labelfor_cert_mes}">
		{$label informe_intersup_contratista cert_mes }	</label>
	<div class="r-search-option">
		{$searchtype_cert_mes}
	</div>
	<div class="r-search-field">
		{$cert_mes_editcontrol}	</div>
	<div class="r-search-field">
		{$cert_mes_editcontrol1}
	</div>
	
</div>

{END cert_mes_fieldblock}
											
{BEGIN sign_verificacert_ip_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_verificacert_ip}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_verificacert_ip{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field65" {$item_integrated_search_field65} data-pageid="{$pageid}" data-field="sign_verificacert_ip" data-fieldname="sign_verificacert_ip" >


	<label class="r-search-label control-label" for="{$labelfor_sign_verificacert_ip}">
		{$label informe_intersup_contratista sign_verificacert_ip }	</label>
	<div class="r-search-option">
		{$searchtype_sign_verificacert_ip}
	</div>
	<div class="r-search-field">
		{$sign_verificacert_ip_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_verificacert_ip_editcontrol1}
	</div>
	
</div>

{END sign_verificacert_ip_fieldblock}
											
{BEGIN sign_verificacert_user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_verificacert_user}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_verificacert_user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field66" {$item_integrated_search_field66} data-pageid="{$pageid}" data-field="sign_verificacert_user" data-fieldname="sign_verificacert_user" >


	<label class="r-search-label control-label" for="{$labelfor_sign_verificacert_user}">
		{$label informe_intersup_contratista sign_verificacert_user }	</label>
	<div class="r-search-option">
		{$searchtype_sign_verificacert_user}
	</div>
	<div class="r-search-field">
		{$sign_verificacert_user_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_verificacert_user_editcontrol1}
	</div>
	
</div>

{END sign_verificacert_user_fieldblock}
											
{BEGIN sign_verificacert_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sign_verificacert_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sign_verificacert_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field67" {$item_integrated_search_field67} data-pageid="{$pageid}" data-field="sign_verificacert_date" data-fieldname="sign_verificacert_date" >


	<label class="r-search-label control-label" for="{$labelfor_sign_verificacert_date}">
		{$label informe_intersup_contratista sign_verificacert_date }	</label>
	<div class="r-search-option">
		{$searchtype_sign_verificacert_date}
	</div>
	<div class="r-search-field">
		{$sign_verificacert_date_editcontrol}	</div>
	<div class="r-search-field">
		{$sign_verificacert_date_editcontrol1}
	</div>
	
</div>

{END sign_verificacert_date_fieldblock}
											
{BEGIN inf_supervisoremail_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_supervisoremail}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="inf_supervisoremail{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field68" {$item_integrated_search_field68} data-pageid="{$pageid}" data-field="inf_supervisoremail" data-fieldname="inf_supervisoremail" >


	<label class="r-search-label control-label" for="{$labelfor_inf_supervisoremail}">
		{$label informe_intersup_contratista inf_supervisoremail }	</label>
	<div class="r-search-option">
		{$searchtype_inf_supervisoremail}
	</div>
	<div class="r-search-field">
		{$inf_supervisoremail_editcontrol}	</div>
	<div class="r-search-field">
		{$inf_supervisoremail_editcontrol1}
	</div>
	
</div>

{END inf_supervisoremail_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
