<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel informe_intersup_contratista view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_consecutivo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_consecutivo}  r-vertical-field" data-fieldname="inf_consecutivo" data-signal-error-for="inf_consecutivo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="inf_consecutivo" data-fieldname="inf_consecutivo" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_inf_consecutivo}">
		
		{BEGIN inf_consecutivo_label}{$label informe_intersup_contratista inf_consecutivo }{END inf_consecutivo_label}
	</label>
	<div class="" >
		{$inf_consecutivo_value}	</div>

		</div>
		
</div>


{END inf_consecutivo_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
			 
																

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_hash_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_hash}  r-vertical-field" data-fieldname="inf_hash" data-signal-error-for="inf_hash{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="inf_hash" data-fieldname="inf_hash" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_inf_hash}">
		
		{BEGIN inf_hash_label}{$label informe_intersup_contratista inf_hash }{END inf_hash_label}
	</label>
	<div class="" >
		{$inf_hash_value}	</div>

		</div>
		
</div>


{END inf_hash_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_fecharep_i_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fecharep_i}  r-vertical-field" data-fieldname="inf_fecharep_i" data-signal-error-for="inf_fecharep_i{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="inf_fecharep_i" data-fieldname="inf_fecharep_i" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_inf_fecharep_i}">
		
		{BEGIN inf_fecharep_i_label}{$label informe_intersup_contratista inf_fecharep_i }{END inf_fecharep_i_label}
	</label>
	<div class="" >
		{$inf_fecharep_i_value}	</div>

		</div>
		
</div>


{END inf_fecharep_i_fieldblock}
	
								</td>
			{END cellblock_grid_c1}
			 
																

{BEGIN cellblock_grid_c2}
<td
	{$cell_grid_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_fecharep_f_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fecharep_f}  r-vertical-field" data-fieldname="inf_fecharep_f" data-signal-error-for="inf_fecharep_f{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="inf_fecharep_f" data-fieldname="inf_fecharep_f" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_inf_fecharep_f}">
		
		{BEGIN inf_fecharep_f_label}{$label informe_intersup_contratista inf_fecharep_f }{END inf_fecharep_f_label}
	</label>
	<div class="" >
		{$inf_fecharep_f_value}	</div>

		</div>
		
</div>


{END inf_fecharep_f_fieldblock}
	
								</td>
			{END cellblock_grid_c2}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_numerocontrato_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_numerocontrato}  r-vertical-field" data-fieldname="inf_numerocontrato" data-signal-error-for="inf_numerocontrato{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="inf_numerocontrato" data-fieldname="inf_numerocontrato" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_inf_numerocontrato}">
		
		{BEGIN inf_numerocontrato_label}{$label informe_intersup_contratista inf_numerocontrato }{END inf_numerocontrato_label}
	</label>
	<div class="" >
		{$inf_numerocontrato_value}	</div>

		</div>
		
</div>


{END inf_numerocontrato_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
			 
																

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_anio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_anio}  r-vertical-field" data-fieldname="inf_anio" data-signal-error-for="inf_anio{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="inf_anio" data-fieldname="inf_anio" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_inf_anio}">
		
		{BEGIN inf_anio_label}{$label informe_intersup_contratista inf_anio }{END inf_anio_label}
	</label>
	<div class="" >
		{$inf_anio_value}	</div>

		</div>
		
</div>


{END inf_anio_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_doccontratista_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_doccontratista}  r-vertical-field" data-fieldname="inf_doccontratista" data-signal-error-for="inf_doccontratista{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="inf_doccontratista" data-fieldname="inf_doccontratista" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_inf_doccontratista}">
		
		{BEGIN inf_doccontratista_label}{$label informe_intersup_contratista inf_doccontratista }{END inf_doccontratista_label}
	</label>
	<div class="" >
		{$inf_doccontratista_value}	</div>

		</div>
		
</div>


{END inf_doccontratista_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
			 
																

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_nombrecontratista_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_nombrecontratista}  r-vertical-field" data-fieldname="inf_nombrecontratista" data-signal-error-for="inf_nombrecontratista{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="inf_nombrecontratista" data-fieldname="inf_nombrecontratista" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_inf_nombrecontratista}">
		
		{BEGIN inf_nombrecontratista_label}{$label informe_intersup_contratista inf_nombrecontratista }{END inf_nombrecontratista_label}
	</label>
	<div class="" >
		{$inf_nombrecontratista_value}	</div>

		</div>
		
</div>


{END inf_nombrecontratista_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
								</tr>
	 
	 
														<tr {$row_grid_4} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c3" data-pageid="{$pageid}" data-page="informe_intersup_contratista_view"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN inf_estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_estado}  r-vertical-field" data-fieldname="inf_estado" data-signal-error-for="inf_estado{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="inf_estado" data-fieldname="inf_estado" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_inf_estado}">
		
		{BEGIN inf_estado_label}{$label informe_intersup_contratista inf_estado }{END inf_estado_label}
	</label>
	<div class="" >
		{$inf_estado_value}	</div>

		</div>
		
</div>


{END inf_estado_fieldblock}
											
{BEGIN qty_inf_compare_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_qty_inf_compare}  r-vertical-field" data-fieldname="qty_inf_compare" data-signal-error-for="qty_inf_compare{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="qty_inf_compare" data-fieldname="qty_inf_compare" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_qty_inf_compare}">
		
		{BEGIN qty_inf_compare_label}{$label informe_intersup_contratista qty_inf_compare }{END qty_inf_compare_label}
	</label>
	<div class="" >
		{$qty_inf_compare_value}	</div>

		</div>
		
</div>


{END qty_inf_compare_fieldblock}
											
{BEGIN inf_usopresupuestal_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_usopresupuestal}  r-vertical-field" data-fieldname="inf_usopresupuestal" data-signal-error-for="inf_usopresupuestal{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="inf_usopresupuestal" data-fieldname="inf_usopresupuestal" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_inf_usopresupuestal}">
		
		{BEGIN inf_usopresupuestal_label}{$label informe_intersup_contratista inf_usopresupuestal }{END inf_usopresupuestal_label}
	</label>
	<div class="" >
		{$inf_usopresupuestal_value}	</div>

		</div>
		
</div>


{END inf_usopresupuestal_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
																

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN qty_inf_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_qty_inf}  r-vertical-field" data-fieldname="qty_inf" data-signal-error-for="qty_inf{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="qty_inf" data-fieldname="qty_inf" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_qty_inf}">
		
		{BEGIN qty_inf_label}{$label informe_intersup_contratista qty_inf }{END qty_inf_label}
	</label>
	<div class="" >
		{$qty_inf_value}	</div>

		</div>
		
</div>


{END qty_inf_fieldblock}
	
								</td>
			{END cellblock_grid_c}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="informe_intersup_contratista_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
