<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel q_001_dashboard search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_cont_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cont}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_cont{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_cont" data-fieldname="id_cont" >


	<label class="r-search-label control-label" for="{$labelfor_id_cont}">
		{$label q_001_dashboard id_cont }	</label>
	<div class="r-search-option">
		{$searchtype_id_cont}
	</div>
	<div class="r-search-field">
		{$id_cont_editcontrol}	</div>
	<div class="r-search-field">
		{$id_cont_editcontrol1}
	</div>
	
</div>

{END id_cont_fieldblock}
											
{BEGIN CONTRATOID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CONTRATOID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CONTRATOID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="CONTRATOID" data-fieldname="CONTRATOID" >


	<label class="r-search-label control-label" for="{$labelfor_CONTRATOID}">
		{$label q_001_dashboard CONTRATOID }	</label>
	<div class="r-search-option">
		{$searchtype_CONTRATOID}
	</div>
	<div class="r-search-field">
		{$CONTRATOID_editcontrol}	</div>
	<div class="r-search-field">
		{$CONTRATOID_editcontrol1}
	</div>
	
</div>

{END CONTRATOID_fieldblock}
											
{BEGIN LOGINLEVEL_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_LOGINLEVEL}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="LOGINLEVEL{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="LOGINLEVEL" data-fieldname="LOGINLEVEL" >


	<label class="r-search-label control-label" for="{$labelfor_LOGINLEVEL}">
		{$label q_001_dashboard LOGINLEVEL }	</label>
	<div class="r-search-option">
		{$searchtype_LOGINLEVEL}
	</div>
	<div class="r-search-field">
		{$LOGINLEVEL_editcontrol}	</div>
	<div class="r-search-field">
		{$LOGINLEVEL_editcontrol1}
	</div>
	
</div>

{END LOGINLEVEL_fieldblock}
											
{BEGIN VIGENCIA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_VIGENCIA}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="VIGENCIA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="VIGENCIA" data-fieldname="VIGENCIA" >


	<label class="r-search-label control-label" for="{$labelfor_VIGENCIA}">
		{$label q_001_dashboard VIGENCIA }	</label>
	<div class="r-search-option">
		{$searchtype_VIGENCIA}
	</div>
	<div class="r-search-field">
		{$VIGENCIA_editcontrol}	</div>
	<div class="r-search-field">
		{$VIGENCIA_editcontrol1}
	</div>
	
</div>

{END VIGENCIA_fieldblock}
											
{BEGIN cont_hash_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_hash}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_hash{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="cont_hash" data-fieldname="cont_hash" >


	<label class="r-search-label control-label" for="{$labelfor_cont_hash}">
		{$label q_001_dashboard cont_hash }	</label>
	<div class="r-search-option">
		{$searchtype_cont_hash}
	</div>
	<div class="r-search-field">
		{$cont_hash_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_hash_editcontrol1}
	</div>
	
</div>

{END cont_hash_fieldblock}
											
{BEGIN cont_estado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_estado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_estado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="cont_estado" data-fieldname="cont_estado" >


	<label class="r-search-label control-label" for="{$labelfor_cont_estado}">
		{$label q_001_dashboard cont_estado }	</label>
	<div class="r-search-option">
		{$searchtype_cont_estado}
	</div>
	<div class="r-search-field">
		{$cont_estado_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_estado_editcontrol1}
	</div>
	
</div>

{END cont_estado_fieldblock}
											
{BEGIN estado_nombre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estado_nombre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="estado_nombre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="estado_nombre" data-fieldname="estado_nombre" >


	<label class="r-search-label control-label" for="{$labelfor_estado_nombre}">
		{$label q_001_dashboard estado_nombre }	</label>
	<div class="r-search-option">
		{$searchtype_estado_nombre}
	</div>
	<div class="r-search-field">
		{$estado_nombre_editcontrol}	</div>
	<div class="r-search-field">
		{$estado_nombre_editcontrol1}
	</div>
	
</div>

{END estado_nombre_fieldblock}
											
{BEGIN estado_img_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estado_img}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="estado_img{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="estado_img" data-fieldname="estado_img" >


	<label class="r-search-label control-label" for="{$labelfor_estado_img}">
		{$label q_001_dashboard estado_img }	</label>
	<div class="r-search-option">
		{$searchtype_estado_img}
	</div>
	<div class="r-search-field">
		{$estado_img_editcontrol}	</div>
	<div class="r-search-field">
		{$estado_img_editcontrol1}
	</div>
	
</div>

{END estado_img_fieldblock}
											
{BEGIN estado_lnk_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estado_lnk}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="estado_lnk{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="estado_lnk" data-fieldname="estado_lnk" >


	<label class="r-search-label control-label" for="{$labelfor_estado_lnk}">
		{$label q_001_dashboard estado_lnk }	</label>
	<div class="r-search-option">
		{$searchtype_estado_lnk}
	</div>
	<div class="r-search-field">
		{$estado_lnk_editcontrol}	</div>
	<div class="r-search-field">
		{$estado_lnk_editcontrol1}
	</div>
	
</div>

{END estado_lnk_fieldblock}
											
{BEGIN contractor_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="contractor_type" data-fieldname="contractor_type" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_type}">
		{$label q_001_dashboard contractor_type }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_type}
	</div>
	<div class="r-search-field">
		{$contractor_type_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_type_editcontrol1}
	</div>
	
</div>

{END contractor_type_fieldblock}
											
{BEGIN DOCID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DOCID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DOCID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="DOCID" data-fieldname="DOCID" >


	<label class="r-search-label control-label" for="{$labelfor_DOCID}">
		{$label q_001_dashboard DOCID }	</label>
	<div class="r-search-option">
		{$searchtype_DOCID}
	</div>
	<div class="r-search-field">
		{$DOCID_editcontrol}	</div>
	<div class="r-search-field">
		{$DOCID_editcontrol1}
	</div>
	
</div>

{END DOCID_fieldblock}
											
{BEGIN contractor_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="contractor_name" data-fieldname="contractor_name" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_name}">
		{$label q_001_dashboard contractor_name }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_name}
	</div>
	<div class="r-search-field">
		{$contractor_name_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_name_editcontrol1}
	</div>
	
</div>

{END contractor_name_fieldblock}
											
{BEGIN contractor_lname_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_lname}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_lname{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="contractor_lname" data-fieldname="contractor_lname" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_lname}">
		{$label q_001_dashboard contractor_lname }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_lname}
	</div>
	<div class="r-search-field">
		{$contractor_lname_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_lname_editcontrol1}
	</div>
	
</div>

{END contractor_lname_fieldblock}
											
{BEGIN contractor_nombresfull_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_nombresfull}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_nombresfull{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="contractor_nombresfull" data-fieldname="contractor_nombresfull" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_nombresfull}">
		{$label q_001_dashboard contractor_nombresfull }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_nombresfull}
	</div>
	<div class="r-search-field">
		{$contractor_nombresfull_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_nombresfull_editcontrol1}
	</div>
	
</div>

{END contractor_nombresfull_fieldblock}
											
{BEGIN contractor_email_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_email}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_email{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="contractor_email" data-fieldname="contractor_email" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_email}">
		{$label q_001_dashboard contractor_email }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_email}
	</div>
	<div class="r-search-field">
		{$contractor_email_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_email_editcontrol1}
	</div>
	
</div>

{END contractor_email_fieldblock}
											
{BEGIN contractor_email_mincit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_email_mincit}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_email_mincit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="contractor_email_mincit" data-fieldname="contractor_email_mincit" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_email_mincit}">
		{$label q_001_dashboard contractor_email_mincit }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_email_mincit}
	</div>
	<div class="r-search-field">
		{$contractor_email_mincit_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_email_mincit_editcontrol1}
	</div>
	
</div>

{END contractor_email_mincit_fieldblock}
											
{BEGIN contractor_phone_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_phone}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_phone{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="contractor_phone" data-fieldname="contractor_phone" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_phone}">
		{$label q_001_dashboard contractor_phone }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_phone}
	</div>
	<div class="r-search-field">
		{$contractor_phone_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_phone_editcontrol1}
	</div>
	
</div>

{END contractor_phone_fieldblock}
											
{BEGIN contractor_mobile_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_contractor_mobile}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="contractor_mobile{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="contractor_mobile" data-fieldname="contractor_mobile" >


	<label class="r-search-label control-label" for="{$labelfor_contractor_mobile}">
		{$label q_001_dashboard contractor_mobile }	</label>
	<div class="r-search-option">
		{$searchtype_contractor_mobile}
	</div>
	<div class="r-search-field">
		{$contractor_mobile_editcontrol}	</div>
	<div class="r-search-field">
		{$contractor_mobile_editcontrol1}
	</div>
	
</div>

{END contractor_mobile_fieldblock}
											
{BEGIN CODC_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CODC}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CODC{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="CODC" data-fieldname="CODC" >


	<label class="r-search-label control-label" for="{$labelfor_CODC}">
		{$label q_001_dashboard CODC }	</label>
	<div class="r-search-option">
		{$searchtype_CODC}
	</div>
	<div class="r-search-field">
		{$CODC_editcontrol}	</div>
	<div class="r-search-field">
		{$CODC_editcontrol1}
	</div>
	
</div>

{END CODC_fieldblock}
											
{BEGIN NUMC_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NUMC}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="NUMC{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="NUMC" data-fieldname="NUMC" >


	<label class="r-search-label control-label" for="{$labelfor_NUMC}">
		{$label q_001_dashboard NUMC }	</label>
	<div class="r-search-option">
		{$searchtype_NUMC}
	</div>
	<div class="r-search-field">
		{$NUMC_editcontrol}	</div>
	<div class="r-search-field">
		{$NUMC_editcontrol1}
	</div>
	
</div>

{END NUMC_fieldblock}
											
{BEGIN cont_tipo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_tipo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_tipo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="cont_tipo" data-fieldname="cont_tipo" >


	<label class="r-search-label control-label" for="{$labelfor_cont_tipo}">
		{$label q_001_dashboard cont_tipo }	</label>
	<div class="r-search-option">
		{$searchtype_cont_tipo}
	</div>
	<div class="r-search-field">
		{$cont_tipo_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_tipo_editcontrol1}
	</div>
	
</div>

{END cont_tipo_fieldblock}
											
{BEGIN nombre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nombre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="nombre" data-fieldname="nombre" >


	<label class="r-search-label control-label" for="{$labelfor_nombre}">
		{$label q_001_dashboard nombre }	</label>
	<div class="r-search-option">
		{$searchtype_nombre}
	</div>
	<div class="r-search-field">
		{$nombre_editcontrol}	</div>
	<div class="r-search-field">
		{$nombre_editcontrol1}
	</div>
	
</div>

{END nombre_fieldblock}
											
{BEGIN cont_codrubro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_codrubro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_codrubro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="cont_codrubro" data-fieldname="cont_codrubro" >


	<label class="r-search-label control-label" for="{$labelfor_cont_codrubro}">
		{$label q_001_dashboard cont_codrubro }	</label>
	<div class="r-search-option">
		{$searchtype_cont_codrubro}
	</div>
	<div class="r-search-field">
		{$cont_codrubro_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_codrubro_editcontrol1}
	</div>
	
</div>

{END cont_codrubro_fieldblock}
											
{BEGIN cont_tipopre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_tipopre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_tipopre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="cont_tipopre" data-fieldname="cont_tipopre" >


	<label class="r-search-label control-label" for="{$labelfor_cont_tipopre}">
		{$label q_001_dashboard cont_tipopre }	</label>
	<div class="r-search-option">
		{$searchtype_cont_tipopre}
	</div>
	<div class="r-search-field">
		{$cont_tipopre_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_tipopre_editcontrol1}
	</div>
	
</div>

{END cont_tipopre_fieldblock}
											
{BEGIN cont_catalogo_presupuestal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_catalogo_presupuestal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_catalogo_presupuestal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="cont_catalogo_presupuestal" data-fieldname="cont_catalogo_presupuestal" >


	<label class="r-search-label control-label" for="{$labelfor_cont_catalogo_presupuestal}">
		{$label q_001_dashboard cont_catalogo_presupuestal }	</label>
	<div class="r-search-option">
		{$searchtype_cont_catalogo_presupuestal}
	</div>
	<div class="r-search-field">
		{$cont_catalogo_presupuestal_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_catalogo_presupuestal_editcontrol1}
	</div>
	
</div>

{END cont_catalogo_presupuestal_fieldblock}
											
{BEGIN cont_fase_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fase}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_fase{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="cont_fase" data-fieldname="cont_fase" >


	<label class="r-search-label control-label" for="{$labelfor_cont_fase}">
		{$label q_001_dashboard cont_fase }	</label>
	<div class="r-search-option">
		{$searchtype_cont_fase}
	</div>
	<div class="r-search-field">
		{$cont_fase_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_fase_editcontrol1}
	</div>
	
</div>

{END cont_fase_fieldblock}
											
{BEGIN FECHAI_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FECHAI}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FECHAI{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="FECHAI" data-fieldname="FECHAI" >


	<label class="r-search-label control-label" for="{$labelfor_FECHAI}">
		{$label q_001_dashboard FECHAI }	</label>
	<div class="r-search-option">
		{$searchtype_FECHAI}
	</div>
	<div class="r-search-field">
		{$FECHAI_editcontrol}	</div>
	<div class="r-search-field">
		{$FECHAI_editcontrol1}
	</div>
	
</div>

{END FECHAI_fieldblock}
											
{BEGIN FECHAINICIO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FECHAINICIO}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FECHAINICIO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="FECHAINICIO" data-fieldname="FECHAINICIO" >


	<label class="r-search-label control-label" for="{$labelfor_FECHAINICIO}">
		{$label q_001_dashboard FECHAINICIO }	</label>
	<div class="r-search-option">
		{$searchtype_FECHAINICIO}
	</div>
	<div class="r-search-field">
		{$FECHAINICIO_editcontrol}	</div>
	<div class="r-search-field">
		{$FECHAINICIO_editcontrol1}
	</div>
	
</div>

{END FECHAINICIO_fieldblock}
											
{BEGIN FECHAF_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FECHAF}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FECHAF{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="FECHAF" data-fieldname="FECHAF" >


	<label class="r-search-label control-label" for="{$labelfor_FECHAF}">
		{$label q_001_dashboard FECHAF }	</label>
	<div class="r-search-option">
		{$searchtype_FECHAF}
	</div>
	<div class="r-search-field">
		{$FECHAF_editcontrol}	</div>
	<div class="r-search-field">
		{$FECHAF_editcontrol1}
	</div>
	
</div>

{END FECHAF_fieldblock}
											
{BEGIN FECHAFINAL_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FECHAFINAL}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="FECHAFINAL{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="FECHAFINAL" data-fieldname="FECHAFINAL" >


	<label class="r-search-label control-label" for="{$labelfor_FECHAFINAL}">
		{$label q_001_dashboard FECHAFINAL }	</label>
	<div class="r-search-option">
		{$searchtype_FECHAFINAL}
	</div>
	<div class="r-search-field">
		{$FECHAFINAL_editcontrol}	</div>
	<div class="r-search-field">
		{$FECHAFINAL_editcontrol1}
	</div>
	
</div>

{END FECHAFINAL_fieldblock}
											
{BEGIN QTYDIAS_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_QTYDIAS}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="QTYDIAS{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="QTYDIAS" data-fieldname="QTYDIAS" >


	<label class="r-search-label control-label" for="{$labelfor_QTYDIAS}">
		{$label q_001_dashboard QTYDIAS }	</label>
	<div class="r-search-option">
		{$searchtype_QTYDIAS}
	</div>
	<div class="r-search-field">
		{$QTYDIAS_editcontrol}	</div>
	<div class="r-search-field">
		{$QTYDIAS_editcontrol1}
	</div>
	
</div>

{END QTYDIAS_fieldblock}
											
{BEGIN QTYMESES_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_QTYMESES}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="QTYMESES{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="QTYMESES" data-fieldname="QTYMESES" >


	<label class="r-search-label control-label" for="{$labelfor_QTYMESES}">
		{$label q_001_dashboard QTYMESES }	</label>
	<div class="r-search-option">
		{$searchtype_QTYMESES}
	</div>
	<div class="r-search-field">
		{$QTYMESES_editcontrol}	</div>
	<div class="r-search-field">
		{$QTYMESES_editcontrol1}
	</div>
	
</div>

{END QTYMESES_fieldblock}
											
{BEGIN VALORI_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_VALORI}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="VALORI{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="VALORI" data-fieldname="VALORI" >


	<label class="r-search-label control-label" for="{$labelfor_VALORI}">
		{$label q_001_dashboard VALORI }	</label>
	<div class="r-search-option">
		{$searchtype_VALORI}
	</div>
	<div class="r-search-field">
		{$VALORI_editcontrol}	</div>
	<div class="r-search-field">
		{$VALORI_editcontrol1}
	</div>
	
</div>

{END VALORI_fieldblock}
											
{BEGIN cont_fechaapertura_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fechaapertura}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_fechaapertura{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="cont_fechaapertura" data-fieldname="cont_fechaapertura" >


	<label class="r-search-label control-label" for="{$labelfor_cont_fechaapertura}">
		{$label q_001_dashboard cont_fechaapertura }	</label>
	<div class="r-search-option">
		{$searchtype_cont_fechaapertura}
	</div>
	<div class="r-search-field">
		{$cont_fechaapertura_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_fechaapertura_editcontrol1}
	</div>
	
</div>

{END cont_fechaapertura_fieldblock}
											
{BEGIN CDP_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CDP}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CDP{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="CDP" data-fieldname="CDP" >


	<label class="r-search-label control-label" for="{$labelfor_CDP}">
		{$label q_001_dashboard CDP }	</label>
	<div class="r-search-option">
		{$searchtype_CDP}
	</div>
	<div class="r-search-field">
		{$CDP_editcontrol}	</div>
	<div class="r-search-field">
		{$CDP_editcontrol1}
	</div>
	
</div>

{END CDP_fieldblock}
											
{BEGIN RP_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RP}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="RP{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="RP" data-fieldname="RP" >


	<label class="r-search-label control-label" for="{$labelfor_RP}">
		{$label q_001_dashboard RP }	</label>
	<div class="r-search-option">
		{$searchtype_RP}
	</div>
	<div class="r-search-field">
		{$RP_editcontrol}	</div>
	<div class="r-search-field">
		{$RP_editcontrol1}
	</div>
	
</div>

{END RP_fieldblock}
											
{BEGIN cont_tipoproceso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_tipoproceso}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_tipoproceso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="cont_tipoproceso" data-fieldname="cont_tipoproceso" >


	<label class="r-search-label control-label" for="{$labelfor_cont_tipoproceso}">
		{$label q_001_dashboard cont_tipoproceso }	</label>
	<div class="r-search-option">
		{$searchtype_cont_tipoproceso}
	</div>
	<div class="r-search-field">
		{$cont_tipoproceso_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_tipoproceso_editcontrol1}
	</div>
	
</div>

{END cont_tipoproceso_fieldblock}
											
{BEGIN cont_periodicidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_periodicidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_periodicidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field39" {$item_integrated_search_field39} data-pageid="{$pageid}" data-field="cont_periodicidad" data-fieldname="cont_periodicidad" >


	<label class="r-search-label control-label" for="{$labelfor_cont_periodicidad}">
		{$label q_001_dashboard cont_periodicidad }	</label>
	<div class="r-search-option">
		{$searchtype_cont_periodicidad}
	</div>
	<div class="r-search-field">
		{$cont_periodicidad_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_periodicidad_editcontrol1}
	</div>
	
</div>

{END cont_periodicidad_fieldblock}
											
{BEGIN periodo_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_periodo_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="periodo_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field40" {$item_integrated_search_field40} data-pageid="{$pageid}" data-field="periodo_name" data-fieldname="periodo_name" >


	<label class="r-search-label control-label" for="{$labelfor_periodo_name}">
		{$label q_001_dashboard periodo_name }	</label>
	<div class="r-search-option">
		{$searchtype_periodo_name}
	</div>
	<div class="r-search-field">
		{$periodo_name_editcontrol}	</div>
	<div class="r-search-field">
		{$periodo_name_editcontrol1}
	</div>
	
</div>

{END periodo_name_fieldblock}
											
{BEGIN periodo_value_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_periodo_value}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="periodo_value{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field41" {$item_integrated_search_field41} data-pageid="{$pageid}" data-field="periodo_value" data-fieldname="periodo_value" >


	<label class="r-search-label control-label" for="{$labelfor_periodo_value}">
		{$label q_001_dashboard periodo_value }	</label>
	<div class="r-search-option">
		{$searchtype_periodo_value}
	</div>
	<div class="r-search-field">
		{$periodo_value_editcontrol}	</div>
	<div class="r-search-field">
		{$periodo_value_editcontrol1}
	</div>
	
</div>

{END periodo_value_fieldblock}
											
{BEGIN periodo_dias_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_periodo_dias}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="periodo_dias{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field42" {$item_integrated_search_field42} data-pageid="{$pageid}" data-field="periodo_dias" data-fieldname="periodo_dias" >


	<label class="r-search-label control-label" for="{$labelfor_periodo_dias}">
		{$label q_001_dashboard periodo_dias }	</label>
	<div class="r-search-option">
		{$searchtype_periodo_dias}
	</div>
	<div class="r-search-field">
		{$periodo_dias_editcontrol}	</div>
	<div class="r-search-field">
		{$periodo_dias_editcontrol1}
	</div>
	
</div>

{END periodo_dias_fieldblock}
											
{BEGIN cont_informessug_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_informessug}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_informessug{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field43" {$item_integrated_search_field43} data-pageid="{$pageid}" data-field="cont_informessug" data-fieldname="cont_informessug" >


	<label class="r-search-label control-label" for="{$labelfor_cont_informessug}">
		{$label q_001_dashboard cont_informessug }	</label>
	<div class="r-search-option">
		{$searchtype_cont_informessug}
	</div>
	<div class="r-search-field">
		{$cont_informessug_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_informessug_editcontrol1}
	</div>
	
</div>

{END cont_informessug_fieldblock}
											
{BEGIN periodo_meses_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_periodo_meses}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="periodo_meses{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field44" {$item_integrated_search_field44} data-pageid="{$pageid}" data-field="periodo_meses" data-fieldname="periodo_meses" >


	<label class="r-search-label control-label" for="{$labelfor_periodo_meses}">
		{$label q_001_dashboard periodo_meses }	</label>
	<div class="r-search-option">
		{$searchtype_periodo_meses}
	</div>
	<div class="r-search-field">
		{$periodo_meses_editcontrol}	</div>
	<div class="r-search-field">
		{$periodo_meses_editcontrol1}
	</div>
	
</div>

{END periodo_meses_fieldblock}
											
{BEGIN cont_objeto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_objeto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_objeto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field45" {$item_integrated_search_field45} data-pageid="{$pageid}" data-field="cont_objeto" data-fieldname="cont_objeto" >


	<label class="r-search-label control-label" for="{$labelfor_cont_objeto}">
		{$label q_001_dashboard cont_objeto }	</label>
	<div class="r-search-option">
		{$searchtype_cont_objeto}
	</div>
	<div class="r-search-field">
		{$cont_objeto_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_objeto_editcontrol1}
	</div>
	
</div>

{END cont_objeto_fieldblock}
											
{BEGIN cont_fechavigencia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_fechavigencia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_fechavigencia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field46" {$item_integrated_search_field46} data-pageid="{$pageid}" data-field="cont_fechavigencia" data-fieldname="cont_fechavigencia" >


	<label class="r-search-label control-label" for="{$labelfor_cont_fechavigencia}">
		{$label q_001_dashboard cont_fechavigencia }	</label>
	<div class="r-search-option">
		{$searchtype_cont_fechavigencia}
	</div>
	<div class="r-search-field">
		{$cont_fechavigencia_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_fechavigencia_editcontrol1}
	</div>
	
</div>

{END cont_fechavigencia_fieldblock}
											
{BEGIN VALORINICIAL_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_VALORINICIAL}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="VALORINICIAL{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field47" {$item_integrated_search_field47} data-pageid="{$pageid}" data-field="VALORINICIAL" data-fieldname="VALORINICIAL" >


	<label class="r-search-label control-label" for="{$labelfor_VALORINICIAL}">
		{$label q_001_dashboard VALORINICIAL }	</label>
	<div class="r-search-option">
		{$searchtype_VALORINICIAL}
	</div>
	<div class="r-search-field">
		{$VALORINICIAL_editcontrol}	</div>
	<div class="r-search-field">
		{$VALORINICIAL_editcontrol1}
	</div>
	
</div>

{END VALORINICIAL_fieldblock}
											
{BEGIN cont_valormensual_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valormensual}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_valormensual{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field48" {$item_integrated_search_field48} data-pageid="{$pageid}" data-field="cont_valormensual" data-fieldname="cont_valormensual" >


	<label class="r-search-label control-label" for="{$labelfor_cont_valormensual}">
		{$label q_001_dashboard cont_valormensual }	</label>
	<div class="r-search-option">
		{$searchtype_cont_valormensual}
	</div>
	<div class="r-search-field">
		{$cont_valormensual_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_valormensual_editcontrol1}
	</div>
	
</div>

{END cont_valormensual_fieldblock}
											
{BEGIN iva_regimen_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_iva_regimen}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="iva_regimen{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field49" {$item_integrated_search_field49} data-pageid="{$pageid}" data-field="iva_regimen" data-fieldname="iva_regimen" >


	<label class="r-search-label control-label" for="{$labelfor_iva_regimen}">
		{$label q_001_dashboard iva_regimen }	</label>
	<div class="r-search-option">
		{$searchtype_iva_regimen}
	</div>
	<div class="r-search-field">
		{$iva_regimen_editcontrol}	</div>
	<div class="r-search-field">
		{$iva_regimen_editcontrol1}
	</div>
	
</div>

{END iva_regimen_fieldblock}
											
{BEGIN cont_iva_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_iva}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_iva{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field50" {$item_integrated_search_field50} data-pageid="{$pageid}" data-field="cont_iva" data-fieldname="cont_iva" >


	<label class="r-search-label control-label" for="{$labelfor_cont_iva}">
		{$label q_001_dashboard cont_iva }	</label>
	<div class="r-search-option">
		{$searchtype_cont_iva}
	</div>
	<div class="r-search-field">
		{$cont_iva_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_iva_editcontrol1}
	</div>
	
</div>

{END cont_iva_fieldblock}
											
{BEGIN cont_valormensual_base_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valormensual_base}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_valormensual_base{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field51" {$item_integrated_search_field51} data-pageid="{$pageid}" data-field="cont_valormensual_base" data-fieldname="cont_valormensual_base" >


	<label class="r-search-label control-label" for="{$labelfor_cont_valormensual_base}">
		{$label q_001_dashboard cont_valormensual_base }	</label>
	<div class="r-search-option">
		{$searchtype_cont_valormensual_base}
	</div>
	<div class="r-search-field">
		{$cont_valormensual_base_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_valormensual_base_editcontrol1}
	</div>
	
</div>

{END cont_valormensual_base_fieldblock}
											
{BEGIN cont_valormensual_iva_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_valormensual_iva}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_valormensual_iva{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field52" {$item_integrated_search_field52} data-pageid="{$pageid}" data-field="cont_valormensual_iva" data-fieldname="cont_valormensual_iva" >


	<label class="r-search-label control-label" for="{$labelfor_cont_valormensual_iva}">
		{$label q_001_dashboard cont_valormensual_iva }	</label>
	<div class="r-search-option">
		{$searchtype_cont_valormensual_iva}
	</div>
	<div class="r-search-field">
		{$cont_valormensual_iva_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_valormensual_iva_editcontrol1}
	</div>
	
</div>

{END cont_valormensual_iva_fieldblock}
											
{BEGIN CONTVINCULADO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CONTVINCULADO}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CONTVINCULADO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field53" {$item_integrated_search_field53} data-pageid="{$pageid}" data-field="CONTVINCULADO" data-fieldname="CONTVINCULADO" >


	<label class="r-search-label control-label" for="{$labelfor_CONTVINCULADO}">
		{$label q_001_dashboard CONTVINCULADO }	</label>
	<div class="r-search-option">
		{$searchtype_CONTVINCULADO}
	</div>
	<div class="r-search-field">
		{$CONTVINCULADO_editcontrol}	</div>
	<div class="r-search-field">
		{$CONTVINCULADO_editcontrol1}
	</div>
	
</div>

{END CONTVINCULADO_fieldblock}
											
{BEGIN cont_paa_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_paa_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_paa_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field54" {$item_integrated_search_field54} data-pageid="{$pageid}" data-field="cont_paa_id" data-fieldname="cont_paa_id" >


	<label class="r-search-label control-label" for="{$labelfor_cont_paa_id}">
		{$label q_001_dashboard cont_paa_id }	</label>
	<div class="r-search-option">
		{$searchtype_cont_paa_id}
	</div>
	<div class="r-search-field">
		{$cont_paa_id_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_paa_id_editcontrol1}
	</div>
	
</div>

{END cont_paa_id_fieldblock}
											
{BEGIN cont_tipoc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_tipoc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_tipoc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field55" {$item_integrated_search_field55} data-pageid="{$pageid}" data-field="cont_tipoc" data-fieldname="cont_tipoc" >


	<label class="r-search-label control-label" for="{$labelfor_cont_tipoc}">
		{$label q_001_dashboard cont_tipoc }	</label>
	<div class="r-search-option">
		{$searchtype_cont_tipoc}
	</div>
	<div class="r-search-field">
		{$cont_tipoc_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_tipoc_editcontrol1}
	</div>
	
</div>

{END cont_tipoc_fieldblock}
											
{BEGIN ct_tipo_nombre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ct_tipo_nombre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ct_tipo_nombre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field56" {$item_integrated_search_field56} data-pageid="{$pageid}" data-field="ct_tipo_nombre" data-fieldname="ct_tipo_nombre" >


	<label class="r-search-label control-label" for="{$labelfor_ct_tipo_nombre}">
		{$label q_001_dashboard ct_tipo_nombre }	</label>
	<div class="r-search-option">
		{$searchtype_ct_tipo_nombre}
	</div>
	<div class="r-search-field">
		{$ct_tipo_nombre_editcontrol}	</div>
	<div class="r-search-field">
		{$ct_tipo_nombre_editcontrol1}
	</div>
	
</div>

{END ct_tipo_nombre_fieldblock}
											
{BEGIN cont_modalidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_modalidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_modalidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field57" {$item_integrated_search_field57} data-pageid="{$pageid}" data-field="cont_modalidad" data-fieldname="cont_modalidad" >


	<label class="r-search-label control-label" for="{$labelfor_cont_modalidad}">
		{$label q_001_dashboard cont_modalidad }	</label>
	<div class="r-search-option">
		{$searchtype_cont_modalidad}
	</div>
	<div class="r-search-field">
		{$cont_modalidad_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_modalidad_editcontrol1}
	</div>
	
</div>

{END cont_modalidad_fieldblock}
											
{BEGIN des_mod_proceso_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_des_mod_proceso}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="des_mod_proceso{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field58" {$item_integrated_search_field58} data-pageid="{$pageid}" data-field="des_mod_proceso" data-fieldname="des_mod_proceso" >


	<label class="r-search-label control-label" for="{$labelfor_des_mod_proceso}">
		{$label q_001_dashboard des_mod_proceso }	</label>
	<div class="r-search-option">
		{$searchtype_des_mod_proceso}
	</div>
	<div class="r-search-field">
		{$des_mod_proceso_editcontrol}	</div>
	<div class="r-search-field">
		{$des_mod_proceso_editcontrol1}
	</div>
	
</div>

{END des_mod_proceso_fieldblock}
											
{BEGIN cont_causalc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_causalc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_causalc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field59" {$item_integrated_search_field59} data-pageid="{$pageid}" data-field="cont_causalc" data-fieldname="cont_causalc" >


	<label class="r-search-label control-label" for="{$labelfor_cont_causalc}">
		{$label q_001_dashboard cont_causalc }	</label>
	<div class="r-search-option">
		{$searchtype_cont_causalc}
	</div>
	<div class="r-search-field">
		{$cont_causalc_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_causalc_editcontrol1}
	</div>
	
</div>

{END cont_causalc_fieldblock}
											
{BEGIN ctb_tipo_nombre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ctb_tipo_nombre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ctb_tipo_nombre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field60" {$item_integrated_search_field60} data-pageid="{$pageid}" data-field="ctb_tipo_nombre" data-fieldname="ctb_tipo_nombre" >


	<label class="r-search-label control-label" for="{$labelfor_ctb_tipo_nombre}">
		{$label q_001_dashboard ctb_tipo_nombre }	</label>
	<div class="r-search-option">
		{$searchtype_ctb_tipo_nombre}
	</div>
	<div class="r-search-field">
		{$ctb_tipo_nombre_editcontrol}	</div>
	<div class="r-search-field">
		{$ctb_tipo_nombre_editcontrol1}
	</div>
	
</div>

{END ctb_tipo_nombre_fieldblock}
											
{BEGIN cont_secop_enlace_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_secop_enlace}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_secop_enlace{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field61" {$item_integrated_search_field61} data-pageid="{$pageid}" data-field="cont_secop_enlace" data-fieldname="cont_secop_enlace" >


	<label class="r-search-label control-label" for="{$labelfor_cont_secop_enlace}">
		{$label q_001_dashboard cont_secop_enlace }	</label>
	<div class="r-search-option">
		{$searchtype_cont_secop_enlace}
	</div>
	<div class="r-search-field">
		{$cont_secop_enlace_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_secop_enlace_editcontrol1}
	</div>
	
</div>

{END cont_secop_enlace_fieldblock}
											
{BEGIN cont_dep_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_dep}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cont_dep{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field62" {$item_integrated_search_field62} data-pageid="{$pageid}" data-field="cont_dep" data-fieldname="cont_dep" >


	<label class="r-search-label control-label" for="{$labelfor_cont_dep}">
		{$label q_001_dashboard cont_dep }	</label>
	<div class="r-search-option">
		{$searchtype_cont_dep}
	</div>
	<div class="r-search-field">
		{$cont_dep_editcontrol}	</div>
	<div class="r-search-field">
		{$cont_dep_editcontrol1}
	</div>
	
</div>

{END cont_dep_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
